<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="_header_include::frag(~{::title},~{::link},~{})">
    <title>我的工作台-电销员工</title>
    <link rel="stylesheet" th:href="@{/css/custom/console/console.css}">
</head>
<body>
<div id="mainDiv"  class="mainPadding consoleStyle">
    <!-- 工作台 -->
    <el-breadcrumb separator="/" class="elBreadcrumb marginB20">
        <el-breadcrumb-item>Home</el-breadcrumb-item>
        <el-breadcrumb-item>电销管理</el-breadcrumb-item>
        <el-breadcrumb-item>电销中心</el-breadcrumb-item>
        <el-breadcrumb-item>我的工作台</el-breadcrumb-item>
    </el-breadcrumb>
    <el-row>
        <div class="tip">感谢您辛苦工作的第<em>300</em>天，累计业绩达<em>100000</em>元，继续努力！</div>
        <div class="affiche marginB20">
            <span>系统公告：系统将于2018年12月5日晚上12:00进行系统升级，请各位同事及时处理工作。系统预计在12:20分恢复正常使用,感谢配合!</span>
        </div>
        <div class="title">数字看板</div>
        <ul class="board">
            <li>
                <div class="tit">今日领取资源数</div>
                <div class="cnt">
                    <div class="f-fl">50</div>
                    <div class="f-fr"><img th:src="@{/images/icon_receive.png}" alt=""></div>
                </div>
            </li>
            <li>
                <div class="tit">今日分配资源数</div>
                <div class="cnt">
                    <div class="f-fl">50</div>
                    <div class="f-fr"><img th:src="@{/images/icon_distribution.png}" alt=""></div>
                </div>
            </li>
            <li class="boardStyle2">
                <div class="tit">今日邀约数</div>
                <div class="cnt">
                    <div class="f-fl">50</div>
                    <div class="f-fr"><img th:src="@{/images/icon_appointment.png}" alt=""></div>
                </div>
            </li>
            <li class="boardStyle2">
                <div class="tit">今日到访数</div>
                <div class="cnt">
                    <div class="f-fl">50</div>
                    <div class="f-fr"><img th:src="@{/images/icon_arrive.png}" alt=""></div>
                </div>
            </li>
            <li class="boardStyle3">
                <div class="tit">今日签约数</div>
                <div class="cnt">
                    <div class="f-fl">50</div>
                    <div class="f-fr"><img th:src="@{/images/icon_sign.png}" alt=""></div>
                </div>
            </li>
            <li class="boardStyle3">
                <div class="tit">今日通话时长</div>
                <div class="cnt">
                    <div class="f-fl">3:50</div>
                    <div class="f-fr"><img th:src="@{/images/icon_call.png}" alt=""></div>
                </div>
            </li>
            <li class="boardStyle4">
                <div class="tit">当月到访数</div>
                <div class="cnt">
                    <div class="f-fl">50</div>
                    <div class="f-fr"><img th:src="@{/images/icon_arrive.png}" alt=""></div>
                </div>
            </li>
            <li class="boardStyle4">
                <div class="tit">当月签约数</div>
                <div class="cnt">
                    <div class="f-fl">50</div>
                    <div class="f-fr"><img th:src="@{/images/icon_sign.png}" alt=""></div>
                </div>
            </li>
            <li class="boardStyle5">
                <div class="tit">累计邀约数</div>
                <div class="cnt">
                    <div class="f-fl">650</div>
                    <div class="f-fr"><img th:src="@{/images/icon_invitation.png}" alt=""></div>
                </div>
            </li>
        </ul>
        <ul class="boardTab">
            <li>
                <el-tabs v-model="activeName" @tab-click="handleClick">
                    <el-tab-pane label="当月" name="1">
                        <img th:src="@{/images/icon_achievement.png}" alt="">
                        <div class="name">当月业绩</div>
                        <div class="num">100</div>
                    </el-tab-pane>
                    <el-tab-pane label="季度" name="2">
                        <img th:src="@{/images/icon_achievement.png}" alt="">
                        <div class="name">季度业绩</div>
                        <div class="num">101</div>
                    </el-tab-pane>
                    <el-tab-pane label="年度" name="3">
                        <img th:src="@{/images/icon_achievement.png}" alt="">
                        <div class="name">年度业绩</div>
                        <div class="num">102</div>
                    </el-tab-pane>
                </el-tabs>
            </li>
            <li class="boardTabStyle2">
                <el-tabs v-model="activeName2" @tab-click="handleClick">
                    <el-tab-pane label="当月" name="1">
                        <img th:src="@{/images/icon_ranking.png}" alt="">
                        <div class="name">组内排名</div>
                        <div class="num">4</div>
                    </el-tab-pane>
                    <el-tab-pane label="季度" name="2">
                        <img th:src="@{/images/icon_ranking.png}" alt="">
                        <div class="name">组内排名</div>
                        <div class="num">5</div>
                    </el-tab-pane>
                    <el-tab-pane label="年度" name="3">
                        <img th:src="@{/images/icon_ranking.png}" alt="">
                        <div class="name">组内排名</div>
                        <div class="num">6</div>
                    </el-tab-pane>
                </el-tabs>
            </li>
            <li class="boardTabStyle3">
                <el-tabs v-model="activeName3" @tab-click="handleClick">
                    <el-tab-pane label="当月" name="1">
                        <img th:src="@{/images/icon_disparity.png}" alt="">
                        <div class="name">距组内上一名业绩差</div>
                        <div class="num">100</div>
                    </el-tab-pane>
                    <el-tab-pane label="季度" name="2">
                        <img th:src="@{/images/icon_disparity.png}" alt="">
                        <div class="name">距组内上一名业绩差</div>
                        <div class="num">101</div>
                    </el-tab-pane>
                    <el-tab-pane label="年度" name="3">
                        <img th:src="@{/images/icon_disparity.png}" alt="">
                        <div class="name">距组内上一名业绩差</div>
                        <div class="num">102</div>
                    </el-tab-pane>
                </el-tabs>
            </li>
            <li class="boardTabStyle4">
                <el-tabs v-model="activeName4" @tab-click="handleClick">
                    <el-tab-pane label="当月" name="1">
                        <img th:src="@{/images/icon_gspm.png}" alt="">
                        <div class="name">公司排名</div>
                        <div class="num">6</div>
                    </el-tab-pane>
                    <el-tab-pane label="季度" name="2">
                        <img th:src="@{/images/icon_gspm.png}" alt="">
                        <div class="name">公司排名</div>
                        <div class="num">5</div>
                    </el-tab-pane>
                    <el-tab-pane label="年度" name="3">
                        <img th:src="@{/images/icon_gspm.png}" alt="">
                        <div class="name">公司排名</div>
                        <div class="num">4</div>
                    </el-tab-pane>
                </el-tabs>
            </li>
            <li class="boardTabStyle5">
                <el-tabs v-model="activeName5" @tab-click="handleClick">
                    <el-tab-pane label="当月" name="1">
                        <img th:src="@{/images/icon_yjc.png}" alt="">
                        <div class="name">距公司上一名业绩差</div>
                        <div class="num">100</div>
                    </el-tab-pane>
                    <el-tab-pane label="季度" name="2">
                        <img th:src="@{/images/icon_yjc.png}" alt="">
                        <div class="name">距公司上一名业绩差</div>
                        <div class="num">101</div>
                    </el-tab-pane>
                    <el-tab-pane label="年度" name="3">
                        <img th:src="@{/images/icon_yjc.png}" alt="">
                        <div class="name">距公司上一名业绩差</div>
                        <div class="num">102</div>
                    </el-tab-pane>
                </el-tabs>
            </li>
        </ul>
        <div class="title">消息提醒</div>
        <ul class="news">
            <li><em></em>新分配客户3人，请到我的客户列表进行查收。</li>
            <li><em></em>您的客户“客户姓名”-13041123558回访时间2018-10-1815:35:00即将到，请及时进行回访！</li>
            <li><em></em>“客户姓名-电话”即将在释放时间进行释放，请及时进行跟进。</li>
            <li><em></em>XX客户+电话号码因没有及时进行跟进记录的填写，即将在释放时间进行释放，请及时跟进。</li>
        </ul>        
    </el-row>
    <!-- 工作台结束 -->
    <el-row type="flex" class="row-bg marginB10" justify="start">
        <el-button type="primary" @click="openReceive">领取</el-button>
    </el-row>
    <el-table :data="tableData" border style="width: 100%" tooltip-effect="light"  ref="multipleTable" @selection-change="handleSelectionChange"    @row-dblclick="showClueDetailInfo">
        <el-table-column type="selection" width="55" prop="clueid" align="center"></el-table-column>
        <el-table-column prop="cusName" label="客户姓名"  align="center"></el-table-column>
        <el-table-column prop="" label="资源类型" align="center"></el-table-column>
        <el-table-column prop="" label="资源类别" align="center"></el-table-column>
        <el-table-column prop="" label="跟进记录"  align="center">
            <template slot-scope="scope">
                <el-button @click="openTrackingDialog(scope.row.clueid)" type="text" size="small">
                    点击查看
                </el-button>
            </template>
        </el-table-column>
        <el-table-column prop="" label="重复手机号资源"  align="center" width="120">
            <template slot-scope="scope">
                <el-button @click="repeatPhonesClick(scope.row)" type="text" size="small">点击查看</el-button>
            </template>
        </el-table-column>
        <el-table-column prop="releaseReasonName" label="释放原因" align="center" width="170"></el-table-column>
        <el-table-column prop="customerStatusName" label="客户状态" align="center" width="150"></el-table-column>
    </el-table>
    <table-pagination :pager="pager"  @change="initList"></table-pagination>
    <!-- 跟进记录 -->
    <dialog-tracking :param="trackingParam"></dialog-tracking>
    <!-- 重复资源信息 -->
    <el-dialog :title="'手机号'+dailogTitleType+'重复资源信息'"    :visible.sync="repeatPhonesDialog">
        <el-table
            ref="singleTable" 
            tooltip-effect="dark"
            style="width: 100%"
            border
            :data="repeatPhonesTable" 
            >
            <el-table-column align="center" type="index" width="55" label="序号"></el-table-column>
            <el-table-column align="center" prop="createDate" label="资源创建时间"></el-table-column>
            <el-table-column align="center" prop="cusPhone" label="联系方式"></el-table-column>
            <el-table-column align="center" prop="teleDirectorName" label="电销总监"></el-table-column>
            <el-table-column align="center" prop="teleSaleName" label="创业顾问"></el-table-column>
            <el-table-column align="center" prop="teleGorupName" label="电销组"></el-table-column>
            <el-table-column align="center" prop="teleProject" label="电销组负责项目"></el-table-column>
            <el-table-column align="center" prop="createUserRoleName" label="资源创建人角色"></el-table-column>  
            <el-table-column align="center" prop="createUserName" label="资源创建人"></el-table-column> 
        </el-table>
    </el-dialog>
    <el-dialog :title="receiveTitle" :visible.sync="receiveDialog">
        <el-table
            ref="singleTable" 
            tooltip-effect="dark"
            style="width: 100%"
            border
            :data="receiveTable" 
            >
            <el-table-column align="center" type="index" width="55" label="序号"></el-table-column>
            <el-table-column align="center" prop="cusName" label="资源姓名"></el-table-column>
            <el-table-column align="center" prop="phone" label="手机号"></el-table-column>
        </el-table>
    </el-dialog>
</div>

<!-- import common js-->
<div th:include="_footer_include :: #jsLib"></div>
<script th:inline="javascript">
    // <!--电销组-->
    var dzList=[[${dzList}]];
    var dxgwList=[[${dxgwList}]];
    var dxzjList = [[${dxzjList}]];
    var releaseReasonList=[[${releaseReasonList}]];//用户自定义字段
    // 查询 模块
    var mainDivVM = new Vue({
        el: '#mainDiv',
        data: {
        	tablecluereleaseData:[],
        	cluereleaseFormVisible:false,
        	cluereleasetitle:"",
        	receiveDialog:false,
        	receiveTitle:"",
        	repeatPhonesDialog:false,
        	dailogTitleType:"",
            repeatPhonesDialog:false,//重复手机号
            allocationDialogFormVisible:false,
            releaseDialogFormVisible:false,
            transDialogFormVisible:false,
            formLabelWidth:"150px",
            tableData:[],
            tableReData:[],
            categoryArr:[],
            typeArr:[],
            reasonArr:[],
            cusStatusArr:[],
            teleketGroupArr:dzList,
            teleketSaleArr:dxgwList,
            teleketDirectorArr:dxzjList,
            repeatArr:[{value:1,name:'是'},{value:0,name:'否'}],
            orgLeafOptions:[],
            multipleSelection:[],
            queryForm:{
                releaseReasons:[],
                releaseReason:"",
                customerStatus:"",
                teleGorupId:"",
                teleSaleIds:[],
                project:"",
                isRepeatPhone:"",
                createTime1:"",
                createTime2:"",
                releaseTime1:"",
                releaseTime2:"",
                searchWord:"",
                phone:"",
                type:"",
                category:"",
                address:""
            },
            release:{
                customerName:"",
                releaseReason:"",
                releaseUserName:""
            },
            allocation:{
                saleid:""
            },
            trans:{
                director:""
            },
            transrules:{
                director: [
                    {required: true, message: '请选择电销总监', trigger: 'change'},
                ],
            },
            allorules:{
                saleid: [
                    {required: true, message: '请选择电销顾问', trigger: 'change'},
                ],
            },
            pager:{
                total: 0,
                currentPage: 1,
                pageSize: 20,
            },
            releasePager:{
                total: 0,
                currentPage: 1,
                pageSize: 20,
            },
            trackingParam:{
                trackingDialogVisible:false,
                tableData:[]
            },
            repeatPhonesTable:[],
            receiveTable:[],
            // 工作台
            activeName:'1',
            activeName2:'1',
            activeName3:'1',
            activeName4:'1',
            activeName5:'1'
        },
        methods: {
       	    transformReason(row, column, cellValue, index) {
            	var text="";
            	if(releaseReasonList){
	                for(var i=0;i<releaseReasonList.length;i++){
                		if(cellValue==releaseReasonList[i].value){
                			text=releaseReasonList[i].name;
                		}
                	}
            	}
                return text;
            },
            formatCusLevel(row, column){
                return row.cusLevel==1?"VIP": row.cusLevel==2?"重要":row.cusLevel==2?"普通":""
            },
            openTrackingDialog(cid){
                var param = {};
                param.clueId = cid;
                axios.post('/aggregation/tracking/queryList', param)
                    .then(function (response) {
                        if (response.data.code == 0) {
                            mainDivVM.trackingParam.tableData = response.data.data
                            mainDivVM.trackingParam.trackingDialogVisible = true;
                        } else {
                            mainDivVM.$message.error(response.data.msg);
                        }
                    }).catch(function (error) {
                    console.log(error);
                });

            },
            allocationSubmit(){
                this.$refs['allocation'].validate((valid) => {
                    if (valid) {
                        var param = {};

                        param.teleSaleId = this.allocation.saleid;
                        param.cliueIdsList = []
                        for(var i = 0 ; i < this.multipleSelection.length ; i++ ){
                            param.cliueIdsList.push(this.multipleSelection[i].clueid)
                        }
                        axios.post('/aggregation/publiccustomer/allocationResource', param)
                            .then(function (response) {
                                if (response.data.code == 0) {
                                    mainDivVM.$message({
                                        type: 'success', message: '资源分配成功!', duration: 2000, onClose: function () {
                                            mainDivVM.initList();
                                            mainDivVM.allocationDialogFormVisible = false;
                                        }
                                    });
                                } else {
                                    mainDivVM.$message.error(response.data.msg);
                                }
                            }).catch(function (error) {
                            console.log(error);
                        });
                    } else {
                        console.log('数据未通过校验！');
                        return false;
                    }
                })
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            resetForm(formName) {
                if( mainDivVM.$refs[formName]) {
                    mainDivVM.$refs[formName].resetFields();
                }
            },
            initList(){
                var param = this.queryForm;
                param.pageSize = this.pager.pageSize;
                param.pageNum =  this.pager.currentPage;
                axios.post('/aggregation/publiccustomer/queryPage',param).then(function (response) {
                    if(null===response||response.data==null||response.data.code!='0'){
                        if(response.data.code!='0'){
                            mainDivVM.$message({message: response.data.msg, type: 'warning'});
                        }
                        return false;
                    }else{
                        mainDivVM.tableData =response.data.data.data;
                        mainDivVM.pager.currentPage= response.data.data.currentPage;
                        mainDivVM.pager.total= response.data.data.total;
                        mainDivVM.pager.pageSize =  response.data.data.pageSize;
                    }
                })
            },
            openReceive(){//领取                
                if(this.multipleSelection.length==0){
                    this.$message({message: '请选择资源', type: 'warning'});
                    return false;
                }else{
                	var param={};
                	param.idList = []
                	 for(var i = 0 ; i < this.multipleSelection.length ; i++ ){
                         param.idList.push(this.multipleSelection[i].clueid)
                     }
                	  axios.post('/clue/cluereceiverecords/receiveClueByClueIds', param)
                      .then(function (response) {
                            var result =  response.data;
                            if(result.code == 0){
                            	if(result.data !=null){
                            		var data = result.data;
                            		if(data.backStatus ==3){
                            			mainDivVM.$message({message: data.backResult, type: 'warning'});
                            		}else if(data.backStatus !=0){
                            			mainDivVM.receiveDialog = true;
                            			mainDivVM.receiveTitle=data.backResult;
                            			mainDivVM.receiveTable= data.clueCustomerDTOs;
                            		}else{
                            			window.location.href="/aggregation/publiccustomer/listPage"; 
                            		}
                            	}                                
                            }else{
                            	mainDivVM.$message({message: result.msg, type: 'warning'});
                            }
                            
                      }).catch(function (error) {
                                  console.log(error);
                      })           
                    // 1、本组释放到公有池的资源，本组的电销人员不能再捡了
                    // 2、总监领取老资源上限按照领取规则管理中设置的限制进行限制
                    // 3、电销人员领取新资源上限按照领取规则管理中设置的限制进行限制
                    var resourceType=1;//假数据
                 /*    if(resourceType==1){
                        this.$alert('此资源（资源姓名+手机号）为组内资源，不可进行领取。', '提示', {
                          confirmButtonText: '确定',
                          callback: action => {
                            this.$message({
                              type: 'info',
                              message: `action: ${ action }`
                            });
                          }
                        });
                        return;
                    }else if(resourceType==2){
                        this.$alert('今日领取超限制XX数。', '提示');
                        return;
                    }else if(resourceType==3){
                        this.$alert('今日领取超限制XX数。', '提示');
                        return;
                    }else{
                        //领取成功
                        this.$message({
                            message: '资源领取成功',
                            type: 'success'
                        });
                    } */
                }
            },
            //展现详情
            showClueDetailInfo (row, column) {
                window.location.href='/tele/clueMyCustomerInfo/customerInfoReadOnly?clueId='+row.clueid+"&commonPool=1";
            },
            repeatPhonesClick(row) {//重复手机号按钮点击
                this.repeatPhonesDialog=true;
                this.dailogTitleType=row.phone;
                var param ={};
                    param.id = row.clueId;
                      param.cusPhone = row.phone;
                        axios.post('/clue/appiontment/repeatPhonelist', param)
                          .then(function (response) {
                                var result =  response.data;
                                var table=result.data;
                                mainDivVM.repeatPhonesTable= table;
                                mainDivVM.repeatPhonesDialog=true;
                          })  .catch(function (error) {
                                      console.log(error);
                });

            },
            // 工作台
            handleClick(tab, event) {
                console.log(tab, event);
            }
        },
        created(){
            this.initList();
            //初始资源类别数据
            var  param={};
            param.groupCode="clueCategory";
            axios.post('/dictionary/DictionaryItem/dicItemsByGroupCode',param).then(function (response) {
                mainDivVM.categoryArr=response.data.data;
            });
            //初始化资源类型数据
            param={};
            param.groupCode="clueType";
            axios.post('/dictionary/DictionaryItem/dicItemsByGroupCode',param).then(function (response) {
                mainDivVM.typeArr=response.data.data;
            });
            // 初始化释放原因
            param={};
            param.groupCode="releaseReason";
            axios.post('/dictionary/DictionaryItem/dicItemsByGroupCode',param).then(function (response) {
                mainDivVM.reasonArr=response.data.data;
                if(mainDivVM.reasonArr.length==8){
                    mainDivVM.reasonArr = mainDivVM.reasonArr.slice(0,7);
                }
            });
            //初始化客户状态
            param={};
            param.groupCode="customerStatus";
            axios.post('/dictionary/DictionaryItem/dicItemsByGroupCode',param).then(function (response) {
                mainDivVM.cusStatusArr=response.data.data;
            });

            // 初始化table数据

        }
    });

</script>
</body>
</html>