<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="_header_include::frag(~{::title},~{::link},~{})">
    <title>我的工作台-商务总监</title>
    <link rel="stylesheet" th:href="@{/css/custom/console/console.css}">
</head>
<body>
<div id="mainDiv"  class="mainPadding consoleStyle" style="display: none;">
    <!-- 工作台 -->
    <el-breadcrumb separator="/" class="elBreadcrumb marginB20">
        <el-breadcrumb-item>Home</el-breadcrumb-item>
        <el-breadcrumb-item>商务管理</el-breadcrumb-item>
        <el-breadcrumb-item>我的工作台</el-breadcrumb-item>
    </el-breadcrumb>
    <el-row>
        <div class="tip">感谢您辛苦工作的第<em>--</em>天，累计业绩达<em>--</em>元，继续努力！</div>
        <div class="affiche marginB20">
            <span class="f-fl">系统公告：</span>   
            <marquee class="f-fl" style="width: 90%;">
                <ul>
                    <li v-for="item in items" :key="item.id">{{ item.content }}</li>
                </ul>                
            </marquee>         
        </div>
        <div class="title">
            <div class="leftbox f-fl"><img th:src="@{/images/icon_kb.png}" alt="" class="f-fl">数字看板</div>
        </div>
        <ul class="board">
            <li>
                <div class="tit">待分配任务数</div>
                <div class="cnt">
                    <div class="f-fl">{{unAssignNum}}</div>
                    <div class="f-fr"><img th:src="@{/images/icon_distribution.png}" alt=""></div>
                </div>
            </li>
            <li>
                <div class="tit">今日到访数</div>
                <div class="cnt">
                    <div class="f-fl">--</div>
                    <div class="f-fr"><img th:src="@{/images/icon_arrive.png}" alt=""></div>
                </div>
            </li>
            <li>
                <div class="tit">今日签约数</div>
                <div class="cnt">
                    <div class="f-fl">--</div>
                    <div class="f-fr"><img th:src="@{/images/icon_sign.png}" alt=""></div>
                </div>
            </li>
            <li class="boardStyle2">
                <div class="tit">预计明日到访数</div>
                <div class="cnt">
                    <div class="f-fl">{{direcotorTomorrowArriveTime}}</div>
                    <div class="f-fr"><img th:src="@{/images/icon_arrive.png}" alt=""></div>
                </div>
            </li>
            <li class="boardStyle3">
                <div class="tit">当月签约率</div>
                <div class="cnt">
                    <div class="f-fl">--</div>
                    <div class="f-fr"><img th:src="@{/images/icon_sign.png}" alt=""></div>
                </div>
            </li>
            <li class="boardStyle3">
                <div class="tit">当月首访签约率</div>
                <div class="cnt">
                    <div class="f-fl">--</div>
                    <div class="f-fr"><img th:src="@{/images/icon_sign.png}" alt=""></div>
                </div>
            </li>
            <li class="boardStyle3">
                <div class="tit">当月全款签约率</div>
                <div class="cnt">
                    <div class="f-fl">--</div>
                    <div class="f-fr"><img th:src="@{/images/icon_sign.png}" alt=""></div>
                </div>
            </li>
            <li class="boardStyle4">
                <div class="tit">当月二次到访数</div>
                <div class="cnt">
                    <div class="f-fl">{{secondVisitedNum}}</div>
                    <div class="f-fr"><img th:src="@{/images/icon_arrive.png}" alt=""></div>
                </div>
            </li>
            <li class="boardStyle4">
                <div class="tit">当月二次到访签约数</div>
                <div class="cnt">
                    <div class="f-fl">{{secondSignedNum}}</div>
                    <div class="f-fr"><img th:src="@{/images/icon_sign.png}" alt=""></div>
                </div>
            </li>
            <li class="boardStyle5">
                <div class="tit">未收齐尾款笔数</div>
                <div class="cnt">
                    <div class="f-fl">--</div>
                    <div class="f-fr"><img th:src="@{/images/icon_payment.png}" alt=""></div>
                </div>
            </li>
            <li class="boardStyle5">
                <div class="tit">未收齐尾款金额</div>
                <div class="cnt">
                    <div class="f-fl">--</div>
                    <div class="f-fr"><img th:src="@{/images/icon_payment.png}" alt=""></div>
                </div>
            </li>
            <li>
                <div class="tit">服务客户数</div>
                <div class="cnt">
                    <div class="f-fl">--</div>
                    <div class="f-fr"><img th:src="@{/images/icon_customer.png}" alt=""></div>
                </div>
            </li>
        </ul>
        <ul class="boardTab">
            <li>
                <el-tabs v-model="activeName" @tab-click="handleClick">
                    <el-tab-pane label="当月" name="1">
                        <img th:src="@{/images/icon_achievement.png}" alt="">
                        <div class="name">当月业绩</div>
                        <div class="num">--</div>
                    </el-tab-pane>
                    <el-tab-pane label="季度" name="2">
                        <img th:src="@{/images/icon_achievement.png}" alt="">
                        <div class="name">季度业绩</div>
                        <div class="num">--</div>
                    </el-tab-pane>
                    <el-tab-pane label="年度" name="3">
                        <img th:src="@{/images/icon_achievement.png}" alt="">
                        <div class="name">年度业绩</div>
                        <div class="num">--</div>
                    </el-tab-pane>
                </el-tabs>
            </li>
            <li class="boardTabStyle2">
                <el-tabs v-model="activeName2" @tab-click="handleClick">
                    <el-tab-pane label="当月" name="1">
                        <img th:src="@{/images/icon_ranking.png}" alt="">
                        <div class="name">大区排名</div>
                        <div class="num">--</div>
                    </el-tab-pane>
                    <el-tab-pane label="季度" name="2">
                        <img th:src="@{/images/icon_ranking.png}" alt="">
                        <div class="name">大区排名</div>
                        <div class="num">--</div>
                    </el-tab-pane>
                    <el-tab-pane label="年度" name="3">
                        <img th:src="@{/images/icon_ranking.png}" alt="">
                        <div class="name">大区排名</div>
                        <div class="num">--</div>
                    </el-tab-pane>
                </el-tabs>
            </li>
            <li class="boardTabStyle3">
                <el-tabs v-model="activeName3" @tab-click="handleClick">
                    <el-tab-pane label="当月" name="1">
                        <img th:src="@{/images/icon_disparity.png}" alt="">
                        <div class="name">距大区上一名业绩差</div>
                        <div class="num">--</div>
                    </el-tab-pane>
                    <el-tab-pane label="季度" name="2">
                        <img th:src="@{/images/icon_disparity.png}" alt="">
                        <div class="name">距大区上一名业绩差</div>
                        <div class="num">--</div>
                    </el-tab-pane>
                    <el-tab-pane label="年度" name="3">
                        <img th:src="@{/images/icon_disparity.png}" alt="">
                        <div class="name">距大区上一名业绩差</div>
                        <div class="num">--</div>
                    </el-tab-pane>
                </el-tabs>
            </li>
            <li class="boardTabStyle4">
                <el-tabs v-model="activeName4" @tab-click="handleClick">
                    <el-tab-pane label="当月" name="1">
                        <img th:src="@{/images/icon_gspm.png}" alt="">
                        <div class="name">公司排名</div>
                        <div class="num">--</div>
                    </el-tab-pane>
                    <el-tab-pane label="季度" name="2">
                        <img th:src="@{/images/icon_gspm.png}" alt="">
                        <div class="name">公司排名</div>
                        <div class="num">--</div>
                    </el-tab-pane>
                    <el-tab-pane label="年度" name="3">
                        <img th:src="@{/images/icon_gspm.png}" alt="">
                        <div class="name">公司排名</div>
                        <div class="num">--</div>
                    </el-tab-pane>
                </el-tabs>
            </li>
            <li class="boardTabStyle5">
                <el-tabs v-model="activeName5" @tab-click="handleClick">
                    <el-tab-pane label="当月" name="1">
                        <img th:src="@{/images/icon_yjc.png}" alt="">
                        <div class="name">距公司上一名业绩差</div>
                        <div class="num">--</div>
                    </el-tab-pane>
                    <el-tab-pane label="季度" name="2">
                        <img th:src="@{/images/icon_yjc.png}" alt="">
                        <div class="name">距公司上一名业绩差</div>
                        <div class="num">--</div>
                    </el-tab-pane>
                    <el-tab-pane label="年度" name="3">
                        <img th:src="@{/images/icon_yjc.png}" alt="">
                        <div class="name">距公司上一名业绩差</div>
                        <div class="num">--</div>
                    </el-tab-pane>
                </el-tabs>
            </li>
        </ul>
        <!-- 消息提醒 -->
        <dialog-console :param="consoleNewsParam"></dialog-console>      
    </el-row>
    <!-- 工作台结束 -->

</div>

<!-- import common js-->
<div th:include="_footer_include :: #jsLib"></div>
<script th:src="@{/js/custom/console/consoleBusinessMajordomo.js?v=1.0.0}"></script>
</body>
</html>