html {
  height: 100%;
}

body {
  background-color: #f0f5fe;
  padding: 0 0px 0 5px;
  /* box-shadow: 0px 0px 21px 5px rgba(58, 132, 244, 0.3) inset; */
  height: 100%;
}

.el-select-dropdown__item.selected {
  color: rgba(75, 128, 255, 1);
}

#bussdialog .el-table {
  background-color: #fff !important;
  box-shadow: none;
}

#bussdialog .el-table td, .el-table th.is-leaf {
  border: none;
}

#bussdialog .el-table td, #bussdialog .el-table th.is-leaf {
  background-color: #fff;
}
#bussdialog .cell{
  padding: 0px 11px !important;
}
#anndialog .cell{
  padding: 0px 11px !important;
}
#anndialog .el-table {
  background-color: #fff !important;
  box-shadow: none;
}

#anndialog .el-table td, .el-table th.is-leaf {
  border: none;
}

#anndialog .el-table td, #anndialog .el-table th.is-leaf {
  background-color: #fff;
}

.mainPadding {
  padding: 10px 0 0 0px !important;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
  background:#3A5CEC;
}

.el-button--primary:hover {
  background:#3A5CEC;
  opacity: 0.9;
}

.el-button--primary {
  border-color: rgba(75, 128, 255, 1) !important;
  background: linear-gradient(-90deg, rgba(75, 128, 255, 1), rgba(118, 157, 248, 1));
  box-shadow: 0px 13px 21px 0px rgba(76, 129, 255, 0.53);
}

#merchantHome .el-input__inner {
  height: 36px;
  background: rgba(223, 232, 249, 1);
  /* border: none; */
}

.el-input.is-active .el-input__inner, .el-input__inner:focus {
  border-color: rgba(75, 128, 255, 1) !important;
}

.el-picker-panel__footer .el-button--default {
  background: linear-gradient(-90deg, rgba(75, 128, 255, 1), rgba(118, 157, 248, 1)) !important;
}

.el-date-table td.current:not(.disabled) span {
  background: linear-gradient(-90deg, rgba(75, 128, 255, 1), rgba(118, 157, 248, 1)) !important;
}

/* .merchantMainPadding .notice {
  width: 100px;
  height: 30px;
  background: linear-gradient(90deg, rgba(198, 205, 222, 1), rgba(188, 196, 214, 1));
  border-radius: 0px 4px 0px 0px;
} */

.el-tab-pane {
  margin-left: 20px !important;
}

.el-tabs__nav {
  margin-left: 20px;
}

.merchantMainPadding .el-tabs__item {
  height: 30px !important;
  line-height: 30px;
}

.merchantMainPadding .el-tabs--card>.el-tabs__header .el-tabs__item.is-active {
  border: none !important;
}

.merchantMainPadding .el-tabs--card>.el-tabs__header {
  border: none !important;
  margin: 0 !important;
}

.merchantMainPadding .el-tabs__item.is-active {
  background-color: #fff !important;
  /* width: 56px; */
  /* height: 14px; */
  font-size: 14px !important;
  font-weight: 400 !important;
  color:#3A5CEC;
  /* line-height: 42px; */
}

.merchantMainPadding .mainSearchBg {
  box-shadow: 0px 0px 41px 14px rgba(73, 127, 250, 0.1);
  width: 99%;
  padding: 0 !important;
  border-radius: 6px;
}

.merchantMainSearchBar {
  background-color: #fff;
  width: 99% !important;
  margin: 0;
  margin-bottom: 21px;
  /* height: 90px; */
  /* line-height: 90px; */
  box-shadow: 9px 11px 33px 7px rgba(73, 126, 250, 0.1);
  border-radius: 0 6px 6px 6px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.merchantMainSearchBar .firstSearch {
  margin-top: 24px;
  margin-bottom: 18px;
}

.merchantMainSearchBar .lastSearch {
  margin-top: 14px;
  margin-bottom: 18px;
  display: flex;
}

.merchantMainSearchBar .el-form-item__content {
  /* line-height: 90px; */
  /* margin-top: 27px; */
}

.merchantMainSearchBar .el-form-item__label {
  color: #000;
  flex-wrap: 400;
}

/* .el-input__inner {
  border: none;
} */

.el-date-editor.el-input, .el-date-editor.el-input__inner {
  width: 140px;
}

.merchantMainSearchBar .el-input__inner {
  border-radius: 6px !important;
  font-weight: 300;
  /* color: rgba(162, 171, 190, 1); */
  line-height: 36px;
  height: 34px;
  width: 140px;
}

.merchantMainSearchBar .mainSearchForm .el-input {
  width: 150px;
  /* height: 18px; */
}

.merchantMainSearchBar .maechantButon {
  width: 100px;
  height: 34px;
  background:linear-gradient(-90deg,rgba(51,85,232,1),rgba(94,133,255,1));
box-shadow:0px 10px 28px 4px rgba(72,125,247,0.47);
  border-radius: 6px;
}

.el-pagination .el-select .el-input .el-input__inner {
  border: none;
}

.el-pagination__editor.el-input .el-input__inner {
  border: none;
  border-radius: 2px;
}

.merchantMainPadding .footer {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.merchantMainPadding .btn-prev {
  background-color: #fff !important;
}

.merchantMainPadding .btn-next {
  background-color: #fff !important;
}

.merchantMainPadding .is-leaf {
  background-color: #fff !important;
  border: none !important;
  border-bottom: none !important;
}

.el-table--border, .el-table--group {
  border: none;
  border-right: none !important;
  border-bottom: none !important;
}

.merchantMainPadding .cell {
  text-align: center;
}

.el-table {
  /* 表格字体颜色 */
  /* 表格边框颜色 */
  /* border: 0.5px solid #758a99; */
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 19px 10px rgba(73, 127, 250, 0.1);
  border-radius: 8px;
  padding: 0;
}

/* 表格内背景颜色 */

.el-table th, .el-table tr, .el-table td {
  border: 0;
  /* background-color: transparent; */
  height: 46px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(80, 87, 102, 1);
}

.el-table__body tr:nth-child(2n+1) {
  background: rgba(222, 227, 237, 0.4);
}

/* 双数行背景颜色 */

.el-table--striped .el-table__body tr.el-table__row--striped td {
  background-color: #fff;
  background-color: rgba(148, 144, 144, 0.3)
}

/* 使表格背景透明 */

.el-table th, .el-table tr {
  /* background-color: transparent; */
}

/* 删除表格下横线 */

.el-table::before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0px;
}

/* 表格表头字体颜色 */

.el-table thead {
  color: #000;
  font-weight: 400;
  background-color: rgba(148, 144, 144, 0.3)
}

.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #4B80FF;
  border-color: #4B80FF;
}

.mainSearchForm .el-select {
  width: 150px !important;
}

.el-icon-arrow-up:before {
  content: "\E60C";
  color: #294366;
}

.maechantButon:hover, .maechantButon:focus {
  opacity: 0.9;
}

/*弹窗样式*/

.el-dialog__header {
  background: none;
}

.el-dialog__header:before {
  width: 122px;
  height: 86px;
  background-size: 122px 86px;
  right: 103px;
}

.el-dialog__headerbtn .el-dialog__close {
  background: #3A84F4;
  border-radius: 50%;
  color: #fff;
}

.el-dialog__title {
  color: #4C4E67;
}

.establishTime {
  display: inline-block;
}

.establishTime .topTitle {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  min-width: 81px;
  text-align: right;
  width: 81px;
  float: left;
  color: #000;
  padding-right: 4px;
}

.establishTime .el-input__inner {
  border: none;
}

.establishTime .lowerTimer {
  display: inline-block;
  border: 1px solid #dee1e6;
  border-radius: 6px;
  height: 34px;
  /* line-height: 34px; */
  overflow: hidden;
  zoom: 1;
  width: 365px;
}

.establishTime .el-form-item__label {
  color: #dcdde2;
}

.el-button--text {
  color: rgba(75, 128, 255, 1);
}

.el-select-dropdown__item.selected {
  color: rgba(75, 128, 255, 1);
}