html {
  height: 100%;
}

body {
  background-color: #f0f5fe;
  padding: 0 0px 0 5px;
  box-shadow: 0px 0px 21px 5px rgba(58, 132, 244, 0.3) inset;
  height: 100%;
}
.mainPadding{
padding: 10px 0 0 0px !important;
}
/* .merchantMainPadding .notice {
  width: 100px;
  height: 30px;
  background: linear-gradient(90deg, rgba(198, 205, 222, 1), rgba(188, 196, 214, 1));
  border-radius: 0px 4px 0px 0px;
} */
.el-tab-pane{
  margin-left: 20px !important;
}
.el-tabs__nav{
  margin-left: 20px;
}
.merchantMainPadding .el-tabs__item {
  height: 30px !important;
  line-height: 30px;
  border-radius: 0px 4px 0px 0px;
}

.merchantMainPadding .el-tabs--card>.el-tabs__header .el-tabs__item.is-active {
  border: none !important;
}

.merchantMainPadding .el-tabs--card>.el-tabs__header {
  border: none !important;
  margin: 0 !important;
}

.merchantMainPadding .el-tabs__item.is-active {
  background-color: #fff !important;
  /* width: 56px; */
  /* height: 14px; */
  font-size: 14px !important;
  font-weight: 400 !important;
  color: rgba(75, 128, 255, 1);
  /* line-height: 42px; */
}

.merchantMainPadding .mainSearchBg {
  box-shadow: 0px 0px 41px 14px rgba(73, 127, 250, 0.1);
  width: 99%;
  padding: 0 !important;
  border-radius: 6px;
}

.merchantMainSearchBar {
  background-color: #fff;
  width: 99% !important;
  margin: 0;
  margin-bottom: 21px;
  height: 90px;
  line-height: 90px;
  box-shadow:9px 11px 33px 7px rgba(73,126,250,0.1);
  border-radius: 6px;
}

.merchantMainSearchBar .el-form-item__content {
  /* line-height: 90px; */
  margin-top: 27px;
}

.merchantMainSearchBar .el-form-item__label {
  color: #000;
  flex-wrap: 400;
}
.el-input__inner{
  border: none;
}
.merchantMainSearchBar .el-input__inner {
  background: #F2F4F8 !important;
  border-radius: 6px !important;
  font-weight: 300;
  /* color: rgba(162, 171, 190, 1); */
  line-height: 36px;
  height: 36px;
  border: none;
}

.merchantMainSearchBar .mainSearchForm .el-input {
  width: 150px;
  /* height: 18px; */
}

.merchantMainSearchBar .maechantButon {
  width: 100px;
  height: 36px;
  background: linear-gradient(-90deg, rgba(75, 128, 255, 1), rgba(118, 157, 248, 1));
  box-shadow: 0px 13px 21px 0px rgba(76, 129, 255, 0.53);
  border-radius: 6px;
}

.merchantMainPadding .footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.merchantMainPadding .btn-prev {
  background-color: #fff !important;
}

.merchantMainPadding .btn-next {
  background-color: #fff !important;
}

.merchantMainPadding .is-leaf {
  background-color: #fff !important;
  border: none !important;
  border-bottom: none !important;
}

.el-table--border, .el-table--group {
  border: none;
  border-right: none !important;
  border-bottom: none !important;
}

.merchantMainPadding .cell {
  text-align: center;
}

.el-table {
  /* 表格字体颜色 */
  /* 表格边框颜色 */
  /* border: 0.5px solid #758a99; */
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 19px 10px rgba(73, 127, 250, 0.1);
  border-radius: 8px;
  padding: 0;
}

/* 表格内背景颜色 */

.el-table th, .el-table tr, .el-table td {
  border: 0;
  background-color: transparent;
  height: 46px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(80, 87, 102, 1);
}

.el-table__body tr:nth-child(2n+1) {
  background: rgba(222, 227, 237, 1);
  opacity: 0.4;
}

/* 双数行背景颜色 */

.el-table--striped .el-table__body tr.el-table__row--striped td {
  background-color: #fff;
  background-color: rgba(148, 144, 144, 0.3)
}

/* 使表格背景透明 */

.el-table th, .el-table tr {
  /* background-color: transparent; */
}

/* 删除表格下横线 */

.el-table::before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0px;
}

/* 表格表头字体颜色 */

.el-table thead {
  color: #000;
  font-weight: 400;
  background-color: rgba(148, 144, 144, 0.3)
}

.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #4B80FF;
  border-color: #4B80FF;
}
.mainSearchForm .el-select{
  width: 150px !important;
}