<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head th:include="_header_include::frag(~{::title},~{},~{})">
    <title>日志管理</title>
    <style>
    </style>
</head>
<body>
<div id="organizationManage" class="organizationManage mainPadding" >  
    <el-breadcrumb separator="/" class="elBreadcrumb marginB20" >
        <el-breadcrumb-item>Home</el-breadcrumb-item>
        <el-breadcrumb-item>业务设置</el-breadcrumb-item>
        <el-breadcrumb-item><a href="/invitearea/inviteAreaList" data-url="b.html">邀约区域管理</a></el-breadcrumb-item>
    </el-breadcrumb>
    <el-row class="marginB10">
        <el-col :xs="12" :sm="16" :md="16" :lg="18" :xl="12">
            <el-button type="primary"><a href="/invitearea/addInviteArea"><i class="el-icon-plus"></i> 添加</a></el-button>
            <el-button type="primary" @click="updateButton">修改</el-button>
            <el-button type="primary" @click="deleButton">删除</el-button>
            <el-button type="primary" @click="exportButton">导入</el-button>
        </el-col>

        <el-col :xs="12" :sm="8" :md="8" :lg="6" :xl="12">
            <el-row class="marginB10">
              
				<div class="block">
					<el-select v-model="businessGroupId" placeholder="请选择商务小组">
					    <el-option
					      v-for="item in businessGroups"
					      :key="item.value"
					      :label="item.label"
					      :value="item.value">
					    </el-option>
  					</el-select>
  					<el-select v-model="telemarketingTeamId" placeholder="请选择电销组">
					    <el-option
					      v-for="item in telemarketingTeams"
					      :key="item.value"
					      :label="item.label"
					      :value="item.value">
					    </el-option>
  					</el-select>
  					<el-button type="primary" @click="queryLogDataList">查询</el-button>
				</div>
                  </el-col>
            </el-row>
            <el-row>
                <el-table 
                    ref="multipleTable"
                    tooltip-effect="dark"
                    empty-text="无数据"
                    style="width: 100%"
                    border
                    :data="dataTable" 
                    >
                     <el-table-column align="center" type="selection" width="55"></el-table-column> 
                     <!-- <el-table-column prop="date" label="全选" width="180"></el-table-column>  -->
                    <el-table-column align="center" prop="userName" label="商务小组"></el-table-column>
                    <el-table-column align="center" prop="name" label="区域"></el-table-column>
                    <el-table-column align="center" prop="phone" label="电销组"></el-table-column>
                    <el-table-column align="center" prop="remoteIP" label="签约项目"></el-table-column>
                </el-table>
                 <table-pagination :pager="pager"  @change="queryLogDataList"></table-pagination>
            </el-row>
      
    </el-row>
  <el-dialog :title="addOrModifyDialogTitle" :visible.sync="dialogFormVisible" @close="closeAddCustomFieldDialog">
       
        <div slot="footer" class="dialog-footer">
            <el-button @click="cancelForm('customMenuForm')">取 消</el-button>
            <el-button type="primary" @click="saveFieldMenu('customMenuForm')">确 定</el-button>
        </div>
    </el-dialog>
</div>
</body>
<!-- import common js-->
<div th:include="_footer_include :: #jsLib"></div>
<script th:inline="javascript">

    var orgData=[[${orgData}]];

   var orgVM =  new Vue({
        el: '#organizationManage',
        data: {
        	
        	
        	telemarketingTeamId:"",
        	businessGroupId:"",
        	addOrModifyDialogTitle:"",
        	businessGroups:[{
            	value: '1',
                label: '登陆名称'	
            	},
            	{
               	value: '2',
                label: '姓名'	
               	}
            ],
            telemarketingTeams:[{
            	value: '1',
                label: '登陆名称'	
            	},
            	{
               	value: '2',
                label: '姓名'	
               	}
            ],
        	
        	
        	
        	
            	activeName: 'first',
            	beginTime:"",
            	endTime:"",
            	queryType:"1",
            	content:"",
            	searchContent:"",
                dataTree: orgData,//组织结构tree
                dataTable:[],
                multipleSelection: [],
                dialogFormVisible: false,
                businessGroups: [{
                	value: '1',
                    label: '登陆名称'	
                	},
                	{
                   	value: '2',
                    label: '姓名'	
                   	}
                ],
                pager:{
                    total: 0,
                    currentPage: 1,
                    pageSize: 20,
                },
                loading:true
             
        },
        methods: {
        	queryLogDataList(){//查询按钮
            	  var param = {}; 
            	  var pageSize = this.pager.pageSize;
                  var pageNum = this.pager.currentPage;
                  param.pageNum = pageNum;
                  param.pageSize = pageSize;
                  param.beginTime=this.beginTime;
                  param.endTime=this.endTime;
                  param.content=this.content;
                  param.queryType=this.queryType;
                  param.searchContent=this.searchContent;
                  param.visitType = 1;
                  console.log(param);
                  axios.post('/log/log/queryLogDataList',param).then(function (response) {
                  	  console.log(response);
                             /* if(null===response||response.data==null||response.data.code!='0'){
                          	  alert(response.data.message);
                          	  return ;
                             }else{
                            	 orgVM.dataTable =response.data.data.data; 
                            	 orgVM.pager.currentPage= response.data.data.currentPage;
                            	 orgVM.pager.total= response.data.data.total;
                             } */
                  })
                  .catch(function (error) {
                    console.log(error);
                  })
                  .then(function () {
                  });  
                  
              } ,
              handleClick(tab, event) {
                if(tab.name=='first'){
                	window.location.href="/log/log/visitLog";
                }else{
                	window.location.href="/log/log/operationLog";
                }
              },
              updateButton(){
            	  //修改菜单数据	
              	var rows = this.multipleSelection;
                  if(rows.length!=1){
                      this.$message({
                         message: '请选择一条数据进行修改',
                         type: 'warning'
                       });
                      return;
                  }
              },
              deleButton(){
            	  var rows = this.multipleSelection;
                  if(rows.length!=1){
                      this.$message({
                         message: '请选择一条数据进行修改',
                         type: 'warning'
                       });
                      return;
                  }
                  axios.post('/log/log/queryLogDataList',param).then(function (response) {
                  	  console.log(response);
                              if(null===response||response.data==null||response.data.code!='0'){
                          	  alert(response.data.message);
                          	  return ;
                             }else{
                            	 window.location.href="/invitearea/inviteAreaList"; 
                             } 
                  })
            	  
              },
              exportButton(){
            	  window.location.href="/module/moduleManager/exportInviteArea?moduleId="+rows[0].id; 
              },
              showExport(){//点击弹出新增dialog
              	this.dialogFormVisible = true;
              	this.addOrModifyDialogTitle="添加菜单页面";
              },
              closeAddCustomFieldDialog(){//关闭添加自定义字段dialog
              	  this.$refs['customMenuForm'].resetFields();
              },
              cancelForm(formName) {
                  this.$refs[formName].resetFields();
              	this.dialogFormVisible = false;
              },
        },
        created(){
        	this.loading=false;
        	
        }//created方法 结束
    })
</script>
</html>