<?xml version="1.0" encoding="UTF-8"?>  

<configuration status="debug" monitorInterval="1800">  
    <properties>  
        <property name="LOG_HOME" >logs</property>  
        <property name="SERVICE_LOG">service</property>
        <property name="SERVER_LOG">server</property>  
        <property name="SERVER_NAME">kuaidaoservice-web</property>
    </properties>  
    
    <appenders>  
        <!-- 定义控制台输出 -->  
        <Console name="console" target="SYSTEM_OUT" follow="true">  
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%logger{50}:%L][%X{traceId}/%X{spanId}] [%thread][%X{MSG_ID}] - %msg%n" />
        </Console>  
        
        <RollingRandomAccessFile name="serviceLog" fileName="${LOG_HOME}/${SERVER_NAME}-${SERVICE_LOG}.log"  
            filePattern="${LOG_HOME}/${SERVER_NAME}-${SERVICE_LOG}.%d{yyyy-MM-dd-HH}.log">  
            <PatternLayout  
                pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line][%X{MSG_ID}] - %msg%n" />  
            <Policies>  
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />  
            </Policies>  
        </RollingRandomAccessFile> 
        
         <RollingRandomAccessFile name="serverLog" fileName="${LOG_HOME}/${SERVER_NAME}-${SERVER_LOG}.log"  
            filePattern="${LOG_HOME}/${SERVER_NAME}-${SERVER_LOG}.%d{yyyy-MM-dd-HH}.log">  
            <PatternLayout  
                pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line][%X{MSG_ID}] - %msg%n" />  
            <Policies>  
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />  
            </Policies>  
        </RollingRandomAccessFile>
        
    </appenders>
	<loggers>
		<!-- 3rdparty Loggers -->
		
		<!-- <logger name="serverLog" level="INFO" includeLocation="true"
			additivity="false">
			<appender-ref ref="serverLog" />
		</logger> -->
		<!-- Root Logger -->
		<!-- <root level="INFO">
			<appender-ref ref="console" />
		</root> -->
		<!-- 去掉无关紧要的默认日志 -->
	   <AsyncLogger name="springfox" level="OFF"></AsyncLogger>
    	<!--  includeLocatio输出行号，有性能开销 -->
        <AsyncRoot level="INFO" includeLocation="true" >
            <AppenderRef ref="console" />
        </AsyncRoot>

	</loggers>  
</configuration>

