.consoleStyle .tip{font-size: 18px;color: #2994e4;height: 24px;line-height: 20px;margin-bottom:27px;}
.consoleStyle .tip em{font-size: 24px;font-weight: bold;}
.consoleStyle .affiche{background: #f4f8f9;border-radius:18px;font-size: 14px;color: #666;padding:8px 16px;height: 20px;}
/*.consoleStyle .affiche ul{display: block;overflow: hidden;}*/
/*.consoleStyle .affiche ul li{display: block;float: left;margin-right: 50px;}*/
.consoleStyle .title{ font-size: 16px;color: #333;font-weight: 500;margin-bottom: 15px;overflow: hidden;height: 34px;line-height: 34px;}
.consoleStyle .title .leftbox img{margin:9px 8px 0 0;}
.consoleStyle .title .rightbox span.f-fr{font-size: 14px;color: #666;cursor: pointer;}
.consoleStyle .title .rightbox span.f-fr:hover{color: #5ea1e7}
.consoleStyle .title .rightbox img{margin:7px 0 0 10px;}
.consoleStyle .title .rightbox .btn{margin-right: 15px;font-size: 14px;}
.consoleStyle .board{overflow:hidden;margin-bottom: 20px;}
.consoleStyle .board li{width:15.5%;float: left;margin-right: 10px;background: #89c997;margin-bottom: 10px;height: 100px; }
.consoleStyle .board li .tit{height: 30px;line-height: 30px;text-align: center;color: #fff;font-size: 16px;background: #6aba7c;}
.consoleStyle .board li.boardStyle2{background: #56d3d4;}
.consoleStyle .board li.boardStyle2 .tit{background: #34bdbe;}
.consoleStyle .board li.boardStyle3{background: #5fb4f5;}
.consoleStyle .board li.boardStyle3 .tit{background: #2994e4;}
.consoleStyle .board li.boardStyle4{background: #8ba1ff;}
.consoleStyle .board li.boardStyle4 .tit{background: #627ff8;}
.consoleStyle .board li.boardStyle5{background: #ccb0f3;}
.consoleStyle .board li.boardStyle5 .tit{background: #b490e8;}
.consoleStyle .board li .cnt{overflow: hidden;color: #fff;font-size: 30px;padding:10px 30px;}
.consoleStyle .board li .cnt img{width:50px;height: 50px;}

.consoleStyle .news{background: #f4f8f9;padding:30px 26px;margin-bottom: 20px;}
.consoleStyle .news li{margin-bottom: 20px;font-size: 16px;}
.consoleStyle .news li em{margin: 5px 8px 0 0;width: 12px;height: 12px;background: #5ea1e7;display: block;float: left;border-radius: 50%;}

.consoleStyle .boardTab{overflow: hidden;text-align: center;}
.consoleStyle .boardTab li{width:15.4%;float: left;margin-right: 10px;margin-bottom: 30px;height: 200px;border:1px solid #dedede;font-size: 16px;}
.consoleStyle .boardTab .el-tabs__nav{width: 100%;}
.consoleStyle .boardTab .el-tabs__active-bar{display: none;}
.consoleStyle .boardTab .el-tabs__item{height: 30px;line-height: 30px;width: 33.333%;padding:0;}
.consoleStyle .boardTab li .el-tabs__item.is-active{background:#6aba7c; }
.consoleStyle .boardTab li .name{margin-bottom: 20px;}
.consoleStyle .boardTab li .num{font-size: 30px;color: #6aba7c;height: 30px;line-height: 30px;}
.consoleStyle .boardTab li.boardTabStyle2 .el-tabs__item.is-active{background:#34bdbe; }
.consoleStyle .boardTab li.boardTabStyle2 .num{color: #34bdbe;}
.consoleStyle .boardTab li.boardTabStyle3 .el-tabs__item.is-active{background:#2994e4; }
.consoleStyle .boardTab li.boardTabStyle3 .num{color: #2994e4;}
.consoleStyle .boardTab li.boardTabStyle4 .el-tabs__item.is-active{background:#627ff8; }
.consoleStyle .boardTab li.boardTabStyle4 .num{color: #627ff8;}
.consoleStyle .boardTab li.boardTabStyle5 .el-tabs__item.is-active{background:#b490e8; }
.consoleStyle .boardTab li.boardTabStyle5 .num{color: #b490e8;}

/*start*/
.mainPadding { padding: 15px 15px 0; }
em, i { font-style: normal; }
.consoleStyle .board { margin-bottom: 0; }
.consoleStyle { background-color: #eff3f6; }  /*temp*/
.consoleStyle .el-breadcrumb { font-size: 12px; }
.consoleStyle .elBreadcrumb { border-bottom: none; height: auto; margin-bottom: 15px; }
.consoleStyle .el-breadcrumb__item:last-child .el-breadcrumb__inner, .consoleStyle .el-breadcrumb__inner { color: #626267; }
.consoleStyle .tip { font-size: 14px; color: #6878e7; font-weight: bold; height: auto; margin-bottom: 20px;}
.consoleStyle .tip em { font-size: 24px; font-weight: bold; color: #fd5621; }
.consoleStyle .affiche { width: 980px; padding: 9px 16px; background-color: #ffffff; }
.consoleStyle .affiche .f-fl:first-child { font-size: 14px; color: #fd5621; }
.consoleStyle .board li { width: 16%; margin-bottom: 20px; margin-right: 0.8%; background-color: transparent; border-radius: 4px; }
.consoleStyle .board li:last-child {  margin-right: 0; }
.consoleStyle .board2 li { /* width: 14%; margin-right: 0.33%; */ width: 13.6%; margin-right: 0.8%;} 
.consoleStyle .board2 li:last-child { margin-right: 0; } 
.consoleStyle .board3:nth-of-type(1) li { width: 49.5%; margin-right: 1%; } 
.consoleStyle .board3:nth-of-type(1) li:last-child { margin-right:0; }
.consoleStyle .board3:nth-of-type(2) li { width: 19%; margin-right: 1.25%; } 
.consoleStyle .board3:nth-of-type(2) li:last-child { margin-right:0; } 
.consoleStyle .board li .cnt { padding: 0; }
.consoleStyle .board li .cnt img { width: 66px; height: 66px; }
.consoleStyle .board li.boardStyle0 { width: 32.8%; /*height: 200px;*/ height: 170px;  margin-right: 0.8%;}
.consoleStyle .board li.boardStyle0:last-child { margin-right: 0;}
.consoleStyle .board .bg1 { background-image: url("../../../images/bg_wave01.png"); background-repeat:no-repeat; background-color: #ffffff;  background-size: 100% 170px; }
.consoleStyle .board .bg2 { background-image: url("../../../images/bg_wave02.png");background-repeat:no-repeat;  background-color: #ffffff; background-size: 100% 170px;}
.consoleStyle .board .bg3 { background-image: url("../../../images/bg_wave03.png"); background-repeat:no-repeat;  background-color: #ffffff; background-size: 100% 170px;}
.consoleStyle .board .bg1.bg11 { background-image: url("../../../images/bg_wave01.png"); background-repeat:no-repeat; background-color: #ffffff;  background-size: 100% 160px; }
.consoleStyle .board .bg2.bg22 { background-image: url("../../../images/bg_wave02.png");background-repeat:no-repeat;  background-color: #ffffff; background-size: 100% 160px;}
.consoleStyle .board .bg3.bg33 { background-image: url("../../../images/bg_wave03.png"); background-repeat:no-repeat;  background-color: #ffffff; background-size: 100% 160px;}
.consoleStyle .board li.boardStyle0:nth-of-type(3){ margin-right: 0px; }
.consoleStyle .board li.boardStyle0 .cnt { padding-top: 28px; padding-left: 54px; }
.consoleStyle .board li.boardStyle0 .cnt .toptitle { font-size: 14px; color: #666666; margin-bottom: 8px;}
.consoleStyle .board li.boardStyle0 .cnt .con { font-size: 60px; color: #27c4c0; }
.consoleStyle .board li.boardStyle0:nth-of-type(1) .cnt .con { color: #7282f0; }
.consoleStyle .board li.boardStyle0:nth-of-type(2) .cnt .con { color: #3aa8fb; }
.consoleStyle .board li.boardStyle0 .cnt .con.hms { color: #27c4c0; }
.consoleStyle .board li.boardStyle0 .cnt .con em , .consoleStyle .board li.boardStyle0 .cnt .con.hms i{ font-size: 14px; }
.consoleStyle .board li.boardStyle2 { height: 100px; }
.consoleStyle .board li.boardStyle2 .f-fl { margin: 20px 0 0 20px; }
.consoleStyle .board li.boardStyle2 .f-fr { margin: 17px 20px 0 0; }
.consoleStyle .board li.boardStyle2 .f-fl .toptitle { font-size: 14px; color: rgba(255,255,255,.7); margin-bottom: 10px; }
.consoleStyle .board li.boardStyle2 .con { font-size: 30px; color: #ffffff; }
.consoleStyle .board li.boardStyle2 .con em { font-size: 14px; }
.consoleStyle .board li.bgColor1 { background-color: #27c4c0; }
.consoleStyle .board li.bgColor2 { background-color: #3aa8fb; }
.consoleStyle .board li.bgColor3 { background-color: #aa74f9; }
.consoleStyle .board li.bgColor4 { background-color: #866bfe; }
.consoleStyle .board li.bgColor5 { background-color: #7282f0; }
.consoleStyle .board li.bgColor6 { background-color: #687af9; }
.consoleStyle .board li.bgColor7 { background-color: #687af9; }
.consoleStyle .board li.border_wraper { /*height: 414px;*/ height: 333px; }
.consoleStyle .board li.border_wraper:nth-of-type(2) { background-color: #ffffff; }
.consoleStyle .board li.border_wraper .wraper_li { float: left; width:49%; height: 160px; /*margin-right: 10px;*/ margin-bottom: 14px; padding: 19px 0 0  42px; border-radius: 4px; box-sizing: border-box; }
.consoleStyle .board li.border_wraper .wraper_li:nth-of-type(3), .consoleStyle .board li.border_wraper .wraper_li:nth-of-type(4){ margin-bottom: 0px; }
.consoleStyle .board li.border_wraper .wraper_li:nth-of-type(2n) { margin-right: 0px; }
.consoleStyle .board li.border_wraper .wraper_li .toptitle { font-size: 14px; color: #666666; margin-bottom: 15px; }
.consoleStyle .board li.border_wraper .wraper_li .con { font-size: 60px; color: #687af9; }
.consoleStyle .board li.border_wraper .wraper_li.bg2 .con { color: #27c4c0; }
.consoleStyle .board li.border_wraper .wraper_li.bg3 .con { color: #3aa8fb; }
.consoleStyle .board li.border_wraper .wraper_li.bg4 .con { color: #687af9; }
.consoleStyle .board li.border_wraper .wraper_dl { width: 33%; text-align: center; margin-top: 33px; /*margin: 66px 39px 0;*/ }
.consoleStyle .board li.border_wraper .wraper_dl .top_title { font-size: 16px; color: #666666; margin-bottom: 51px; }
.consoleStyle .board li.border_wraper .wraper_dl em { width: 16px; height:16px; background-color: #697df5; margin-right: 12px; border-radius: 50%; display: inline-block; position: relative; top: 3px; }
.consoleStyle .board li.border_wraper .wraper_dl:nth-of-type(2) em { background-color: #a978f5; }
.consoleStyle .board li.border_wraper .wraper_dl:nth-of-type(3) em { background-color: #32c3bf; }

.consoleStyle .boardTabList { width: 100%; height: 294px; margin-bottom: 20px; overflow: hidden; background-color: #ffffff; border-radius: 4px; }
.consoleStyle .boardTabList2 {  height: auto; padding-bottom: 30px; }
.consoleStyle .boardTabList .el-tabs__nav { width: 100%; background-color: #ffffff; }
.consoleStyle .boardTabList .el-tabs__item { color: #8588a2; width: 103px; height: 30px; line-height: 30px; text-align:center; padding: 0; background-color: #ffffff;}
.consoleStyle .boardTabList .el-tabs__item.is-active { color: #ffffff; background-color: #7282f0; }
.consoleStyle .el-tabs__active-bar { background-color:transparent; }
.consoleStyle .tabUl { background-color: #ffffff; }
.consoleStyle .tabUl li { float: left; width: 20%; text-align: center; position: relative; }
.consoleStyle .boardTabList2 .tabUl {  width: 96%; margin: 0 auto; }
.consoleStyle .boardTabList2 .tabUl li { width: 25%; }
.consoleStyle .boardTabList2 .tabUl li:nth-of-type(1),.consoleStyle .boardTabList2 .tabUl li:nth-of-type(2),.consoleStyle .boardTabList2 .tabUl li:nth-of-type(3), .consoleStyle .boardTabList2 .tabUl li:nth-of-type(4) { padding-bottom: 34px; border-bottom: 0.5px solid #e6e7ec; }
.consoleStyle .tabUl li .line { width: 1px; height: 106px; background-color: #e6e7ec; position: absolute; right: 0; top:50%; margin-top: -53px;}
.consoleStyle .tabUl li img { width: 73px; height: 73px; margin: 25px 0 18px 0; }
.consoleStyle .tabUl li .name { font-size: 14px; color: #666666; margin-bottom: 18px;}
.consoleStyle .tabUl li span { font-size: 30px; }
.consoleStyle .tabUl li .num, .consoleStyle .tabUl li .num em { font-size: 14px; }
.consoleStyle .tabUl li.tabLi1 .num { color: #27c4c0; }
.consoleStyle .tabUl li.tabLi2 .num { color: #3aa8fb; }
.consoleStyle .tabUl li.tabLi3 .num { color: #7887fc; }
.consoleStyle .tabUl li.tabLi4 .num { color: #aa74f9; }
.consoleStyle .tabUl li.tabLi5 .num { color: #5f73fe; }
.consoleStyle .news { border-radius: 4px; background-color: #ffffff; }
.consoleStyle .news li { font-size: 14px; color: #666666; }
.consoleStyle .news li:last-child { margin-bottom: 0; }
.consoleStyle .news li em { background-color: #8693f3; }


#merchantHome{
  background-color: red;
}



