body,html{padding: 0;margin: 0;}
ul{list-style: none;}
.selectionBrandBar{
    width: 100%;
    height: 362px;
    margin-top:10px;
    /* padding: 26px 38px 20px 37px; */
}

.selectionBrandBar .selectionBrandSearch{
    width: 100%;
    height: 30px;
    text-align: center;
    position: relative;
}

.selectionBrandBar .selectionBrandSearch .selectionBrandSearchInput{
    width: 370px;
    height: 30px;
    padding-left: 23px;
    border: 1px solid #C6C6C6;
    border-radius: 15px;
}
.selectionBrandBar .selectionBrandSearch .selectionBrandSearchInput:focus{
    /* border: 1px solid red;
    border-radius: 15px; */
    outline:none;
}
.selectionBrandBar .selectionBrandSearch span{ 
    position: absolute;
    width: 19px;
    height: 19px;
    left: 540px;
    top: 8px;
}
.selectionBrandBar  .selectionBrandSelect{
    width: 100%;
    background-color: #fff;
    padding: 20px 0;
}
.selectionBrandBar  .selectionBrandSelect ul{
    height: 23px;
    margin: 0;
}
.selectionBrandBar  .selectionBrandSelect ul li{
    float: left;
    margin-right: -4px;
    padding: 7px 12px 8px 12px;
    cursor: pointer;
}
.selectionBrandBar  .selectionBrandSelect ul .active{
    background: linear-gradient(-42deg, #3693FA, #0A71E2);
    border-radius: 14px;
    color: #fff;
}


.selectionBrandBar  .selectionBrandContent{
    /* width: 624px; */
    /* height: 184px; */
    background-color:#fff;
    padding: 0 29px 16px 29px;
    position: relative;
    margin-top: 10px;
}

.selectionBrandBar  .selectionBrandContent .leftSanjiao{
    position: absolute;
    left: 32px;
    bottom: 115px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #8A8A8A transparent transparent;
    cursor: pointer;

}
.selectionBrandBar  .selectionBrandContent .rightSanjiao{
    position: absolute;
    right: 32px;
    bottom: 115px;
    border-width: 10px;
    border-style: solid;
    border-color:  transparent  transparent transparent #8A8A8A;
    cursor: pointer;

}
.selectionBrandBar  .selectionBrandContent ul{
    width: 624;
    height: 184px;
    margin: 0;
    padding: 19px 0 0 40px;
    background: #E9E9E9;
    border-radius: 6px;
}
.selectionBrandBar  .selectionBrandContent li{
    float: left;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 25px;
    cursor: pointer;
}

.selectionBrandBar  .selectionBrandContent li img{
    display: inline-block;
    width: 85px;
    height: 45px;
}

.selectionBrandBar  .selectionBrandContent li span{
    font-size: 12px;
    font-weight: 400;
    color: #666666;
    margin-top: 7px;
}