html, body {
    height: 100%;
    font-family: PingFang SC;
}

body {
    height: 100%;
    background-image: url('../../../images/skin1/bigLogo1.jpg');
    margin-top: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.loginbox {
    width: 490px;
    height: 525px;
    position: relative;
    float: right;
    margin-right: 15%;
    overflow: hidden !important;
    text-align: left;
    top: 50%;
    margin-top: -344px;
    background: #fff;
    padding: 0 73px;
    border-radius: 10px;
    box-shadow: -1px 7px 27px 0px rgba(114, 154, 249, 0.36);
}

.loginboxbar {
    height: 500px !important;
}

.loginbox .el-form-item__label {
    font-size: 16px;
    text-align: left;
    padding-left: 30px;
}

.passwordloginbox .el-form-item__label {
    font-size: 16px;
    text-align: left;
    padding-left: 18px;
}

.loginbox .el-input__inner {
    border: 1px solid #fff;
    border-radius: 0;
    padding-left: 30px;
    /* font-size: 18px; */
}

.passwordloginbox .el-input__inner {
    border: 1px solid #fff;
    border-radius: 0;
    padding-left: 20px;
    font-size: 14px;
}

.merchantlogin {
    padding-left: 0;
}

#merchantloginbox .el-form-item__content {
    margin-left: 0 !important;
}

#passwordForgetBoxDiv .el-form-item__content {
    margin-left: 0 !important;
}

.loginbox .el-form-item.is-success .el-input__inner, .loginbox .el-form-item.is-success .el-input__inner:focus, .loginbox .el-form-item.is-success .el-textarea__inner, .loginbox .el-form-item.is-success .el-textarea__inner:focus, .loginbox .el-form-item.is-error .el-input__inner, .loginbox .el-form-item.is-error .el-input__inner:focus, .loginbox .el-form-item.is-error .el-textarea__inner, .loginbox .el-form-item.is-error .el-textarea__inner:focus, .loginbox .el-message-box__input input.invalid, .loginbox .el-message-box__input input.invalid:focus {
    border-color: #fff;
}

.loginbox .iconImg {
    position: absolute;
    left: 13px;
    bottom: 10px;
    display: block;
    z-index: 1;
    width: 17px;
    height: 18px;
}

.loginbox .iconImg img {
    display: block;
}

.loginbox .iconRight {
    right: 13px;
    left: auto;
}

.loginform, .reform {
    z-index: 200;
    display: block;
    height: 500px;
    width: 100%;
    background: rgba(255, 255, 255, 0.15);
    position: relative;
    top: 0;
    left: 0;
    border-radius: 15px;
}

.loginbox .control-group {
    margin-bottom: 15px;
}

.loginbox .normal_text {
    padding: 46px 0 0 0;
    text-align: center;
    line-height: 20px;
    color: #2d2e3e;
    font-size: 24px;
    margin-bottom: 34px;
}

.passwordloginbox .normal_text {
    padding: 50px 0 0 0;
    text-align: center;
    line-height: 20px;
    color: #2d2e3e;
    font-size: 24px;
    margin-bottom: 24px;
}

.loginbox .codeBtn {
    float: right;
    width: 129px;
    background-color: #fff;
    color: #3b6abf;
    border-color: #3b6abf;
    border-radius: 20px;
    padding: 0;
    height: 38px;
}

#passwordloginbox .codeBtn {
    float: right;
    width: 129px;
    background-color: #fff;
    color: #3A5CEC;
    border-color: #3b6abf;
    border-radius: 20px;
    padding: 0;
    height: 38px;
    margin-left: -10px;
}

.loginbox .msgBtn {
    background: none;
    border: none;
    height: 12px;
    line-height: 12px;
    padding: 0;
    margin: 0;
    font-size: 12px;
    margin-left: 3px;
    text-decoration: underline;
    color: #3b6abf;
    margin-top: -4px;
}

.loginbox .msgBtn:hover {
    color: #56a5e8;
    background: none;
}

.loginbox .codeTip {
    font-size: 14px;
    color: #999;
}

#passwordloginbox .codeTip {
    font-size: 14px;
    color: #3A5CEC;
    font-weight: normal;
    margin-top: -5px;
    margin-bottom: 28px;
}

.loginbox .codeTip .link {
    color: #56a5e8;
    text-decoration: underline;
    font-size: 12px;
    cursor: pointer;
}

.loginbox .codeTip .link a {
    color: #56a5e8;
}

.loginbox .codeTip .link a:hover {
    color: #56a5e8;
}

.loginbox .loginBtn {
    width: 100%;
    height: 50px;
    background: linear-gradient(-90deg, rgba(75, 128, 255, 1), rgba(118, 157, 248, 1));
    color: #fff;
    display: block;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    padding: 0;
    border: none;

    background:linear-gradient(-90deg,rgba(51,85,232,1),rgba(94,133,255,1));
    box-shadow:0px 13px 36px 4px rgba(76,129,255,0.38);
    border-radius:4px;
}

.loginbox .resetBtn {
    width: 100%;
    background: #6073fe;
    color: #fff;
    border-radius: 25px;
    display: block;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    padding: 0;
    border: none;
    box-shadow: 0 0 50px 9px rgba(13, 39, 121, 0.12);
}

.loginbox .resetBtn:hover {
    opacity: 0.9;
}

#passwordloginbox .resetBtn {
    box-shadow: 0px 13px 36px 4px rgba(76, 129, 255, 0.38);
    width: 100%;
    color: #fff;
    border-radius: 4px;
    display: block;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    padding: 0;
    border: none;

background:linear-gradient(-90deg,rgba(51,85,232,1),rgba(94,133,255,1));
box-shadow:0px 13px 36px 4px rgba(76,129,255,0.38);
}

#passwordloginbox .cancelBtn {
    box-shadow: 0px 10px 28px 4px rgba(146, 162, 203, 0.47);
    width: 100%;
    background: linear-gradient(90deg, rgba(198, 205, 222, 1), rgba(188, 196, 214, 1));
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 4px;
    display: block;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    padding: 0;
}

.loginbox .cancelBtn:hover {
    opacity: 0.9;
}

.loginbox .cancelBtn {
    width: 100%;
    background: #fff;
    color: #3b6abf;
    border-radius: 25px;
    display: block;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    padding: 0;
    border: 1px solid #3b6abf;
    box-shadow: 0 0 50px 9px rgba(13, 39, 121, 0.08);
}

.loginbox .tipCntBox {
    padding: 10px 0;
    font-size: 14px;
    color: #ff0909;
    margin-top: -5px;
    /*height: 20px;*/
    height: auto;
    font-weight: bold;
}

#passwordloginbox .tipCntBox {
    font-size: 14px;
    color: #ff0909;
    margin-top: -20px;
    /*height: 20px;*/
    height: auto;
    font-weight: bold;
}

.loginbox .pswForgetBtn {
    color: #3A5CEC;
    font-size: 14px;
    float: right;
    cursor: pointer;
    margin-top: 10px;
}

.loginbox .bindTelBox {
    padding: 0 60px 13px;
    color: #fff;
    font-size: 16px;
}

.whiteIptBox {
    background: #fff;
    border-radius: 5px;
}

.whiteIptBox input {
    background: #fff;
    border: none;
    margin: 0 auto;
}

.blueSubmitBtn {
    height: 30px;
    line-height: 30px;
    background: linear-gradient(-90deg, rgba(75, 128, 255, 1), rgba(118, 157, 248, 1));
    font-size: 16px;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 5px;
}

.blueSubmitBtn:hover {
    background: linear-gradient(-90deg, rgba(75, 128, 255, 1), rgba(118, 157, 248, 1));
    opacity: 0.9;
}

.passwordForgetBox {
    width: 370px;
    height: 248px;
    position: absolute;
    left: 120px;
    top: 244px;
    background: #fff;
    z-index: 300;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
}

.passwordForgetBox .title {
    padding-top: 30px;
    font-size: 16px;
    margin-bottom: 15px;
}

.passwordForgetBox .whiteIptBox {
    margin: 0 auto 10px;
}

.passwordForgetBox .whiteIptBox input {
    width: 254px;
    box-shadow: none;
    height: 40px;
    line-height: 40px;
    border: 1px solid #dcdcdc;
    margin: 0 auto;
    border-radius: 5px;
    padding-left: 15px;
}

.passwordForgetBox .tip {
    color: #ff0909;
    margin: 0 auto 10px;
    font-size: 14px;
    width: 257px;
    text-align: left;
}

.passwordForgetBox .blueSubmitBtn {
    width: 257px;
    height: 40px;
    line-height: 40px;
    padding: 0;
}

.passwordForgetBox .codeImgBox {
    width: 113px;
    margin: 0 auto 10px;
    height: 40px;
    text-align: center;
}

.passwordForgetBox .codeImgBox img {
    height: 100%;
}

.passwordForgetBox .closeBtn {
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 5;
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: -2px;
    top: -65px;
    z-index: 5;
    color: #fff;
    cursor: pointer;
    font-size: 42px;
}

.passwordForgetBox .el-form-item.is-success .el-input__inner, .passwordForgetBox .el-form-item.is-success .el-input__inner:focus, .passwordForgetBox .el-form-item.is-success .el-textarea__inner, .passwordForgetBox .el-form-item.is-success .el-textarea__inner:focus, .passwordForgetBox .el-form-item.is-error .el-input__inner, .passwordForgetBox .el-form-item.is-error .el-input__inner:focus, .passwordForgetBox .el-form-item.is-error .el-textarea__inner, .passwordForgetBox .el-form-item.is-error .el-textarea__inner:focus, .passwordForgetBox .el-message-box__input input.invalid, .passwordForgetBox .el-message-box__input input.invalid:focus {
    border: 1px solid #dcdcdc!important;
}

.passwordForgetBox .el-form-item__error {
    left: 67px;
}

.hideBox {
    display: none!important;
}

.logoutBox {
    height: 208px;
    position: absolute;
    top: 220px;
    background: #fff;
    z-index: 300;
    border-radius: 8px;
    box-shadow:-1px 7px 27px 0px rgba(114,154,249,0.36);
    color: #666;
    left: 30px;
    padding: 0 25px;
    right: 30px;
}

.logoutBox .box {
    padding: 15px;
}

.logoutBox .title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
}

.logoutBox .cnt {
    font-size: 17px;
    margin-bottom: 15px;
    line-height: 1.3;
}

.logoutBox .cnt a {
    font-size: 14px;
    color: #56a5e8;
    text-decoration: underline;
}

.logoutBox .blueSubmitBtn {
    width: 120px;
    height: 40px;
    padding: 0;
}

.logoutBox .floatLeft {
    float: left;
    margin-left: 90px;
    background: linear-gradient(-90deg, rgba(75, 128, 255, 1), rgba(118, 157, 248, 1));
    box-shadow: 0px 13px 36px 4px rgba(76, 129, 255, 0.38);
}

.logoutBox .floatRight {
    float: right;
    margin-right: 90px;
    background: linear-gradient(-90deg, rgba(75, 128, 255, 1), rgba(118, 157, 248, 1));
    box-shadow: 0px 13px 36px 4px rgba(76, 129, 255, 0.38);
}

.mark {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 25px;
    line-height: 25px;
    width: 120px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    z-index: 500;
    text-align: center;
}

.accountNumber {
    border: 1px solid #c6c9cd;
    margin-bottom: 32px;
    height: 40px;
    border-radius: 4px;
}

#passwordloginbox .accountNumber {
    border: 1px solid #c6c9cd;
    margin-bottom: 30px;
}

/*去除chrome浏览器记住用户名密码的input黄色底色*/

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

#aboutUs {
    position: fixed;
    bottom: 30px;
    left: 340px;
    color: #fff;
    border-top: 1px solid rgba(224, 231, 241, 1);
    font-size: 12px;
    width: 1200px;
}

#aboutUs p {
    padding-top: 20px;
}

#header_top {
    padding-left: 354px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height:56px;
    background:linear-gradient(90deg,rgba(74,111,248,1),rgba(61,94,212,1));
    box-shadow:0px 0px 36px 2px rgba(18,73,204,0.8);
}

#header_top .headerimage {
    /* width: 140px; */
    /* height: 30px; */
    display: flex;
    justify-content: center;
}

#header_top .headerimage img {
    /* width: 90%; */
    /* height: 83%; */
}

/* #header_top span{
    color: #616161;
    font-size: 26px;
}  */

.el-form-item__error {
    left: -80px;
    top: 135%;
}

.lastaccountNumber .el-form-item__error {
    left: 20px;
    top: 135%;
}

/* @media (max-width:1440px) {
    .loginbox {
        margin-right: 10%
    }
} */

@media (max-width:1440px) {
    html, body {
        height: 110%;
        font-family: PingFang SC;
    }
    .logoutBox .floatLeft{
        margin-left: 38px;
    }
    .logoutBox .box{
        padding-top: 28px;
    }
    .logoutBox .floatRight{
        margin-right: 34px;
    }
    body {
        position: relative;
        height: 110%;
        background-size: 110%;
        background-image: url('../../../images/skin1/bigLogo1.jpg');
        margin-top: 0px;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #4566cf !important;
        background-position: center center;
    }
    .loginbox {
        margin-right: 14%
    }
    #header_top {
        height: 50px;
        padding-left: 150px;
    }
    .loginboxbar {
        height: 464px !important;
    }
    .loginbox {
        width: 400px;
        height: 480px;
        padding: 0 60px;
        margin-top: -310px;
    }
    .logoutBox {
        top: 193px;
    }
    #aboutUs {
        position: absolute !important;
        left: 150px;
    }
    #aboutUs p {
        padding-top: 10px;
        font-size: 14px;
    }
    .passwordloginbox .normal_text {
        padding-top: 54px;
    }
    #passwordloginbox .accountNumber {
        margin-bottom: 24px;
    }
    .loginBtnBoxBar {
        width: 180px;
    }
    #passwordloginbox .codeTip {
        margin-bottom: 0;
    }
    .passwordForgetBox {
        width: 370px;
        height: 248px;
        position: absolute;
        left: 76px;
        top: 150px;
        background: #fff;
        z-index: 300;
        border-radius: 8px;
        text-align: center;
        box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
    }
    .lastaccountNumber .el-form-item__error {
        left: 20px;
        top: 125%;
    }
    .el-form-item__error {
        left: -80px;
        top: 125%;
    }
}

@media (max-width:800px) {}

@media (max-width: 480px) {}

.controlActive .el-button--primary.is-disabled, .controlActive .el-button--primary.is-disabled:hover {
    /* background-color: #4077fc !important; */
    /* opacity: 0.8; */
}

.loginBtn:hover {
    opacity: 0.9;
}