<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="_header_include::frag(~{::title},~{},~{})">
    <title>标记异常客户</title>

</head>
<body>

<div id="mainDiv"  class="mainPadding">

    <el-breadcrumb separator="/" class="elBreadcrumb marginB20">
        <el-breadcrumb-item>Home</el-breadcrumb-item>
        <el-breadcrumb-item>业务设置</el-breadcrumb-item>
        <el-breadcrumb-item><a href="JavaScript:void(0)">标记异常客户</a></el-breadcrumb-item>
    </el-breadcrumb>

    <el-row type="flex" class="row-bg" justify="start">
        <el-button @click="openAddDialog()">添加异常客户</el-button>
        <el-button @click="openUpdateDialog()">删除</el-button>
    </el-row>

    <el-row type="flex" class="row-bg" justify="end">
        <el-form :inline="true" :model="queryForm" class="demo-form-inline" ref="queryForm" >

            <el-form-item label="">
                <el-select v-model="queryForm.status" placeholder="状态搜索" width="100">
                    <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"></el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="">
                <el-select v-model="queryForm.type" placeholder="异常类型" width="100">
                    <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"></el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="创建时间">
                <el-date-picker v-model="queryForm.time1" type="datetime" placeholder="选择日期时间"></el-date-picker>
                <span>到</span>
                <el-date-picker v-model="queryForm.time2" type="datetime" placeholder="选择日期时间"></el-date-picker>
            </el-form-item>

            <el-form-item label="" prop="name">
                <el-input v-model="queryForm.phone" placeholder="客户电话"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="initList">搜索</el-button>
            </el-form-item>
        </el-form>
    </el-row>

    <template>
        <el-table :data="tableData" height="650" style="width: 100%" tooltip-effect="dark"  ref="multipleTable"
                  @selection-change="handleSelectionChange" >
            <el-table-column type="selection" width="55" prop="id"> </el-table-column>
            <el-table-column prop="phone" label="客户电话" width="180" align="center"></el-table-column>
            <el-table-column prop="type" label="异常类型" width="180" align="center"></el-table-column>
            <el-table-column prop="createTime" label="创建时间" width="300" align="center"></el-table-column>
            <el-table-column prop="createUser" label="创建人" width="300" align="center"></el-table-column>
            <el-table-column  prop="status" label="状态"  align="center">
                <template slot-scope="scope">
                    <span style="" v-if="scope.row.status==0">正常标记</span>
                    <span style="color: red" v-else>标记已删除</span>
                </template>
            </el-table-column>
        </el-table>
    </template>
    <table-pagination :pager="pager"  @change="initList"></table-pagination>

    <el-dialog
            title="添加异常客户"
            :visible.sync="addDialogVisible" width="60%"  :before-close="handleClose"  >
        <template>
            <el-form :model="add" ref="add" :rules="rules">
                <el-form-item label="客户手机号"  :label-width="formLabelWidth"  prop="phone">
                    <el-input v-model="add.phone" autocomplete="off"  ></el-input>
                </el-form-item>
                <el-form-item label="异常类型"  :label-width="formLabelWidth"  prop="type">
                    <el-select v-model="add.type" placeholder="异常类型" width="100">
                        <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"></el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="saveOne">提 交</el-button>
                <el-button type="primary" @click="addDialogVisible = false">取 消</el-button>
            </div>
        </template>
    </el-dialog>
</div>



<!-- import common js-->
<div th:include="_footer_include :: #jsLib"></div>

<script>

    // 查询 模块
    var mainDivVM = new Vue({
        el: '#mainDiv',
        data: {
            queryForm:{
                type:"",
                status:"",
                time1:"",
                time2:"",
                phone:""
            },
            options: [{
                value: '1',
                label: '正常标记'
            }, {
                value: '2',
                label: '标记已删除'
            }],
            options1: [{
                value: '1',
                label: '正常'
            }, {
                value: '2',
                label: '已删除'
            }],
            tableData:[],
            multipleIpSelection:[],
            pager:{
                total: 0,
                currentPage: 1,
                pageSize: 20,
            },
        },
        methods: {
            initList() {
                var param = this.queryForm;
                param.pageSize = this.pager.pageSize;
                param.pageNum = this.pager.pageNum;
                axios.post('/abnoramluser/queryAbnoramlUsers',param).then(function (response) {
                    console.log(response.data)
                    if(null===response||response.data==null||response.data.code!='0'){
                        console.log("返回值无效")
                        return ;
                    }else{
                        console.log(response.data.data.data)
                        mainDivVM.tableData =response.data.data.data;
                        mainDivVM.pager.currentPage= response.data.data.currentPage;
                        mainDivVM.pager.total= response.data.data.total;
                    }
                })
            },
            formatStatus(row, column){
                return row.status == 0 ? "正常标记" : "标记已删除";
            },
            handleSelectionChange(val) {
                this.multipleIpSelection = val;
            },
            resetForm(formName) {
                mainDivVM.$refs[formName].resetFields();
                this.$refs[formName].resetFields();
            }
        },
        created(){
            this.initList();
        }
    });

</script>
<style>
    .el-button--primary {
        background-color: #6f7180;
        border: #6f7180;
    }

    .el-table th {
        font-weight: bolder;
    }
</style>
</body>
</html>