html,body{height: 100%;}
body{height:100%;background-image: url('../../../images/unionSkin/canmengBg.png');margin-top:0px;background-repeat:no-repeat;background-size: cover;background-color: #1e2746;background-position: center center;}
.canmengloginbox {padding-right: 100px !important; width: 20%;height:530px;position: relative;float: right;margin-right: 13%;overflow: hidden !important;text-align: left;top: 50%;margin-top: -265px;padding: 0 55px;border-radius: 10px;}
.canmengloginbox .el-input__inner{border:1px solid #fff;border-radius: 0;padding-left: 45px;}
.canmengloginbox .el-form-item.is-success .el-input__inner,
.canmengloginbox .el-form-item.is-success .el-input__inner:focus,
.canmengloginbox .el-form-item.is-success .el-textarea__inner,
.canmengloginbox .el-form-item.is-success .el-textarea__inner:focus,
.canmengloginbox .el-form-item.is-error .el-input__inner,
.canmengloginbox .el-form-item.is-error .el-input__inner:focus,
.canmengloginbox .el-form-item.is-error .el-textarea__inner,
.canmengloginbox .el-form-item.is-error .el-textarea__inner:focus,
.canmengloginbox .el-message-box__input input.invalid,
.canmengloginbox .el-message-box__input input.invalid:focus{
    border-color: #fff;
    /*border-bottom: 1px solid #3b6abf*/
}
.el-form-item{
    margin-bottom: 20px !important;
}
.el-form-item__error{
    top: 120% !important;
}
.canmengloginbox .el-form-item__content{
    width:317px;
    height:36px;
    border: 2px solid rgba(255,255,255,1);
    box-shadow:0px 0px 4px 0px rgba(8,36,105,0.23);
}
.insideBg{
    width: 80%;
    height: 80%;
    /*background: green;*/
    position:absolute;
    /*background-color: red;*/
    left:50%;    /* 定位父级的50% */
    top:50%;
    transform: translate(-50%,-50%); /*自己的50% */
    background-image: url('../../../images/unionSkin/insideBg.png');
    background-size: 100% 100%;
}
.canmengloginbox .iconImg{position: absolute;left: 13px;bottom: 10px;display: block;z-index: 1;}
.canmengloginbox .iconImg img{display: block;}
.canmengloginbox .iconRight{right:13px;left: auto; top: 18px}
.canmengloginbox .iconRight{right:13px;left: auto; top: 18px}
.loginform ,.reform{ z-index: 200; display:block;height: 500px; width:100%; background:rgba(255,255,255,0.15); position:relative; top:0; left:0;border-radius:15px;}
.canmengloginbox .control-group{ margin-bottom:15px;}

.canmengloginbox .control-group .el-form-item__content {box-shadow:none}
.canmengloginbox .normal_text{margin-left: 21%;width: 150px;height: 55px;padding: 70px 0 30px;text-align: center;line-height: 20px;color: #3b6abf;font-size: 20px;margin-bottom: 0;}

.canmengloginbox .codeBtn{float: right;background-color: #fff;color: #1555A5;border-color: #3b6abf;border-radius: 20px;padding: 0;height: 37px;}
.canmengloginbox .msgBtn{background: none;border: none;height: 12px;line-height: 12px;padding: 0;margin: 0;font-size: 12px;margin-left: 3px;text-decoration: underline;color: #3b6abf;margin-top: -4px;}
.canmengloginbox .msgBtn:hover{color: #1555A5;background: none;}

.canmengloginbox .codeTip{font-size: 14px;color: #CCCDCD;font-weight: 400;text-align: center;margin-right: 30px}
.canmengloginbox .codeTip .link{color: #1555A5;text-decoration: underline;font-size: 12px;cursor: pointer;}
.canmengloginbox .codeTip .link a{color: #1555A5;}
.canmengloginbox .codeTip .link a:hover{color: #1555A5;}
.canmengloginbox .loginBtn{background:linear-gradient(8deg,rgba(8,112,226,1),rgba(95,142,248,1));;width: 100%;height: 50px;color: #fff;border-radius: 23px;display: block;text-align: center;line-height: 40px;font-size: 20px;padding: 0;border: none;}
.canmengloginbox .resetBtn{width: 100%;background: #6073fe;color: #fff;border-radius: 25px;display: block;text-align: center;line-height: 40px;font-size: 16px;padding: 0;border: none;box-shadow: 0 0 50px 9px rgba(13,39,121,0.12);}
.canmengloginbox .cancelBtn{width: 100%;background: #fff;color: #3b6abf;border-radius: 25px;display: block;text-align: center;line-height: 40px;font-size: 16px;padding: 0;border: 1px solid #3b6abf;box-shadow: 0 0 50px 9px rgba(13,39,121,0.08);}

.canmengloginbox .tipCntBox{padding: 10px 0;font-size: 14px;color: #ff0909;margin-top: -5px;/*height: 20px;*/height: auto;font-weight: bold;}
.canmengloginbox .pswForgetBtn{width: 100%;text-align: center;color: #A7A6A6;font-size: 14px;float: right;cursor: pointer;}

.canmengloginbox .bindTelBox{padding:0 60px 13px;color: #fff;font-size:16px; }

.whiteIptBox{background:#fff;border-radius:5px;}

.whiteIptBox .el-form-item__content{box-shadow:none}
.blueSubmitBtn:hover{
    background-color: #1555A5 !important;}
.whiteIptBox input{background:#fff;border:none;margin:0 auto;}
.blueSubmitBtn{height:30px;line-height:30px;background:linear-gradient(8deg,rgba(8,112,226,1),rgba(95,142,248,1));font-size: 16px;color: #fff;text-align: center;border:none;border-radius: 5px;}
.passwordForgetBox{width: 370px;height: 248px;position: absolute;left: 30px;top: 244px;background: #fff;z-index: 300;border-radius: 15px;text-align: center;box-shadow: 0 0 20px 10px rgba(0,0,0,0.1);}
.passwordForgetBox .title{padding-top: 30px;font-size: 16px;margin-bottom: 15px;}
.passwordForgetBox .whiteIptBox{margin:0 auto 10px;}
.passwordForgetBox .whiteIptBox input{width: 254px;box-shadow: none;height: 40px;line-height: 40px;border: 1px solid #dcdcdc;margin: 0 auto;border-radius: 5px;padding-left: 15px;}
.passwordForgetBox .tip{color: #ff0909;margin:0 auto 10px;font-size: 14px;width: 257px;text-align: left;}
.passwordForgetBox .blueSubmitBtn{;background:linear-gradient(8deg,rgba(8,112,226,1),rgba(95,142,248,1));width: 257px;height: 40px;line-height: 40px;padding: 0;}
.passwordForgetBox .codeImgBox{width: 113px;margin:0 auto 10px;height: 40px;text-align: center;}
.passwordForgetBox .codeImgBox img{height: 100%;}
.passwordForgetBox .closeBtn{position: absolute;right: -10px;top: -10px;z-index: 5;color: #fff;cursor: pointer;position: absolute;right: -2px;top: -65px;z-index: 5;color: #fff;cursor: pointer;font-size: 42px;}

.passwordForgetBox .el-form-item.is-success .el-input__inner,
.passwordForgetBox .el-form-item.is-success .el-input__inner:focus,
.passwordForgetBox .el-form-item.is-success .el-textarea__inner,
.passwordForgetBox .el-form-item.is-success .el-textarea__inner:focus,
.passwordForgetBox .el-form-item.is-error .el-input__inner,
.passwordForgetBox .el-form-item.is-error .el-input__inner:focus,
.passwordForgetBox .el-form-item.is-error .el-textarea__inner,
.passwordForgetBox .el-form-item.is-error .el-textarea__inner:focus,
.passwordForgetBox .el-message-box__input input.invalid,
.passwordForgetBox .el-message-box__input input.invalid:focus{
    border: 1px solid #dcdcdc!important;
}

.passwordForgetBox .el-form-item__error{left: 57px;}


.hideBox{display: none!important;}

.logoutBox{width: 328px !important;height: 208px;position: absolute;top: 281px;background: #fff;z-index: 300;border-radius: 15px;box-shadow: 0 0 20px 10px rgba(0,0,0,0.1);color: #666;left: 30px;padding: 0 25px;right: 30px;}
.logoutBox .box{padding: 15px;}
.logoutBox .title{text-align: center;font-size: 20px;margin-bottom: 15px;}
.logoutBox .cnt{font-size: 17px;margin-bottom: 15px;line-height: 1.3;}
.logoutBox .cnt a{font-size: 14px;color: #1555A5;text-decoration: underline;}
.logoutBox .blueSubmitBtn{width: 120px;height: 40px;padding: 0;}
.logoutBox .floatLeft{float: left;}
.logoutBox .floatRight{float: right;}
.mark {display: none;position: fixed;top: 0;right: 0;bottom: 0;left: 0;margin: auto;height: 25px;line-height: 25px;width: 120px;text-align: center;font-size: 14px;  color: #fff;background: rgba(0, 0, 0, 0.6);border-radius: 3px;z-index: 500;  text-align: center;}
/*去除chrome浏览器记住用户名密码的input黄色底色*/
input:-webkit-autofill , textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}



@media (max-width:1366px){
    .canmengloginbox{margin-right: 17%}
    .canmengloginbox .normal_text{
        margin-left:28%;
    }
}
@media (max-width:800px){
}
@media (max-width: 480px){
}
