<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="_header_include::frag(~{::title},~{},~{})">
    <title>部门呼叫设置</title>

</head>
<body>

<div id="mainDiv"  class="mainPadding">

    <el-breadcrumb separator="/" class="elBreadcrumb marginB20">
        <el-breadcrumb-item>Home</el-breadcrumb-item>
        <el-breadcrumb-item>业务设置</el-breadcrumb-item>
        <el-breadcrumb-item><a href="JavaScript:void(0)">部门呼叫设置</a></el-breadcrumb-item>
    </el-breadcrumb>

    <el-row type="flex" class="row-bg" justify="start">
        <el-button @click="openAddDialog()">添加部门呼叫设置</el-button>
        <el-button @click="deletebatch()">导入呼叫信息</el-button>
        <el-button @click="update()">修 改</el-button>
    </el-row>

    <el-row type="flex" class="row-bg" justify="end">
        <el-form :inline="true" :model="queryForm" class="demo-form-inline" ref="queryForm" >

            <el-form-item label="" prop="name">
                <el-input v-model="queryForm.phone" placeholder="部门编号"></el-input>
            </el-form-item>

            <el-form-item label="">
                <el-select v-model="queryForm.status" placeholder="请选择所在组织" width="100">
                    <el-option v-for="item in statusOptions" :key="item.value" :label="item.label" :value="item.value"></el-option>
                </el-select>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="initList">搜索</el-button>
            </el-form-item>
        </el-form>
    </el-row>

    <template>
        <el-table :data="tableData" height="650" style="width: 100%" tooltip-effect="dark"  ref="multipleTable"
                  @selection-change="handleSelectionChange" >
            <el-table-column type="selection" width="55" prop="id"> </el-table-column>
            <el-table-column prop="xh" label="序号" width="180" align="center"></el-table-column>
            <el-table-column prop="deptNo" label="部门编号" width="180" align="center"></el-table-column>
            <el-table-column prop="callCenterNo" label="呼叫中心编号" width="180" align="center"></el-table-column>
            <el-table-column prop="token" label="Token" width="180" align="center"></el-table-column>
            <el-table-column prop="companyUser" label="企业用户名" width="180" align="center"></el-table-column>
            <el-table-column prop="companyPass" label="企业用户名密码" width="180" align="center"></el-table-column>
            <el-table-column prop="deptUser" label="部门用户" width="180" align="center"></el-table-column>
            <el-table-column prop="deptPass" label="部门用户密码" width="180" align="center"></el-table-column>
            <el-table-column prop="orgname" label="所属部门" width="180" align="center">
            </el-table-column>
        </el-table>
    </template>
    <table-pagination :pager="pager"  @change="initList"></table-pagination>

    <el-dialog
            title="添加部门呼叫设置"
            :visible.sync="addDialogVisible"  width="30%">
        <template>
            <el-form :model="add" ref="add" >

                <el-form-item label="部门编号"  :label-width="formLabelWidth">
                    <el-input v-model="add.deptNo" autocomplete="off"  maxlength="50"   style="width: 80%" ></el-input>
                </el-form-item>
                <el-form-item label="呼叫中心编号"  :label-width="formLabelWidth">
                    <el-input v-model="add.callCenterNo" autocomplete="off"  maxlength="50"   style="width: 80%" ></el-input>
                </el-form-item>
                <el-form-item label="Token"  :label-width="formLabelWidth">
                    <el-input v-model="add.token" autocomplete="off"  maxlength="50"   style="width: 80%" ></el-input>
                </el-form-item>
                <el-form-item label="企业用户名"  :label-width="formLabelWidth">
                    <el-input v-model="add.companyUser" autocomplete="off"  maxlength="50"   style="width: 80%" ></el-input>
                </el-form-item>
                <el-form-item label="企业用户名密码"  :label-width="formLabelWidth">
                    <el-input v-model="add.companyPass" autocomplete="off"  maxlength="50"   style="width: 80%" ></el-input>
                </el-form-item>
                <el-form-item label="部门用户"  :label-width="formLabelWidth">
                    <el-input v-model="add.deptUser" autocomplete="off"  maxlength="50"   style="width: 80%" ></el-input>
                </el-form-item>
                <el-form-item label="部门用户密码"  :label-width="formLabelWidth">
                    <el-input v-model="add.deptPass" autocomplete="off"  maxlength="50"   style="width: 80%" ></el-input>
                </el-form-item>
                <el-form-item label="所属部门"  :label-width="formLabelWidth">
                    <el-input v-model="add.orgname" autocomplete="off"  maxlength="50"   style="width: 80%" ></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="saveOne">提 交</el-button>
                <el-button type="primary" @click="addDialogVisible = false">取 消</el-button>
            </div>
        </template>
    </el-dialog>

    <el-dialog
            title="修改部门呼叫设置"
            :visible.sync="updateDialogVisible"  width="30%">
        <template>
            <el-form :model="update" ref="update" >

                <el-form-item label="部门编号"  :label-width="formLabelWidth">
                    <el-input v-model="update.deptNo" autocomplete="off"  maxlength="50"   style="width: 80%" ></el-input>
                </el-form-item>
                <el-form-item label="呼叫中心编号"  :label-width="formLabelWidth">
                    <el-input v-model="update.callCenterNo" autocomplete="off"  maxlength="50"   style="width: 80%" ></el-input>
                </el-form-item>
                <el-form-item label="Token"  :label-width="formLabelWidth">
                    <el-input v-model="update.token" autocomplete="off"  maxlength="50"   style="width: 80%" ></el-input>
                </el-form-item>
                <el-form-item label="企业用户名"  :label-width="formLabelWidth">
                    <el-input v-model="update.companyUser" autocomplete="off"  maxlength="50"   style="width: 80%" ></el-input>
                </el-form-item>
                <el-form-item label="企业用户名密码"  :label-width="formLabelWidth">
                    <el-input v-model="update.companyPass" autocomplete="off"  maxlength="50"   style="width: 80%" ></el-input>
                </el-form-item>
                <el-form-item label="部门用户"  :label-width="formLabelWidth">
                    <el-input v-model="update.deptUser" autocomplete="off"  maxlength="50"   style="width: 80%" ></el-input>
                </el-form-item>
                <el-form-item label="部门用户密码"  :label-width="formLabelWidth">
                    <el-input v-model="update.deptPass" autocomplete="off"  maxlength="50"   style="width: 80%" ></el-input>
                </el-form-item>
                <el-form-item label="所属部门"  :label-width="formLabelWidth">
                    <el-input v-model="update.orgname" autocomplete="off"  maxlength="50"   style="width: 80%" ></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="saveOne">提 交</el-button>
                <el-button type="primary" @click="addDialogVisible = false">取 消</el-button>
            </div>
        </template>
    </el-dialog>

    <el-dialog
            title="导入部门呼叫信息"
            :visible.sync="importDialogVisible"  width="30%">
        <template>
            <el-upload
                    class="upload-demo"
                    ref="upload"
                    action="https://jsonplaceholder.typicode.com/posts/"
                    :file-list="fileList"
                    :auto-upload="false">
                <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
                <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
            </el-upload>

            <div slot="footer" class="dialog-footer">
                <el-button @click="saveOne">确 定</el-button>
                <el-button type="primary" @click="addDialogVisible = false">取 消</el-button>
            </div>
        </template>
    </el-dialog>

</div>



<!-- import common js-->
<div th:include="_footer_include :: #jsLib"></div>

<script>
    const validateAcquaintance= (rule, value, callback) => {
        if (!value) {
            callback(new Error('必须输入'))
        }
        value = Number(value)
        if (typeof value === 'number' && !isNaN(value)&&(value%1 === 0)) {
            if (value <=0) {
                callback(new Error('输入的值为正整数'))
            } else {
                callback()
            }
        } else {
            callback(new Error('输入的值为正整数'))
        }
    }
    // 查询 模块
    var mainDivVM = new Vue({
        el: '#mainDiv',
        data: {
            formLabelWidth:'150px',
            addDialogVisible:false,
            updateDialogVisible:false,
            importDialogVisible:false,
            fileList:[],
            add:{
                phone:"",
                type:""
            },
            rules:{
            },
            queryForm:{
                type:"",
                status:"",
                time1:"",
                time2:"",
                phone:""
            },
            abnorMalType: [],
            statusOptions: [{
                value: '',
                label: '状态搜索'
            },{
                value: '0',
                label: '正常标记'
            }, {
                value: '1',
                label: '标记已删除'
            }],
            tableData:[],
            multipleSelection:[],
            pager:{
                total: 0,
                currentPage: 1,
                pageSize: 20,
            },
        },
        methods: {

            initList() {
                var param = this.queryForm;
                param.pageSize = this.pager.pageSize;
                param.pageNum = this.pager.pageNum;
                console.log(param)
                axios.post('/deptcallset/queryDeptcallset',param).then(function (response) {
                    console.log(response.data)
                    if(null===response||response.data==null||response.data.code!='0'){
                        console.log(response.data)
                        if(response.data.code!='0'){
                            mainDivVM.$message({message: response.data.msg, type: 'warning'});
                        }
                        return false;
                    }else{
                        console.log(response.data.data.data)
                        mainDivVM.tableData =response.data.data.data;
                        mainDivVM.pager.currentPage= response.data.data.currentPage;
                        mainDivVM.pager.total= response.data.data.total;
                    }
                })
            },
            initAbnormalType(){
                var param = {}
                axios.post('/abnoramluser/AbnoramlType',param).then(function (response) {
                    if(null===response||response.data==null||response.data.code!='0'){
                        return ;
                    }else{
                        var datas = response.data.data;
                        mainDivVM.abnorMalType = datas
                    }
                })
            },
            update(){
                var rows = this.multipleSelection;
                if(rows.length==0){
                    this.$message({message: '没有选择数据', type: 'warning'});
                    return false;
                }if(rows.length>1){
                    this.$message({message: '请选择一条数据', type: 'warning'});
                    return false;
                }else{
                //   进行修改
                }
            },
            openAddDialog(){
                mainDivVM.addDialogVisible= true;
                mainDivVM.resetForm("add");
            },
            saveOne(){
                var param = this.add;
                this.$refs['add'].validate((valid) => {
                    if (valid) {
                        axios.post("/deptcallset/saveOne", param)
                            .then(function (response) {
                                if (response.data.code == 0) {
                                    mainDivVM.$message({type: 'success', message: '插入成功!',duration:2000,onClose:function(){
                                            mainDivVM.pager.pageNum = 1
                                            mainDivVM.initList();
                                            mainDivVM.addDialogVisible = false;
                                        }});
                                } else {
                                    mainDivVM.$message.error(response.data.msg);
                                }
                            }).catch(function (error) {console.log(error);});
                    } else {return false;}
                });
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            resetForm(formName) {
                mainDivVM.$refs[formName].resetFields();
                this.$refs[formName].resetFields();
            }
        },
        created(){
            this.initAbnormalType();
            this.initList();
        }
    });

</script>
<style>
    .el-button--primary {
        background-color: #6f7180;
        border: #6f7180;
    }
    .dialog-footer{
        text-align: center;
    }
    .el-table th {
        font-weight: bolder;
    }
    .el-input__inner{
     //   width: 200px;
    }

</style>
</body>
</html>