<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="_header_include::frag(~{::title},~{},~{})">
    <title>后台管理系统</title>
    <style>
    </style>
</head>
<body>
<div id="maindiv" class="maindiv mainPadding" style="display: none;">    
    <el-breadcrumb separator="/" class="elBreadcrumb marginB20">
        <el-breadcrumb-item>Home</el-breadcrumb-item>
        <el-breadcrumb-item>数据报表</el-breadcrumb-item>
        <el-breadcrumb-item>资源分配表</el-breadcrumb-item>
    </el-breadcrumb>    
    <el-row class="marginB20">
        <el-button type="primary" @click="searchYesterday" :disabled="btnDisabled">昨天</el-button>
        <el-button type="success" @click="searchWeek" :disabled="btnDisabled">近七天</el-button>
        <el-button type="warning" @click="searchMonth" :disabled="btnDisabled">本月</el-button>
        <shiro:hasPermission name="statistics:teleStatement:resourceAllocation:export">
        <el-button type="danger"  @click="exportRs">导出Excel报表</el-button>
        </shiro:hasPermission>
    </el-row>
    <div class="mainSearchBg">        
        <div class="mainSearchFormBox">
           <el-form :inline="true" :model="form" class="demo-form-inline mainSearchForm" ref="form">                 
                <el-form-item label="起止时间:">
                    <el-date-picker format="yyyy-MM-dd HH:mm" v-model="form.startTime" type="datetime" placeholder="选择日期"></el-date-picker>
                </el-form-item>
                <el-form-item label="—" class="widthauto">
                   <el-date-picker format="yyyy-MM-dd HH:mm" v-model="form.endTime" type="datetime" placeholder="选择日期"></el-date-picker>
                </el-form-item>
                <el-form-item label="电销组:">  
                    <el-select v-model="form.org_Id" placeholder="电销组" style="width: 100%;" clearable filterable :disabled="isDisabled">
                        <el-option
                            v-for="item in orgTeleArr"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="分配来源:">  
                    <el-select v-model="form.new_resource" placeholder="分配来源" style="width: 100%;" clearable filterable>
                        <el-option
                            v-for="item in distributionSource"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <div class="mainSearchBtnBox">
                    <el-button icon="el-icon-search" type="primary" @click="searchTable(1)" class="searchBtn" :disabled="btnDisabled">搜索</el-button>
                    <!-- <el-button type="info" class="searchBtn">取消</el-button> -->
                    <!-- <span style="color: #5c6be8;cursor: pointer;margin:0 10px;" @click="toogleClick"><span v-if="isShow">收起</span><span v-else>展开更多</span><i :class="{'greycolor paddingL6 el-icon-arrow-up':isShow,'greycolor paddingL6 el-icon-arrow-down':!isShow}"></i></span> -->
                </div>  
            </el-form>
        </div>
        <el-row>
            <!-- :span-method="arraySpanMethod" -->
            <!-- show-summary -->
            <el-table 
                ref="tableData"
                tooltip-effect="dark"
                style="width: 100%"
                border
                :data="tableData"
                v-loading="loading"
                :span-method="arraySpanMethod"
                >
                <el-table-column align="center" type="index" label="序号" width="55" :index="indexFun"></el-table-column>
                <!-- <el-table-column align="center" type="index" label="序号" width="55"></el-table-column> -->
                <!-- 组列 -->
                <el-table-column align="center" :key="index" :prop="item.fieldCode" :label="item.displayName" v-for="(item,key,index) in tableColums" v-if="item.fieldCode == 'orgName'">
                    <template slot-scope="scope">
                        <el-button @click="gotoTeam(scope.row)" type="text" size="small">{{scope.row.orgName}}</el-button>
                    </template>
                </el-table-column>
                <!-- 其他列 -->
                <el-table-column align="center" width="130" :key="index" :prop="item.fieldCode" :label="item.displayName" v-else>
                </el-table-column>
            </el-table>
            <table-pagination :pager="pager" @change="searchTable()"></table-pagination>
        </el-row>
    </div>
</div>
<!-- import common js-->
<div th:include="_footer_include :: #jsLib"></div>
</body>
<script th:inline="javascript">
    var queryOrg=[[${saleGroupList}]];//电销组
    // var distributionSource=[[${queryOrg}]];//分配来源    
    var fieldList=[[${fieldList}]];//表头list 
    var curOrgId = [[${curOrgId}]];//当前电销组
    var mainDivVM = new Vue({
        el: '#maindiv',
        data: function() {
            return {
                loading:false,
                isDisabled:false,
                btnDisabled:false,
                form: {
                    startTime:'',
                    endTime:'',
                    org_Id:curOrgId,
                    new_resource:''
                },
                export: {
                    startTime:'',
                    endTime:'',
                    org_Id:curOrgId,
                    new_resource:''
                },
                tableData: [],//表格数据
                tableColums: [],//表头list
                orgTeleArr:queryOrg,//电销组
                distributionSource:[{
                    id:1,
                    name:'话务新资源'
                },{
                    id:2,
                    name:'推广新资源'
                },{
                    id:3,
                    name:'非新资源'
                }],//分配来源
                pager:{
                    total: 0,
                    currentPage: 1,
                    pageSize: 20,
                },
            }             
        },
        methods: { 
            searchTable(pageNumOne) {                 
                var startTime=this.form.startTime;
                var endTime=this.form.endTime;
                if(endTime && startTime){
                    startTime = new Date(this.form.startTime);
                    endTime = new Date(this.form.endTime);
                    if(startTime>endTime){
                        this.$message({
                            message: '开始时间不能大于结束时间',
                            type: 'warning'
                        });
                        return;
                    }
                    var date = new Date();
                    var currentDate = moment(date).format("YYYY-MM-DD 23:59");
                    date.setMonth(date.getMonth()-6);
                    var beforeSixMonth = moment(date).format("YYYY-MM-DD 00:00");
                    var currentDateRes = new Date(currentDate);
                    var beforeSixMonthRes = new Date(beforeSixMonth);
                    if(new Date(startTime) < beforeSixMonthRes || new Date(endTime) > currentDateRes){
                        this.$message({
                            message: '请选择近6个月内的时间',
                            type: 'warning'
                        });
                        return;
                    }
                    startTime = this.limitTime(startTime, null);
                    endTime = this.limitTime(null, endTime);
                }else{
                    this.$message({
                        message: '请选择起止时间',
                        type: 'warning'
                    });
                    return;
                }
                var param = {};
                param.pageSize = this.pager.pageSize;
                // param.pageNum =  this.pager.currentPage;
                if(pageNumOne){
                    param.pageNum = pageNumOne;
                }else{
                    param.pageNum = this.pager.currentPage;
                }
                // 搜索条件
                param.startTime = this.minuteFormat(startTime);
                param.endTime = this.minuteFormat(endTime);
                param.org_Id = this.form.org_Id;//电销组
                param.new_resource = this.form.new_resource;//分配来源
                this.loading=true;
                this.btnDisabled=true;
                axios.post('/statistics/teleStatement/getResourceAllocationTable',param).then(function (response) { 
                    if(!response){
                        mainDivVM.$message({
                            message: "接口调用失败",
                            type: 'error'
                        });
                        mainDivVM.loading=false;
                        mainDivVM.btnDisabled=false;
                        return ;
                    }
                    var resobj= response.data;
                    if(!resobj){
                        mainDivVM.$message({
                            message: "接口调用失败",
                            type: 'error'
                        });
                        mainDivVM.loading=false;
                        mainDivVM.btnDisabled=false;
                        return ;
                    }
                    if(resobj.code!='0'){
                        mainDivVM.$message({
                            message: resobj.msg,
                            type: 'error'
                        });
                        mainDivVM.loading=false;
                        mainDivVM.btnDisabled=false;
                        return ;
                    }  
                    var resobjData=resobj.data.data;                    
                    // 表格数据渲染
                    mainDivVM.tableData=resobjData;
                    // 表头数据渲染 
                    mainDivVM.tableColums= fieldList;         
                    // 分页
                    mainDivVM.pager.currentPage= resobj.data.currentPage;
                    mainDivVM.pager.total= resobj.data.total;
                    // 插入合计一行
                    if(resobjData.length>0){
                        mainDivVM.summaryFun(param);
                    }else{
                        // loading
                        mainDivVM.loading=false;
                    }
                    mainDivVM.btnDisabled=false;//按钮可点
                    // 给导出参数赋值
                    mainDivVM.export.startTime = mainDivVM.minuteFormat(startTime);
                    mainDivVM.export.endTime = mainDivVM.minuteFormat(endTime);
                    mainDivVM.export.org_Id = mainDivVM.form.org_Id;
                    mainDivVM.export.new_resource = mainDivVM.form.new_resource;
                })
            },
            gotoTeam(item){
                var orgName = item.orgName;
                var org_Id = item.orgId;//组id;
                // 搜索条件
                var startTime=this.export.startTime;
                var endTime=this.export.endTime;
                var new_resource = this.form.new_resource;
                if(orgName == "合计"){
                    window.location.href="/statistics/teleStatement/resourceAllocationTableSum?org_Id=" + this.export.org_Id+"&startTime="+ startTime+"&endTime="+ endTime+"&new_resource="+ this.export.new_resource;
                }else{
                    window.location.href="/statistics/teleStatement/resourceAllocationTableTeam?org_Id=" + org_Id+"&startTime="+ startTime+"&endTime="+ endTime+"&new_resource="+ new_resource;
                }
            },
            arraySpanMethod({ row, column, rowIndex, columnIndex }) { // 合并第一行
                if (rowIndex === 0) {
                    if (columnIndex === 0) {
                        return [0, 0];
                    } else if (columnIndex === 1) {
                        return [1, 2];
                    }
                }
            },
            indexFun (index) { // 表格序号
                return index;
            },
            summaryFun (param) { // 将合计插入数据中：如果是分页，记得每次获取数据都要执行这个函数
                // const { columns, data } = param;
                // const sums = ["合计", '', 2, 2, '2%', 2, 2, '2%', 1234, 1234];
                // var resTotalList = {
                //     orgName: '合计',
                //     assignClueCount: '2',
                //     jointExhibition: '4',
                //     priceCompetition: '6',
                //     optimization: '8',
                //     informationFlow: '10',
                //     officialWebsite: '12',
                //     industry: '14',
                //     other: '16',
                //     netizensMissed: '18'
                // };
                mainDivVM.loading=true;
                axios.post('/statistics/teleStatement/getResourceAllocationCount',param).then(function (response) {
                    if(!response){
                        mainDivVM.$message({
                            message: "合计接口调用失败",
                            type: 'error'
                        });
                        mainDivVM.loading=false;
                        return ;
                    }
                    var resobj= response.data;
                    if(!resobj){
                        mainDivVM.$message({
                            message: "合计接口调用失败",
                            type: 'error'
                        });
                        mainDivVM.loading=false;
                        return ;
                    }
                    if(resobj.code!='0'){
                        mainDivVM.$message({
                            message: "合计接口调用失败",
                            type: 'error'
                        });
                        mainDivVM.loading=false;
                        return ;
                    }  
                    var resobjData=resobj.data;
                    // 插入合计一行
                    mainDivVM.tableData.unshift(resobjData[0]); 
                    // loading
                    mainDivVM.loading=false;                   
                })
                
                // const sums = [];
                // columns.forEach((column, index) => {
                //     if (index === 0) {
                //         sums[index] = '合计';
                //         return;
                //     }
                //     if (index === 1) {
                //         sums[index] = '';
                //         return;
                //     }
                //     const values = data.map(item => Number(item[column.property]));
                //     if (!values.every(value => isNaN(value))) {
                //         sums[index] = values.reduce((prev, curr) => {
                //             const value = Number(curr);
                //             if (!isNaN(value)) {
                //                 return prev + curr;
                //             } 
                //         }, 0);
                //     }
                // });
                // sums[sums.length-2] = this.timeFun (sums[sums.length-2]);
                // sums[sums.length-1] = this.timeFun (sums[sums.length-1]);
                // return sums;
            },
            minuteFormat (m) {
                if (!m) {
                   return "";
                 }
                return moment(m).format("YYYYMMDDHHmm");
            },
            limitTime (start, end) {
                var startTime = this.minuteFormat (start);
                var endTime = this.minuteFormat (end);
                var date = new Date();
                data = this.minuteFormat (date);// 现在的时间
                data = data.slice(0,8);
                if(startTime){
                    var s = startTime.slice(0,8);
                    if(s < data){
                        this.form.startTime = moment(start).format("YYYY-MM-DD 00:00");
                        return this.form.startTime;
                    }
                    return start;
                }
                if(endTime){
                    var e = endTime.slice(0,8);
                    if(e < data){
                        this.form.endTime = moment(end).format("YYYY-MM-DD 23:59");
                        return this.form.endTime;                        
                    }
                    return end;
                }
            },
            searchYesterday(){//昨天
                this.btnDisabled=true;
                var today = new Date();
                today.setTime(today.getTime()-24*60*60*1000);
                var startTime = today.getFullYear()+"-" + (today.getMonth()+1) + "-" + today.getDate()+" 00:00";
                var endTime =today.getFullYear()+"-" + (today.getMonth()+1) + "-" + today.getDate()+" 23:59";
                this.form.startTime=startTime;
                this.form.endTime=endTime;
                this.searchTable(1);
            },
            searchWeek(){//近七天
                this.btnDisabled=true;
                var a = new Date();
                var year = a.getFullYear();
                var month = a.getMonth();
                var date = a.getDate();
                var b = new Date(year,month,date);
                var c = b.valueOf()-6*24*60*60*1000;
                // var d = b.valueOf()+1*24*60*60*1000;
                var d = b.valueOf();
                var startTime= new Date(c);
                var endTime = new Date(d);
                this.form.startTime=startTime.getFullYear()+"-" + (startTime.getMonth()+1) + "-" + startTime.getDate()+" 00:00";
                this.form.endTime=endTime.getFullYear()+"-" + (endTime.getMonth()+1) + "-" + endTime.getDate()+" 23:59";
                this.searchTable(1);
            },
            searchMonth(){//本月
                this.btnDisabled=true;
                var a = new Date();
                var year = a.getFullYear();
                var month = a.getMonth();
                var date = a.getDate();
                var b = new Date(year,month,date);
                var f= new Date(year,month,01);
                var c = f.valueOf();
              //  var d = b.valueOf()+1*24*60*60*1000;
                var startTime= new Date(c);
               // var endTime = new Date(d);
                this.form.startTime=startTime.getFullYear()+"-" + (startTime.getMonth()+1) + "-" + startTime.getDate()+" 00:00";;
                this.form.endTime=year+"-"+(month+1)+"-"+date+" 23:59";
                this.searchTable(1);
            },
            exportRs(){
                var param = {};
                // 搜索条件
                param.startTime = this.export.startTime;
                param.endTime =  this.export.endTime;
                param.org_Id =  this.export.org_Id;//电销组
                param.new_resource =  this.export.new_resource;//电销组
                axios.post('/statistics/teleStatement/exportResourceAllocationGroup',param,{responseType:'blob'})
                    .then(function (response) {
                        var data =  response.data;
                        var fileName = response.headers.filename;
                        saveAs(data,decodeURI(fileName));
                    })
                    .catch(function (error) {
                        console.log(error);
                    }).then(function(){
                });
            }
        },
        created(){    
            // 默认进入显示当天时间
            var today = new Date();
            today.setTime(today.getTime());
            var startTime = today.getFullYear()+"-"+ (today.getMonth()+1) + "-" + today.getDate()+" 00:00";
            var endTime =today.getFullYear()+"-"+ (today.getMonth()+1) + "-" + today.getDate()+" 23:59";
            this.form.startTime=startTime;
            this.form.endTime=endTime;

            if(curOrgId){this.isDisabled= true;}
            
            // 列表搜索         
            this.searchTable();
        },
        mounted(){            
            document.getElementById('maindiv').style.display = 'block';
        }
    })
    
</script>
</html>