<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="_header_include::frag(~{::title},~{},~{})">
    <title>后台管理系统</title>
    <style>
    </style>
</head>
<body>
<div id="maindiv" class="maindiv mainPadding" style="display: none;">    
    <el-breadcrumb separator="/" class="elBreadcrumb marginB20">
        <el-breadcrumb-item>Home</el-breadcrumb-item>
        <el-breadcrumb-item>数据报表</el-breadcrumb-item>
        <el-breadcrumb-item>资源分配表</el-breadcrumb-item>
    </el-breadcrumb>    
    <el-row class="marginB20">
        <el-button type="primary" @click="searchYesterday">昨天</el-button>
        <el-button type="success" @click="searchWeek">近七天</el-button>
        <el-button type="warning" @click="searchMonth">本月</el-button>  
        <el-button type="danger"  @click="exportRs">导出Excel报表</el-button>
    </el-row>
    <div class="mainSearchBg">        
        <div class="mainSearchFormBox">
           <el-form :inline="true" :model="form" class="demo-form-inline mainSearchForm" ref="form">                 
                <el-form-item label="起止时间:">
                    <el-date-picker format="yyyy-MM-dd HH:mm:ss" v-model="form.startTime" type="datetime" placeholder="选择日期"></el-date-picker>
                </el-form-item>
                <el-form-item label="—" class="widthauto">
                   <el-date-picker format="yyyy-MM-dd HH:mm:ss" v-model="form.endTime" type="datetime" placeholder="选择日期"></el-date-picker>
                </el-form-item>
                <el-form-item label="电销组:">  
                    <el-select v-model="form.teleorg" placeholder="电销组" style="width: 100%;" clearable filterable>
                        <el-option
                            v-for="item in orgTeleArr"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="分配来源:">  
                    <el-select v-model="form.source" placeholder="分配来源" style="width: 100%;" clearable filterable>
                        <el-option
                            v-for="item in distributionSource"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <div class="mainSearchBtnBox">
                    <el-button icon="el-icon-search" type="primary" @click="searchTable()" class="searchBtn">搜索</el-button>
                    <!-- <el-button type="info" class="searchBtn">取消</el-button> -->
                    <!-- <span style="color: #5c6be8;cursor: pointer;margin:0 10px;" @click="toogleClick"><span v-if="isShow">收起</span><span v-else>展开更多</span><i :class="{'greycolor paddingL6 el-icon-arrow-up':isShow,'greycolor paddingL6 el-icon-arrow-down':!isShow}"></i></span> -->
                </div>  
            </el-form>
        </div>
        <el-row>
            <el-table 
                ref="tableData"
                tooltip-effect="dark"
                style="width: 100%"
                border
                :data="tableData"
                :span-method="arraySpanMethod"
                >
                <el-table-column align="center" type="index" label="序号" width="55" :index="indexFun"></el-table-column>
                <!-- 组列 -->
                <el-table-column align="center" :key="index" :prop="item.fieldCode" :label="item.displayName" v-for="(item,key,index) in tableColums" v-if="item.fieldCode == 'telemarketingTeam'">
                    <template slot-scope="scope">
                        <el-button @click="gotoTeam(scope.row)" type="text" size="small">{{scope.row.telemarketingTeam}}</el-button>
                    </template>
                </el-table-column>
                <!-- 其他列 -->
                <el-table-column align="center" width="130" :key="index" :prop="item.fieldCode" :label="item.displayName" v-else>
                </el-table-column>
            </el-table>
            <table-pagination :pager="pager" @change="searchTable"></table-pagination>
        </el-row>
    </div>
</div>
<!-- import common js-->
<div th:include="_footer_include :: #jsLib"></div>
</body>
<script th:inline="javascript">
    var queryOrg=[[${queryOrg}]];//电销组
    var distributionSource=[[${queryOrg}]];//分配来源
    var fieldList=[{//表头假数据
        displayName:"电销组",
        fieldCode:"telemarketingTeam",//需要改成后端返回的字段名称
        fieldName:"电销组",
        id:"1",
        menuCode:null,
        menuId:null,
        pageNum:0,
        pageSize:0,
        sortNum:1
    },{
        displayName:"分配资源数",
        fieldCode:"amount1",
        fieldName:"分配资源数",
        id:"2",
        menuCode:null,
        menuId:null,
        pageNum:0,
        pageSize:0,
        sortNum:2
    },{
        displayName:"联展",
        fieldCode:"amount2",
        fieldName:"联展",
        id:"3",
        menuCode:null,
        menuId:null,
        pageNum:0,
        pageSize:0,
        sortNum:3
    },{
        displayName:"竞价",
        fieldCode:"amount3",
        fieldName:"竞价",
        id:"4",
        menuCode:null,
        menuId:null,
        pageNum:0,
        pageSize:0,
        sortNum:4
    },{
        displayName:"优化",
        fieldCode:"amount4",
        fieldName:"优化",
        id:"5",
        menuCode:null,
        menuId:null,
        pageNum:0,
        pageSize:0,
        sortNum:5
    },{
        displayName:"信息流",
        fieldCode:"amount5",
        fieldName:"信息流",
        id:"6",
        menuCode:null,
        menuId:null,
        pageNum:0,
        pageSize:0,
        sortNum:6
    },{
        displayName:"官网",
        fieldCode:"amount6",
        fieldName:"官网",
        id:"7",
        menuCode:null,
        menuId:null,
        pageNum:0,
        pageSize:0,
        sortNum:7
    },{
        displayName:"行业",
        fieldCode:"amount7",
        fieldName:"行业",
        id:"8",
        menuCode:null,
        menuId:null,
        pageNum:0,
        pageSize:0,
        sortNum:8
    },{
        displayName:"其他",
        fieldCode:"amount8",
        fieldName:"其他",
        id:"9",
        menuCode:null,
        menuId:null,
        pageNum:0,
        pageSize:0,
        sortNum:9
    },{
        displayName:"网民未接",
        fieldCode:"amount9",
        fieldName:"网民未接",
        id:"10",
        menuCode:null,
        menuId:null,
        pageNum:0,
        pageSize:0,
        sortNum:10
    }]
    var mainDivVM = new Vue({
        el: '#maindiv',
        data: function() {
            return {
                form: {},
                tableData: [],//表格数据
                tableColums: [],//表头list
                orgTeleArr:queryOrg,//电销组
                distributionSource:distributionSource,//分配来源
                pager:{
                    total: 0,
                    currentPage: 1,
                    pageSize: 20,
                },
            }             
        },
        methods: { 
            searchTable() { 
                // 表头数据渲染
                this.tableColums= fieldList;
                var starTime=this.form.startTime;
                var endTime=this.form.endTime;
                if(endTime){
                    if(starTime>endTime){
                        this.$message({
                            message: '开始时间不能大于结束时间',
                            type: 'warning'
                        });
                        return;
                    }
                }

                // 返回的数据               
                var data=[
                    {
                        id:"0",
                        telemarketingTeam:'电销组1',
                        amount1:'1',
                        amount2:'2',
                        amount3:'3',
                        amount4:'4',
                        amount5:'5',
                        amount6:'6',
                        amount7:'7',
                        amount8:'8',
                        amount9:'9',
                    },
                    {
                        id:"1",
                        telemarketingTeam:'电销组2',
                        amount1:'1',
                        amount2:'2',
                        amount3:'3',
                        amount4:'4',
                        amount5:'5',
                        amount6:'6',
                        amount7:'7',
                        amount8:'8',
                        amount9:'9',
                    }
                ];
                axios.post('/statistics/teleStatement/getResourceAllocationTable',null).then(function (response) {
                    debugger
                    console.log(response)
                    if(!response){
                        mainDivVM.$message({
                            message: "接口调用失败",
                            type: 'error'
                        });
                        return ;
                    }
                    var resobj= response.data;
                    if(!resobj){
                        mainDivVM.$message({
                            message: "接口调用失败",
                            type: 'error'
                        });
                        return ;
                    }
                    if(resobj.code!='0'){
                        mainDivVM.$message({
                            message: "接口调用失败",
                            type: 'error'
                        });
                        return ;
                    }
                    // 表格数据渲染
                    this.tableData= data;
                    // 插入合计一行
                    this.summaryFun();
                })
            },
            gotoTeam(item){
                console.log(item)
                var clueId = item.id;
                if(clueId){
                    // 点击组跳转到资源组
                    window.location.href="/statistics/teleStatement/resourceAllocationTableTeam?clueId=" + clueId; 
                }
                var clueId = item.id;
                if(clueId == "合计"){
                    window.location.href="/statistics/teleStatement/resourceAllocationTableSum";
                }else{
                    window.location.href="/statistics/teleStatement/resourceAllocationTableTeam?clueId=" + clueId; 
                }
            },
            arraySpanMethod({ row, column, rowIndex, columnIndex }) { // 合并第一行
                if (rowIndex === 0) {
                    if (columnIndex === 0) {
                        return [0, 0];
                    } else if (columnIndex === 1) {
                        return [1, 2];
                    }
                }
            },
            indexFun (index) { // 表格序号
                return index;
            },
            summaryFun () { // 将合计插入数据中：如果是分页，记得每次获取数据都要执行这个函数
                // const { columns, data } = param;
                // const sums = ["合计", '', 2, 2, '2%', 2, 2, '2%', 1234, 1234];
                var obj = {
                    id: '合计',
                    telemarketingTeam: '合计',
                    amount1: '2',
                    amount2: '4',
                    amount3: '6',
                    amount4: '8',
                    amount5: '10',
                    amount6: '12',
                    amount7: '14',
                    amount8: '16',
                    amount9: '18'
                };
                this.tableData.unshift(obj);
                // const sums = [];
                // columns.forEach((column, index) => {
                //     if (index === 0) {
                //         sums[index] = '合计';
                //         return;
                //     }
                //     if (index === 1) {
                //         sums[index] = '';
                //         return;
                //     }
                //     const values = data.map(item => Number(item[column.property]));
                //     if (!values.every(value => isNaN(value))) {
                //         sums[index] = values.reduce((prev, curr) => {
                //             const value = Number(curr);
                //             if (!isNaN(value)) {
                //                 return prev + curr;
                //             } 
                //         }, 0);
                //     }
                // });
                // sums[sums.length-2] = this.timeFun (sums[sums.length-2]);
                // sums[sums.length-1] = this.timeFun (sums[sums.length-1]);
                // return sums;
            },
            searchYesterday(){//昨天
               var today = new Date();
               today.setTime(today.getTime()-24*60*60*1000);
               var startTime = today.getFullYear()+"-" + (today.getMonth()+1) + "-" + today.getDate()+" 00:00:00";
               var endTime =today.getFullYear()+"-" + (today.getMonth()+1) + "-" + today.getDate()+" 23:59:59";
               this.form.startTime=startTime;
               this.form.endTime=endTime;
               this.searchTable();
            },
            searchWeek(){//近七天
                 var a = new Date();
                 var year = a.getFullYear();
                 var month = a.getMonth();
                 var date = a.getDate();
                 var b = new Date(year,month,date);
                 var c = b.valueOf()-6*24*60*60*1000;
                // var d = b.valueOf()+1*24*60*60*1000;
                 var d = b.valueOf();
                 var startTime= new Date(c);
                 var endTime = new Date(d);
                 this.form.startTime=startTime.getFullYear()+"-" + (startTime.getMonth()+1) + "-" + startTime.getDate()+" 00:00:00";
                 this.form.endTime=endTime.getFullYear()+"-" + (endTime.getMonth()+1) + "-" + endTime.getDate()+" 23:59:59";
                 this.searchTable();
            },
            searchMonth(){//本月
                var a = new Date();
                var year = a.getFullYear();
                var month = a.getMonth();
                var date = a.getDate();
                var b = new Date(year,month,date);
                var f= new Date(year,month,01);
                var c = f.valueOf();
              //  var d = b.valueOf()+1*24*60*60*1000;
                var startTime= new Date(c);
               // var endTime = new Date(d);
                this.form.startTime=startTime.getFullYear()+"-" + (startTime.getMonth()+1) + "-" + startTime.getDate()+" 00:00:00";;
                this.form.endTime=year+"-"+(month+1)+"-"+date+" 23:59:59";
                this.searchTable();
            },
            exportRs(){
                axios.post('/statistics/teleStatement/exportResourceAllocationGroup',null,{responseType:'blob'})
                    .then(function (response) {
                        console.log(response)
                        var data =  response.data;
                        var fileName = response.headers.filename;
                        saveAs(data,decodeURI(fileName));
                    })
                    .catch(function (error) {
                        console.log(error);
                    }).then(function(){
                    signRecordVM.loading=false;
                });
            }
        },
        created(){            
            this.searchTable();
        },
        mounted(){            
            document.getElementById('maindiv').style.display = 'block';
        }
    })
    
</script>
</html>