<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="_header_include::frag(~{::title},~{},~{})">
    <title>后台管理系统</title>
    <style>
    </style>
</head>
<body>
<div id="maindiv" class="maindiv mainPadding" style="display: none;">    
    <el-breadcrumb separator="/" class="elBreadcrumb marginB20">
        <el-breadcrumb-item>Home</el-breadcrumb-item>
        <el-breadcrumb-item>数据报表</el-breadcrumb-item>
        <el-breadcrumb-item>电销顾问跟踪表</el-breadcrumb-item>
    </el-breadcrumb>    
    <el-row class="marginB20">
        <el-button type="primary">昨天</el-button>
        <el-button type="success">近七天</el-button>
        <el-button type="warning">本月</el-button>  
        <el-button type="danger">导出Excel报表</el-button>  
    </el-row>
    <div class="mainSearchBg">        
        <div class="mainSearchFormBox">
           <el-form :inline="true" :model="form" class="demo-form-inline mainSearchForm" ref="form">                 
                <el-form-item label="起止时间:">
                    <el-date-picker format="yyyy-MM-dd HH:mm:ss" v-model="form.startTime" type="datetime" placeholder="选择日期"></el-date-picker>
                </el-form-item>
                <el-form-item label="—" class="widthauto">
                   <el-date-picker format="yyyy-MM-dd HH:mm:ss" v-model="form.endTime" type="datetime" placeholder="选择日期"></el-date-picker>
                </el-form-item>
                <el-form-item label="电销组:">  
                    <el-select v-model="form.teleorg" placeholder="电销组" style="width: 100%;" clearable filterable>
                        <el-option
                            v-for="item in orgTeleArr"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="客户级别:">  
                    <el-select v-model="form.source" placeholder="客户级别" style="width: 100%;" clearable filterable>
                        <el-option
                            v-for="item in clientRank"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <div class="mainSearchBtnBox">
                    <el-button icon="el-icon-search" type="primary" @click="searchTable()" class="searchBtn">搜索</el-button>
                    <!-- <el-button type="info" class="searchBtn">取消</el-button> -->
                    <!-- <span style="color: #5c6be8;cursor: pointer;margin:0 10px;" @click="toogleClick"><span v-if="isShow">收起</span><span v-else>展开更多</span><i :class="{'greycolor paddingL6 el-icon-arrow-up':isShow,'greycolor paddingL6 el-icon-arrow-down':!isShow}"></i></span> -->
                </div>  
            </el-form>
        </div>
        <el-row>
            <el-table
                :data="tableData"
                border
                show-summary
                :cell-style="cellStyle"
                :header-cell-style="headerStyle"
                style="width: 100%"
                @cell-click="cellClick">
                <el-table-column
                    prop="id"
                    label="序号"
                    width="55"
                    type="index">
                </el-table-column>
                <el-table-column
                    prop="name"
                    label="电销组">
                </el-table-column>
                <el-table-column
                    prop="amount1"
                    label="电销顾问">
                </el-table-column>
                <el-table-column
                    prop="amount2"
                    label="客户级别">
                </el-table-column>
                <el-table-column
                    prop="amount3"
                    label="资源数">
                </el-table-column>
                <el-table-column
                    prop="amount4"
                    label="回访次数">
                </el-table-column>
                <el-table-column
                    prop="amount5"
                    label="回访资源数">
                </el-table-column>
                <el-table-column
                    prop="amount6"
                    label="人均回访次数">
                </el-table-column>
            </el-table>
            <!-- <table-pagination :pager="pager" @change="searchTable"></table-pagination> -->
        </el-row>
    </div>
</div>
<!-- import common js-->
<div th:include="_footer_include :: #jsLib"></div>
</body>
<script th:inline="javascript">
    var queryOrg=[[${queryOrg}]];//电销组
    var clientRank=[[${queryOrg}]];//分配来源
    var mainDivVM = new Vue({
        el: '#maindiv',
        data: function() {
            return {
                multipleSelection: [],//选择行
                form: {},
                tableData: [{
                    id:'0',
                    name: '王小虎',
                    amount1: '234',
                    amount2: '3.2',
                    amount3: 10,
                    amount4: 10,
                    amount5: 10,
                    amount6: 10,
                }, {
                    id:'1',
                    name: '王小虎',
                    amount1: '165',
                    amount2: '4.43',
                    amount3: 12,
                    amount4: 10,
                    amount5: 10,
                    amount6: 10,
                }],
                orgTeleArr:queryOrg,//电销组
                clientRank:clientRank,//分配来源
            }             
        },
        methods: {    
            cellStyle(){
                return "text-align:center"
            },    
            headerStyle(){
                return "text-align:center"
            },     
            handleSelectionChange(val) {//选择节点的事件
                console.log(val)
                this.multipleSelection = val;
            }, 
            searchTable() { 
                var starTime=this.form.startTime;
                var endTime=this.form.endTime;
                if(endTime){
                    if(starTime>endTime){
                        this.$message({
                            message: '开始时间不能大于结束时间',
                            type: 'warning'
                        });
                        return;
                    }
                }
                console.log('search')
            },
            cellClick(row, column,cell){
                console.log(cell)
                // window.location.href='/bus/BusinessCustomer/viewCustomerInfo?clueId='+row.id;
            }
        },
        created(){            
            this.searchTable();
        },
        mounted(){
            document.getElementById('maindiv').style.display = 'block';
        }
    })
    
</script>
</html>