<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="_header_include::frag(~{::title},~{::style},~{})">
    <title>后台管理系统</title>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="css/element-ui.css">
    <link rel="stylesheet" href="css/base.css">
    <style>
    </style>
</head>
<body>
<div id="resourceApply" class="resourceApply mainPadding" style="display: none;"> 
    <el-breadcrumb separator="/" class="elBreadcrumb marginB20">
        <el-breadcrumb-item>Home</el-breadcrumb-item>
        <el-breadcrumb-item>用户信息</el-breadcrumb-item>
    </el-breadcrumb>     
    <el-row class="borderbox padding20">         
        <div class="titleLine">用户信息</div>
        <el-col :span="24" class="marginB20">
            <div class="headerBox"><img src="images/img_callcenter.png" alt=""></div>
            <el-button type="text" class="changeHeaderImg">更改头像</el-button>
        </el-col>
        <el-col :span="24" class="marginB20">
            <span>账号：</span><span>快道公司</span>            
        </el-col>
        <el-col :span="24" class="marginB20">
            <span>密码：</span>
            <span class="marginR10">123</span><span class="bluecolor cursorP" @click="">更改密码</span>            
        </el-col>
        <el-col :span="24" class="marginB20">
            <span>联系人：</span><span>张先生</span>            
        </el-col>
        <div class="titleLine">绑定信息</div>
        <el-col :span="24">
            <span>手机号：</span><span>151xxxx1601</span>            
        </el-col>
    </el-row> 
</div>
</body>
<!-- import Vue before Element -->
<div th:include="_footer_include :: #jsLib"></div>

<!-- import common js-->
<script th:inline="javascript">
    var ocmVM = new Vue({
        el: '#resourceApply',
        data: function() {
            return {
            }        	  
        },
        methods: {

        },
        created(){
            var localVal=localStorage.getItem('allChangePageSize')?parseInt(localStorage.getItem('allChangePageSize')):'';
            if(localVal){this.pager.pageSize = localVal;}
            // console.info("create method");
            this.searchTable();
        },
        mounted(){
            document.getElementById('resourceApply').style.display = 'block';
        }
  })
</script>
</html>