<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head th:include="_header_include::frag(~{::title},~{},~{})">
    <title>安卓版本记录</title>
    <style>
    </style>
</head>
<body>

<div v-loading="loading" id="organizationManage" class="organizationManage mainPadding"  style="display: none;">  

    <el-breadcrumb separator="/" class="elBreadcrumb marginB20" >
        <el-breadcrumb-item>Home</el-breadcrumb-item>
        <el-breadcrumb-item>版本管理</el-breadcrumb-item>
        <el-breadcrumb-item>安卓版本记录</el-breadcrumb-item>
    </el-breadcrumb>
    <el-row class="marginB20">
        <el-col :xs="12" :sm="16" :md="16" :lg="18" :xl="12">
            <el-button type="primary" @click="addbutton"><i class="el-icon-plus"></i>版本发布</el-button>
            <!-- <el-button type="danger" @click="deleButton"><i class="el-icon-delete"></i>删除</el-button>
   			    <el-button type="success" @click="updateButton"><i class="el-icon-edit"></i>编辑电销布局</el-button> -->
        </el-col>
    </el-row>
    <div class="mainSearchBg">
        <el-row>
            <el-table 
                ref="multipleTable"
                tooltip-effect="dark"
                empty-text="无数据"
                style="width: 100%"
                border
                :data="dataTable"  @selection-change="handleSelectionChange">
                 <el-table-column align="center" prop="id" type="selection" width="55"></el-table-column> 
                 <!-- <el-table-column prop="date" label="全选" width="180"></el-table-column>  -->
                <el-table-column align="center" prop="projects" label="版本号"></el-table-column>
                <el-table-column align="center" prop="telemarketingTeam" label="系统"></el-table-column>
                <el-table-column align="center"  prop="beginTime" label="录入时间" :formatter="dateFormat"></el-table-column>
                <el-table-column align="center" prop="endTime" label="强制升级"></el-table-column>
                <el-table-column align="center" prop="createTime" label="更新内容"></el-table-column>
                <el-table-column align="center" prop="status" label="是否在线" :formatter="transformStatus" width="100"></el-table-column>
                <el-table-column align="center" prop="handle" label="操作">
                    <template slot-scope="scope">
                        <el-button  @click="updateButton(scope.row.id)" type="success"  size="small">编辑</el-button>
                        <el-button  @click="deleButton(scope.row.projects)" type="danger"  size="small">删除</el-button>
                        <!-- <div v-if="scope.row.status === 1"> -->
                            <el-button  @click="updateStatus(scope.row.id)" type="warning"  size="small">上架</el-button>
                        <!-- </div> -->                    
                        <!-- <div v-else-if="scope.row.status === 0"> -->
                            <!-- <el-button @click="updateStatus(scope.row.id,1,'下架')"  type="success"  size="small">下架</el-button> -->
                        <!-- </div> -->                        
                    </template>
                </el-table-column>
            </el-table>
             <table-pagination :pager="pager"  @change="inviteAreaListPage"></table-pagination>
        </el-row> 
    </div>

    <!-- dialog -->
    <el-dialog :title="showTitle" :visible.sync="dialogFormVisible" width="540px">
        <el-form :model="form" ref="form" :rules="rules" >
            <el-form-item label="apk包上传：" :label-width="formLabelWidth" prop="apkUpdate">
                <el-upload
                    class="upload-demo"
                    ref="upload"
                    :multiple="false"
                    action="/telemarketing/uploadCustomField"
                    :file-list="fileList"
                    :on-change="handleChange"
                    :before-upload="beforeUpload"
                    :on-success="uploadSuccess"
                    :on-error="uploadError"
                    :auto-upload="false">
                    <el-button slot="trigger" size="small" type="success" style="margin-right: 10px;">上传文件</el-button>
                </el-upload>
            </el-form-item>
            <el-form-item label="版本号：" :label-width="formLabelWidth" prop="editionNum">
                
            </el-form-item>
					  <el-form-item label="强制升级：" :label-width="formLabelWidth" prop="isUpdate">
                <el-radio-group v-model="form.resource">
                    <el-radio label="是"></el-radio>
                    <el-radio label="否"></el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="更新内容：" :label-width="formLabelWidth" prop="updateContent">
                <el-input type="textarea" v-model="form.updateContent"></el-input>
            </el-form-item>
            
        </el-form>
        <div slot="footer" style="text-align: center" class="dialog-footer">
            <el-button type="primary" :disabled="btnDisabled" @click="submitForm('form')">提交</el-button>
            <el-button @click="dialogFormVisible= false">取消</el-button>
        </div>
    </el-dialog>
</div>
<input id="addOrUpdate" type="hidden" >
</body>
<!-- import common js-->
<div th:include="_footer_include :: #jsLib"></div>
<script th:inline="javascript">

    var orgVM =  new Vue({
        el: '#organizationManage',
        data: {
            btnDisabled: false,
        	  dataNum:"",
          	showTitle:"",
          	exportFormVisible:false,
          	dialogBatchVisible:false,
          	confirmBtnDisabled:false,
          	formLabelWidth: '130px',
          	dialogFormVisible: false,
          	telemarketingTeamId:"",
          	businessGroupId:"",
          	beginTime:"",
          	endTime:"",
          	addOrModifyDialogTitle:"",
          	fileList:[],//上传文件列表
          	dialogFormVisible:false,
          	dataTable:[],
          	multipleSelection: [],
          	exportdataTable:[],
          	projectId:"",
          	form:{
              	apkUpdate:'',
                editionNum:'',
                isUpdate:'', 
                updateContent:''
          	},
            pager:{
                total: 0,
                currentPage: 1,
                pageSize: 20,
            },
            loading:false,
            rules: {
            	  apkUpdate: [
                    { required: true, message: '请选择上传文件', trigger: 'change' }
                ],
                editionNum: [
                    { required: true, message: '请填写版本号', trigger: 'change' }
                ],
                isUpdate: [
                    { required: true, message: '请选择是否强制升级', trigger: 'blur' }
                ]
            }
             
        },
        methods: {
        	  inviteAreaListPage(){//查询按钮            	  
               
                axios.post('/telemarketing/getTelemarketingLayoutList',param).then(function (response) {
                	  console.log(response);
                    if(null===response||response.data==null||response.data.code!='0'){
                  	  alert(response.data.msg);
                  	  return ;
                   }else{
                  	 orgVM.dataTable =response.data.data.data; 
                  	 orgVM.pager.currentPage= response.data.data.currentPage;
                  	 orgVM.pager.total= response.data.data.total;
                   } 
                })
                .catch(function (error) {
                  console.log(error);
                })
                .then(function () {
                });  
                
            } ,
          
            updateButton(rowsId){
          	  this.showTitle="编辑安卓发布"
          	  if (this.$refs['form']!=undefined) {
               		this.$refs['form'].resetFields();
              }
          	  $("#addOrUpdate").val(2);
          	  //修改菜单数据	
            	var rows = rowsId;
               
                this.dialogFormVisible = true;
                var param ={};
                // var str = "";
                // for ( var i = 0; i <rows.length; i++){
              	 //  str = rows[i].id
                // }
                param.id = rowsId;
                axios.post('/telemarketing/findTelemarketingById',param).then(function (response) {
                	  console.log(response);
                    if(null !==response && response.data !=null && response.data.code=='0'){
                  	  var telemarketing = response.data.data;
                  	  orgVM.form.projectIds = telemarketing.projectIds;
                  	  orgVM.form.telemarketingTeamId = telemarketing.telemarketingTeamId;
                  	  orgVM.form.beginTime = telemarketing.beginTime;
                  	  orgVM.form.endTime = telemarketing.endTime;
                  	  orgVM.form.status = telemarketing.status+"";
                  	  var projects = telemarketing.projectIds;
                  	  var valueMultiple=[];
                  	  var obj = projects.split(',');
                  	    if(null!=projects&&obj.length>0) {
                       	   for(var i=0;i<obj.length;i++){
                       	       valueMultiple.push(obj[i]+"");
                       	     }
                       	   }
                  	    orgVM.form.projectIds=valueMultiple;
                   }else{
                  	 alert(response.data.data.message);
                  	  	return ;
                   } 
                }).catch(function (error) {
                    console.log(error);
                })
                .then(function () {
                  // always executed
                });  
            },
            deleButton(moduleName){
          	  
  	           this.$confirm("确定要删除"+moduleName+"电销布局?", '提示', {
                     confirmButtonText: '确定',
                     cancelButtonText: '取消',
                     type: 'warning'
                 }).then(() => {
                    	// 查询 table 需要数据
                     var param = {};
                     var deleInfo=this.multipleSelection;
   	        	    var ids="";
   		            if(null!=deleInfo){
   		             for ( var i = 0; i <deleInfo.length; i++){
   		            	if("" == ids){
   		            		ids = deleInfo[i].id
   		            	}else{
   		            		ids = ids+","+deleInfo[i].id
   		            	}
   		             }
   		             var param={};
   		             param.ids=ids;
  	                 axios.post('/telemarketing/deleTelemarketingLayout',param).then(function (response) {
  	                  	  console.log(response);
  	                      if(null !==response && response.data !=null && response.data.code=='0'){
  	                    	  window.location.href="/telemarketing/telemarketingLayoutList"; 
  	                     }else{
  	                    	 alert(response.data.data.msg);
   	                  	  	return ;
  	                     } 
  	                  }).catch(function (error) {
                            console.log(error);
                        })
                        .then(function () {
                          // always executed
                        });  
   	              
                   }
                 }).catch(() => {
                     this.$message({
                         type: 'info',
                         message: '已取消删除'
                     });          
                 });
  	           
  	     
            },
            exportButton(){
          	  window.location.href="/module/moduleManager/exportInviteArea?moduleId="+rows[0].id; 
            },
            showExport(){//点击弹出新增dialog
            	this.dialogFormVisible = true;
            	this.addOrModifyDialogTitle="添加菜单页面";
            },
            closeAddCustomFieldDialog(){//关闭添加自定义字段dialog
            	  this.$refs['customMenuForm'].resetFields();
            },
            cancelForm(formName) {
                this.$refs[formName].resetFields();
            	this.dialogFormVisible = false;
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            
            transformStatus(row, column, cellValue, index) {
          	    var text="";
                if(cellValue=="0"){
              	  text="启用"
                }else if(cellValue=="1"){
              	  text="禁用"
                }
                return text;
            }, 
            //时间格式化
            dateFormat(row, column){
          	    var date = row[column.property]; 
          	    if (date == undefined || date ==null || date =="") { 
          	        return ""; 
          	    } 
          	    return moment(new Date(date)).format("YYYY-MM-DD"); 
          	} ,
            //时间格式化
            dateFormatTime(row, column){
            	  var date = row[column.property]; 
            	  if (date == undefined) { 
            	      return ""; 
            	  } 
            	  return moment(new Date(date)).format("YYYY-MM-DD HH:mm:ss"); 
            } ,
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                      var formData = this.form;
                      var param={};
                      param.projectIds = formData.projectIds;
                      var strs ="";
                      for ( var i = 0; i <formData.projectIds.length; i++){
                    	   if(strs !=""){
                    		   strs = strs+","+formData.projectIds[i];
                    	   }else{
                    		   strs = formData.projectIds[i];
                    	   }
                    	}
                      param.projectIds = strs;
                      param.telemarketingTeamId = formData.telemarketingTeamId;
                      param.beginTime = formData.beginTime;
                      param.endTime = formData.endTime;
                      param.status = formData.status;
                      var str = "";
                      var rows = this.multipleSelection;
                      for ( var i = 0; i <rows.length; i++){
                    	  str = rows[i].id
                      }
                      param.id = str;
                      if(formData.beginTime>formData.endTime){
                    	  this.$message("开始时间不能大于结束时间");
               	         return;
                      }
                      orgVM.btnDisabled = true; 
                      var url = "/telemarketing/addTelemarketingLayout";
                      if($("#addOrUpdate").val() ==2){
                    	  url = "/telemarketing/updateTelemarketingLayout"
                      }
                   	  axios.post(url,param).then(function (response) {
   	                  	//   console.log(response);
   	                      if(null !==response && response.data !=null && response.data.code=='0'){
                            window.location.href="/telemarketing/telemarketingLayoutList"; 
                            orgVM.btnDisabled = false; 
   	                     }else{
   	                    	orgVM.$message({message: response.data.data.msg, type: 'warning'});
                            orgVM.btnDisabled = false; 
                            return ;
                        } 
   	                    }).catch(function (error) {
                            orgVM.btnDisabled = false; 
                            console.log(error);
                        })
                        .then(function () {
                        // always executed
                        });  
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            closeUploadFileDialog(){//关闭上传文件 dialog
          	  this.$refs.upload.clearFiles();
            },
            handleChange(files,fileList){//只允许选择一个文件
                this.fileList = fileList.slice(-1);
            },
            beforeUpload(file){//上传之前 文件校验
                var isTextComputer = file.type === 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet';
                if(!isTextComputer){
                    this.$message.error('文件格式错误');
                	  orgVM.loading = false;
                	  orgVM.fileList = [];
                    return false;
                }
            },
            uploadSuccess(response, file, fileList){//上传成功后
            	
          	  if(response.code=='0'){
          		this.addOrModifyDialogTitle="预览数据";
          		  //清空文件里列表
              	  this.$refs.upload.clearFiles();
                    this.dialogBatchVisible = false;

                 	orgVM.exportdataTable =response.data; 
                 	orgVM.loading = false;
                 	orgVM.exportFormVisible = true;
                 	orgVM.dataNum="预览数据，共"+orgVM.exportdataTable.length+"条数据"

          	  }else{
          		orgVM.loading = false;
          		  this.$message('上传失败');
          	  }
          	
            },
            uploadError(){//上傳失敗
              this.loading = false;
          	  this.$message({message:'上传失败',type:'error'});
            }, 
            submitUpload() {//提交文件
            	  orgVM.confirmBtnDisabled = false;
              	this.loading = true;
              	var fileList = this.fileList;
              	if(!fileList || fileList.length!=1){
                		this.$message.error({message:'未选中文件',type:'error'});
                		orgVM.loading = false;
                		return false;
              	}
                this.$refs.upload.submit();
            },
            addbutton(){
              	this.showTitle="安卓发布"
              	$("#addOrUpdate").val(1);
              	this.dialogFormVisible=true;
              	this.form.beginTime = "";
              	this.form.endTime = "";
              	this.form.projectIds = [];
              	this.form.telemarketingTeamId = "";
              	this.form.status= '0';
              	if (this.$refs['form']!=undefined) {
                 		this.$refs['form'].resetFields();
                }
            }
        },
        created(){
            // 取页数存储
            var localVal=localStorage.getItem('allChangePageSize')?parseInt(localStorage.getItem('allChangePageSize')):'';
            if(localVal){this.pager.pageSize = localVal;}

        	  this.inviteAreaListPage();
        	  document.getElementById('organizationManage').style.display = 'block';
        	
        	
        },//created方法 结束
        mounted(){
            document.getElementById('organizationManage').style.display = 'block';
        }
    })
</script>
</html>