.consoleStyle .tip{font-size: 18px;color: #2994e4;height: 24px;line-height: 20px;margin-bottom:27px;}
.consoleStyle .tip em{font-size: 24px;font-weight: bold;}
.consoleStyle .affiche{background: #f4f8f9;border-radius:18px;font-size: 14px;color: #666;padding:8px 16px;height: 14px;line-height: 14px;width: 94%;}
.consoleStyle .affiche ul{display: block;overflow: hidden;}
.consoleStyle .affiche ul li{display: block;float: left;margin-right: 50px;}
.consoleStyle .title{ font-size: 18px;color: #333;font-weight: 500;margin-bottom: 20px;overflow: hidden;height: 34px;line-height: 34px;}
.consoleStyle .title .leftbox img{margin:9px 8px 0 0;}
.consoleStyle .title .rightbox {font-size: 16px;color: #666;}
.consoleStyle .title .rightbox img{margin:7px 0 0 10px;}
.consoleStyle .title .rightbox .btn{margin-right: 30px;font-size: 14px;}
.consoleStyle .board{overflow:hidden;margin-bottom: 20px;}
.consoleStyle .board li{width:15.5%;float: left;margin-right: 10px;background: #89c997;margin-bottom: 10px;height: 100px; }
.consoleStyle .board li .tit{height: 30px;line-height: 30px;text-align: center;color: #fff;font-size: 16px;background: #6aba7c;}
.consoleStyle .board li.boardStyle2{background: #56d3d4;}
.consoleStyle .board li.boardStyle2 .tit{background: #34bdbe;}
.consoleStyle .board li.boardStyle3{background: #5fb4f5;}
.consoleStyle .board li.boardStyle3 .tit{background: #2994e4;}
.consoleStyle .board li.boardStyle4{background: #8ba1ff;}
.consoleStyle .board li.boardStyle4 .tit{background: #627ff8;}
.consoleStyle .board li.boardStyle5{background: #ccb0f3;}
.consoleStyle .board li.boardStyle5 .tit{background: #b490e8;}
.consoleStyle .board li .cnt{overflow: hidden;color: #fff;font-size: 30px;padding:10px 30px;}
.consoleStyle .board li .cnt img{width:50px;height: 50px;}

.consoleStyle .news{background: #f4f8f9;padding:30px 26px;margin-bottom: 20px;}
.consoleStyle .news li{margin-bottom: 20px;font-size: 16px;}
.consoleStyle .news li em{margin: 5px 8px 0 0;width: 12px;height: 12px;background: #5ea1e7;display: block;float: left;border-radius: 50%;}

.consoleStyle .boardTab{overflow: hidden;text-align: center;}
.consoleStyle .boardTab li{width:15.4%;float: left;margin-right: 10px;margin-bottom: 30px;height: 200px;border:1px solid #dedede;font-size: 16px;}
.consoleStyle .boardTab .el-tabs__nav{width: 100%;}
.consoleStyle .boardTab .el-tabs__active-bar{display: none;}
.consoleStyle .boardTab .el-tabs__item{height: 30px;line-height: 30px;width: 33.333%;padding:0;}
.consoleStyle .boardTab li .el-tabs__item.is-active{background:#6aba7c; }
.consoleStyle .boardTab li .name{margin-bottom: 20px;}
.consoleStyle .boardTab li .num{font-size: 30px;color: #6aba7c;height: 30px;line-height: 30px;}
.consoleStyle .boardTab li.boardTabStyle2 .el-tabs__item.is-active{background:#34bdbe; }
.consoleStyle .boardTab li.boardTabStyle2 .num{color: #34bdbe;}
.consoleStyle .boardTab li.boardTabStyle3 .el-tabs__item.is-active{background:#2994e4; }
.consoleStyle .boardTab li.boardTabStyle3 .num{color: #2994e4;}
.consoleStyle .boardTab li.boardTabStyle4 .el-tabs__item.is-active{background:#627ff8; }
.consoleStyle .boardTab li.boardTabStyle4 .num{color: #627ff8;}
.consoleStyle .boardTab li.boardTabStyle5 .el-tabs__item.is-active{background:#b490e8; }
.consoleStyle .boardTab li.boardTabStyle5 .num{color: #b490e8;}
