.stagingTelemarketing .tip{font-size: 18px;color: #2994e4;height: 24px;line-height: 20px;margin-bottom:27px;}
.stagingTelemarketing .tip em{font-size: 24px;font-weight: bold;}
.stagingTelemarketing .affiche{}
.stagingTelemarketing .affiche span{background: #f4f8f9;border-radius:18px;font-size: 14px;color: #666;padding:8px 16px;height: 14px;line-height: 14px;}
.stagingTelemarketing .title{font-size: 18px;color: #333;font-weight: 500;margin-bottom: 20px;}
.stagingTelemarketing .board{overflow:hidden;margin-bottom: 20px;}
.stagingTelemarketing .board li{width:15.5%;float: left;margin-right: 10px;background: #89c997;margin-bottom: 10px;height: 100px; }
.stagingTelemarketing .board li .tit{height: 30px;line-height: 30px;text-align: center;color: #fff;font-size: 16px;background: #6aba7c;}
.stagingTelemarketing .board li.boardStyle2{background: #56d3d4;}
.stagingTelemarketing .board li.boardStyle2 .tit{background: #34bdbe;}
.stagingTelemarketing .board li.boardStyle3{background: #5fb4f5;}
.stagingTelemarketing .board li.boardStyle3 .tit{background: #2994e4;}
.stagingTelemarketing .board li.boardStyle4{background: #8ba1ff;}
.stagingTelemarketing .board li.boardStyle4 .tit{background: #627ff8;}
.stagingTelemarketing .board li.boardStyle5{background: #ccb0f3;}
.stagingTelemarketing .board li.boardStyle5 .tit{background: #b490e8;}
.stagingTelemarketing .board li .cnt{overflow: hidden;color: #fff;font-size: 30px;padding:10px 30px;}
.stagingTelemarketing .board li .cnt img{width:50px;height: 50px;}

.stagingTelemarketing .news{background: #f4f8f9;padding:30px 26px;}
.stagingTelemarketing .news li{margin-bottom: 20px;font-size: 16px;}
.stagingTelemarketing .news li em{margin: 5px 8px 0 0;width: 12px;height: 12px;background: #5ea1e7;display: block;float: left;border-radius: 50%;}

.stagingTelemarketing .boardTab{overflow: hidden;text-align: center;}
.stagingTelemarketing .boardTab li{width:15.5%;float: left;margin-right: 10px;margin-bottom: 30px;height: 200px;border:1px solid #dedede;font-size: 16px;}
.stagingTelemarketing .boardTab .el-tabs__nav{width: 100%;}
.stagingTelemarketing .boardTab .el-tabs__active-bar{display: none;}
.stagingTelemarketing .boardTab .el-tabs__item{height: 30px;line-height: 30px;width: 33.333%;padding:0;}
.stagingTelemarketing .boardTab li .el-tabs__item.is-active{background:#6aba7c; }
.stagingTelemarketing .boardTab li .name{margin-bottom: 20px;}
.stagingTelemarketing .boardTab li .num{font-size: 30px;color: #6aba7c;height: 30px;line-height: 30px;}
.stagingTelemarketing .boardTab li.boardTabStyle2 .el-tabs__item.is-active{background:#34bdbe; }
.stagingTelemarketing .boardTab li.boardTabStyle2 .num{color: #34bdbe;}
.stagingTelemarketing .boardTab li.boardTabStyle3 .el-tabs__item.is-active{background:#2994e4; }
.stagingTelemarketing .boardTab li.boardTabStyle3 .num{color: #2994e4;}
.stagingTelemarketing .boardTab li.boardTabStyle4 .el-tabs__item.is-active{background:#627ff8; }
.stagingTelemarketing .boardTab li.boardTabStyle4 .num{color: #627ff8;}
.stagingTelemarketing .boardTab li.boardTabStyle5 .el-tabs__item.is-active{background:#b490e8; }
.stagingTelemarketing .boardTab li.boardTabStyle5 .num{color: #b490e8;}
