<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="_header_include::frag(~{::title},~{},~{})">
    <title>后台管理系统</title>
    <style>
        .userManage .leftBox{/*width: 200px;*/height: auto;border:1px solid #ebeef5;min-height: 480px;}
        .userManage .leftTitle{background:#ebeef5;text-indent: 20px;height: 40px;line-height: 40px;}
        .userManage .leftTree{padding:10px;}
        .userManage .rightTitle{background:#ebeef5;text-indent: 20px;height: 40px;line-height: 40px;}
    </style>
</head>
<body>
<div id="userManage" class="userManage mainPadding">  
    <el-breadcrumb separator="/" class="elBreadcrumb marginB20">
        <el-breadcrumb-item>Home</el-breadcrumb-item>
        <el-breadcrumb-item>系统管理</el-breadcrumb-item>
        <el-breadcrumb-item><a href="JavaScript:void(0)" data-url="a.html">任务管理</a></el-breadcrumb-item>
    </el-breadcrumb>

    <el-row :gutter="20">
        <el-form :model="form" :rules="rules" ref="form">
            <el-row>
                <el-col :span="6">
                    <el-form-item label="任务名称：" :label-width="formLabelWidth1" prop="jobName">
                        <el-input v-model="form.jobName" maxlength="50" autocomplete="off"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="6">
                    <el-form-item label="任务组ID：" :label-width="formLabelWidth1" prop="groupId">
                        <el-input v-model="form.groupId" maxlength="50" autocomplete="off"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="6">
                    <el-form-item label="时间格式：" :label-width="formLabelWidth1" prop="cronExpression">
                        <el-input v-model="form.cronExpression" maxlength="50" autocomplete="off"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="6">
                    <el-form-item label="地址URL：" :label-width="formLabelWidth1" prop="url">
                        <el-input v-model="form.url" maxlength="100" autocomplete="off"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="6">
                    <el-form-item label="参数JSON格式：" :label-width="formLabelWidth1" prop="params">
                        <el-input v-model="form.params" maxlength="50" autocomplete="off"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            
            <el-row>
                <el-col :span="6">
                    <el-form-item label="方法：" :label-width="formLabelWidth1" prop="method">
                        <el-select v-model="form.method" placeholder="请选择">
                            <el-option
                                v-for="item in methodOptions"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="6" :offset="6">
                    <el-form-item>
                        <el-button type="primary" @click="onSubmit('form')">提交</el-button>
                        <el-button @click="toScheduleList">取消</el-button>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
    </el-row>

    
</div>
<!-- import common js-->
<div th:include="_footer_include :: #jsLib"></div>
</body>
<script th:inline="javascript">
var schedule=[[${schedule}]];
   var addUserVm= new Vue({
        el: '#userManage',
        data: function() {
            return {
                tableRadio:'',
                dialogFormChooseRole: false,
                dialogFormChooseOrg: false,
                form: {
                    jobName: '',
                    groupId: '',
                    cronExpression: '',
                    params:'',
                    url: '',
                    method: 1
                    
                },
                rules: {
                	jobName: [
                      { required: true, message: '任务名称不能为空', trigger: 'blur' },
                      {  max: 50, message: '最大50个字符', trigger: 'blur' }
                    ],
                    groupId: [
                      { required: true, message: '任务组ID不能为空', trigger: 'blur' },
                      {  max: 50, message: '最大50个字符', trigger: 'blur' }
                    ],
                    cronExpression: [
                      { required: true, message: '时间格式不能为空', trigger: 'blur' },
                      {  max: 50, message: '最大50个字符', trigger: 'blur' }
                    ],
                    url: [
                      { required: true, message: '地址URL不能为空', trigger: 'blur' },
                      {  max: 100, message: '最大100个字符', trigger: 'blur' }
                    ],
                    method: [
                      { required: true, message: '方法不能为空', trigger: 'blur' },
                    ],
                    params: [
                      { required: true, message: '参数不能为空', trigger: 'change' },
                      { max: 50, message: '最大50个字符', trigger: 'blur' }
                    ]
                  },
                formLabelWidth: '150px',
                formLabelWidth1: '140px',
                methodOptions: [{
                    value: 1,
                    label: 'POST'
                }, {
                    value: 2,
                    label: 'GET'
                }]
            }        	  
        },
        methods: {
        	//跳转任务列表页
            toScheduleList() {
          	  document.location.href='/schedule/scheduleManager/initScheduleList';
            },
            onSubmit(formName) {
            	 this.$refs[formName].validate((valid) => {
          	       if (valid) {
       	             var formData = addUserVm.form;
       	             var param={};
       	             param.jobName= formData.jobName;
       	             param.groupId= formData.groupId;
       	             param.cronExpression = formData.cronExpression;
       	             param.params = formData.params;
       	             param.url = formData.url;
       	             param.method = formData.method;
       	             var dataMap={};
       	          	 dataMap.params = formData.params;
       	      		 dataMap.url = formData.url;
       	  			 dataMap.method = formData.method;
       	             param.dataMap= dataMap;
       	             var msg="新增";
	       	         if(schedule!=null){
       	             	param.jobId= schedule.jobId;
       	             	msg="修改";
	       	         }
       	             console.info(param);
       	            axios.post("/schedule/scheduleManager/createOrUpdate", param)
       	            .then(function (response) {
       	            	console.info(response);
       	            	var data =response.data;
       	            	if(data.code!="0"){
       	            		addUserVm.$message(data.msg);
       	            	}else{
       	            		addUserVm.$message(msg+'成功');
       	                	document.location.href='/schedule/scheduleManager/initScheduleList';
       	            	}
       	            })
       	            .catch(function (error) {
       	                 console.log(error);
       	            });
       	             
          	          } else {
          	        	console.log('数据未通过校验！');
          	            return false;
          	          }
          	        });
            }
        },
        created(){
            console.info("create method");
            if(schedule!=null){
	            this.form.jobName= schedule.jobName;
	            this.form.groupId= schedule.groupId;
	            this.form.cronExpression = schedule.cronExpression;
	            this.form.params = schedule.params;
	            this.form.url = schedule.url;
	            this.form.method = schedule.method;
            }
           
        }
    })
</script>
</html>