<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="_header_include::frag(~{::title},~{},~{})">
    <title>403</title>
</head>
<body>
<div class="errorBox">
    <div class="f-fl"><img th:src="@{/images/errorIcon.png}" alt=""></div>
    <div class="f-fr rightBox"  style="padding-top: 120px;">
        <div class="tip">你的账号权限发生变更，请退出再登录</div>
        <div class="btnBox">
            <!--返回首页-->
            <a href="javascript:history.back(-1)" class="btn f-fl">立即退出登录</a>

        </div>
    </div>
</div>
<!-- import common js-->
<div th:include="_footer_include :: #jsLib"></div>
</body>
</html>