<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="_header_include::frag(~{::title},~{},~{})">
	<title>403</title>
</head>
<body>
<div class="errorBox">
    <div class="f-fl"><img th:src="@{/images/errorIcon.png}" alt=""></div>
    <div class="f-fr rightBox">
        <div class="tip">你的账号权限发生变更，请退出再登录</div>
        <div class="btnBox">
            <!--返回首页-->
            <a href="/login" class="btn backHome f-fr">确定</a>
            <a href="javascript:history.back(-1)" class="btn f-fl">返回上一页</a>

        </div>
    </div>
</div>
<!-- import common js-->
<div th:include="_footer_include :: #jsLib"></div>
</body>
</html>