body,html{margin:0;padding:0;height: 100%;}
#app{height: 100%;}
/*收起按钮*/
.iconopenBox{position: absolute;width: 18px;left: 170px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;height: 130px;top: 50%;margin-top: -35px;background: rgb(48, 65, 86);text-align: center;line-height: 130px;font-size: 24px;color: #fff;cursor: pointer;z-index: 5;
	transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out; 	/* IE 9 */
	-moz-transition:all 0.3s ease-in-out; 	/* Firefox */
	-webkit-transition:all 0.3s ease-in-out; /* Safari 和 Chrome */
	-o-transition:all 0.3s ease-in-out; }
.iconopenBox.active{left: 65px;
	transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out; 	/* IE 9 */
	-moz-transition:all 0.3s ease-in-out; 	/* Firefox */
	-webkit-transition:all 0.3s ease-in-out; /* Safari 和 Chrome */
	-o-transition:all 0.3s ease-in-out; }
/*头部*/
.elHeader {color: #333;line-height: 60px;border-bottom: 1px solid #d8dce5;box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.04);}
.elHeader .logoimg{width: 250px;margin-top: 15px;}
.elHeader .logoimg img{display: block;}
.elHeader .headerImg{font-size: 50px;margin-right: 10px;}
.elHeader .messageBtn{margin:10px 20px 0 0;background:rgb(48, 65, 86);border: none;border-radius: 0;}
.elHeader .el-dropdown{cursor: pointer;}
/*头部点击在线状态悬浮*/
.elHeader .el-menu--popup{padding:0;}
/*左侧*/
.elAside{position: relative;}
.elAside .iconfont{margin-right: 5px;color: rgb(191, 203, 217)!important;font-size: 22px;}
.elAside .el-menu {border-right: solid 1px #334156;}
.elAside .el-menu-vertical-demo{
  height: 100%;
}
.elAside .el-aside {
  color: #333;
}
.elAside .el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 170px;
  height: 100%;
}
.elAside .el-submenu .el-menu-item{min-width: 170px;}
.elAside .el-submenu__title:hover{background:rgb(38,52,69)!important;}
.elAside .el-menu-item-group,.el-menu-item{background-color: #1f2d3d!important;}
/*右侧内容区*/
.elMain{padding:0;}
