body,html{margin:0;padding:0;height: 100%;}
#app{height: 100%;}
/*收起按钮*/
.iconopenBox{position: absolute;width: 14px;left: 170px;height: 57px;top: 50%;margin-top: -23px;text-align: center;line-height: 57px;color: #fff;cursor: pointer;z-index: 5;
	/*background: #5ea2e7;*/
	background:url(../../../images/menuBtnBg.png) no-repeat;
	transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out; 	/* IE 9 */
	-moz-transition:all 0.3s ease-in-out; 	/* Firefox */
	-webkit-transition:all 0.3s ease-in-out; /* Safari 和 Chrome */
	-o-transition:all 0.3s ease-in-out; }
.iconopenBox .el-icon-arrow-left{font-size: 14px;}
.iconopenBox .el-icon-arrow-right{font-size: 14px;}
.iconopenBox:after{content:'';position: absolute;top: -}
.iconopenBox.active{left: 64px;
	transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out; 	/* IE 9 */
	-moz-transition:all 0.3s ease-in-out; 	/* Firefox */
	-webkit-transition:all 0.3s ease-in-out; /* Safari 和 Chrome */
	-o-transition:all 0.3s ease-in-out; }
/*头部*/
.elHeader {color: #fff;line-height: 60px;background-image: -webkit-linear-gradient(0deg, #61a7eb, #3a6abe);}
.elHeader .logoimg{width: 250px;margin-top: 15px;padding-left: 15px;}
.elHeader .logoimg img{display: block;}
.elHeader .headerImg{font-size: 50px;margin-right: 10px;}
.elHeader .messageBtn{margin:10px 20px 0 0;background:none;border: none;border-radius: 0;}
.elHeader .headIco{margin: 11px 17px 0 0;}
.elHeader .el-dropdown{cursor: pointer;}
.elHeader .headerBtn{margin:10px 20px 0 0;background: #1a53a1;}
.elHeader .headerBtn:hover,
.elHeader .headerBtn:focus
{border-color: #1a53a1;}
/*头部点击在线状态悬浮*/
.elHeader .el-menu--popup{padding:0;}
/*头部下拉*/
.elDropdown{color: #fff;}
/*左侧*/
.elAside{position: relative;}
.elAside .iconfont{margin-right: 5px;color: rgb(191, 203, 217)!important;font-size: 22px;}
/*.elAside .el-menu {border-right: solid 1px #334156;}*/
.elAside .el-menu-vertical-demo{
  height: 100%;
}
.elAside .el-aside {
  color: #333;
}
.elAside .el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 170px;
  height: 100%;
}
.elAside .el-submenu{border-bottom: 1px solid #266bc8;position: relative;}
.elAside .el-submenu:after{content:"";position: absolute;left: 0;bottom: 0px;width: 100%;height: 1px;background:#0b3f87;}
.elAside .el-submenu .el-menu-item{min-width: 170px;}
.elAside .el-submenu .el-menu-item:hover{color: #99d5ff!important;}
.elAside .el-submenu__title{background:#1a53a1!important;font-size: 18px;}
.elAside .el-submenu__title span{padding-left: 12px;}
.elAside .el-submenu__title .fa{font-size: 16px;top: 23px;color: #fff}
.elAside .el-submenu__title:hover{background:#1a53a1!important;color: #99d5ff!important;}
.elAside .el-submenu__title i{color: #93aed3;}
.elAside .el-submenu__icon-arrow{font-size: 20px;}
.elAside .el-menu-item-group,.el-menu-item{background-color: #336fc1!important;    padding-left: 30px!important;}
.elAside .el-menu-item-group .fa,.el-menu-item .fa{color: #fff!important;position: absolute;left:20px!important;top: 24px;font-size: 14px;}

.elAside .el-menu-item.is-active{color: #99d5ff;}
.elAside .fa{position: absolute;left: 15px;top: 21px;color: #93aed3;}
.elAside .el-menu{border-right: none;}
/*左侧悬浮菜单*/
.el-menu--vertical{top: 60px;height: 500px;overflow-y: auto;background: #1f2d3d!important;}
.el-menu--vertical .el-menu--popup-right-start{margin-left:0;margin-right:0;}
.el-menu--vertical .el-menu--popup{padding:0;}
/*右侧内容区*/
.elMain{padding:0;}


