<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="_header_include::frag(~{::title},~{::style},~{})">
    <title>后台管理系统</title>
    <meta charset="UTF-8">
    <style>
    </style>
</head>
<body>
<div id="maindiv" class="maindiv mainPadding" style="display: none;"> 
    <el-breadcrumb separator="/" class="elBreadcrumb marginB20">
        <el-breadcrumb-item>Home</el-breadcrumb-item>
        <el-breadcrumb-item>云呼叫</el-breadcrumb-item>
    </el-breadcrumb>     
    <el-row class="padding20" style="padding-left: 0;">         
        <el-row class="marginB10">
            <p style="color: #333;font-size: 16px;margin-bottom: 10px;">云呼叫</p>
            <el-button type="primary" style="width: 120px;height: 40px;">服务套餐项目</el-button>
        </el-row>
        <el-row class="marginB20 fs14">已购买套餐，再次变更套餐需要在第二个月生效</el-row>
    </el-row> 
    <el-row>
        <el-table 
            ref="dataTable"
            tooltip-effect="dark"
            border
            :data="dataTable"
            @selection-change="handleSelectionChange" 
            >
            <!-- <el-table-column align="center" type="index" label="序号"></el-table-column> -->
            <el-table-column align="center" prop="packageName" label="套餐"></el-table-column>
            <el-table-column align="center" prop="" label="内容">
                <template scope="scope">
                    <p>坐席费：{{scope.row.sheetCost}}</p>
                    <p>月固定费：{{scope.row.fixCost}}</p>
                    <p>小号月租费用：{{scope.row.subAccountCost}}</p>
                </template>
            </el-table-column>
            <el-table-column align="center" prop="maxSheetNum" label="支持坐席最大数量"></el-table-column>
            <el-table-column align="center" prop="totalCost" label="月固定费用/个"></el-table-column>
            <el-table-column align="center" label="选择费用">
                <template scope="scope">
                    <el-radio :label="scope.row.radioVal" v-model="templateRadio">&nbsp;</el-radio>
                </template>
            </el-table-column>
        </el-table>
    </el-row>
    <el-row class="padding20" style="text-align: right;padding-right: 0;color: #666">提示：以上不包含通话时长费用，具体请咨询客服</el-row>
    <div class="padding20 f-tac">
        <el-button type="primary" style="width:200px;height: 50px;" @click="submitForm">购买</el-button>
    </div>
    <!-- 弹窗 -->
    <el-dialog title="变更服务套餐" :visible.sync="changeFormVisible" width="540px">
        <el-form :model="formChange" ref="formChange" :rules="rules">
            <el-form-item label="原服务套餐：" :label-width="formLabelWidth">
                <span>{{formChange.name}}</span>
            </el-form-item>
            <el-form-item label="变更服务套餐：" :label-width="formLabelWidth">
                <span>{{formChange.newName}}</span>
            </el-form-item>
            <el-form-item label="意向购买坐席数量（个）：" prop="buyCount" :label-width="formLabelWidth">
                <el-input v-model="formChange.buyCount" placeholder="" maxLength="20"></el-input>
            </el-form-item>
            <el-form-item label="需支付首月固定费用（元）：" :label-width="formLabelWidth">
                {{formChange.cost}}
            </el-form-item>
            <p>账户余额不足，<a href="/merchant/merchantOnlineRecharge/initOnlineRecharge" style="color: #5c6be8;">去充值</a></p>
        </el-form>
        <div slot="footer" class="dialog-footer" style="text-align:center;">
            <el-button type="primary" :disabled="btnDisabled" @click="submitApplyForm('formApply')">提交</el-button>
            <el-button @click="changeFormVisible = false;">取 消</el-button>
        </div>
    </el-dialog>
</div>
</body>
<!-- import Vue before Element -->
<div th:include="_footer_include :: #jsLib"></div>

<!-- import common js-->
<script>  
    var userId = '[[${userId}]]';
    var mainDivVM = new Vue({
        el: '#maindiv',
        data: function() {
            return {  
                btnDisabled:false,
                changeFormVisible:false,             
                multipleSelection: [],//选择行
                formLabelWidth: '170px',
                dataTable: [],
                templateRadio:'0',
                formChange:{
                    name:'',
                    newName:'',
                    buyCount:'',                    
                    cost:'',
                },
                rules:{
                    taxpayerIdentificationNum: [
                        { required: true, message: '纳税人识别号不能为空', trigger: 'blur' },
                        { validator:function(rule,value,callback){
                            var reg =  /^[A-Za-z0-9\u4e00-\u9fa5]*]*$/ ;
                            if(value !=null && value !="null" && value !="" && !reg.test(value) ){
                                callback(new Error("请输入正确的格式,不支持特殊字符"));
                                return;
                            }else{
                                callback();
                            }
                        }, trigger: 'blur'}                                   
                    ],
                },
            }             
        },
        methods: {
            handleSelectionChange(val) {//选择节点的事件
                console.log(val)
                this.multipleSelection = val;
            }, 
            submitForm(){

            },
            searchTable() { 
                var param ={};                
                param.userId=userId;
                console.info(param);
                axios.post('/merchant/call/package/list', param)
                .then(function (response) {
                    console.log(response)
                    var result =  response.data;
                    if(result.code==0){
                        var table=result.data;
                        mainDivVM.dataTable= table.data;                        
                    }else{
                        ocmVM.$message.error(result.msg);
                    }                    
                })
                .catch(function (error) {
                     console.log(error);
                });
                
            },
        },
        created(){ 
            this.searchTable();           
        },
        mounted(){
            document.getElementById('maindiv').style.display = 'block';
        }
    })
</script>
</html>