html,body{height: 100%;}
body{height:100%;background-image: url('../../../images/loginbg.jpg');margin-top:0px;background-repeat:no-repeat;background-size: cover;background-color: #1e2746;background-position: center center;}
.loginbox {width: 320px;height:530px;position: relative;float: right;margin-right: 250px;overflow: hidden !important;text-align: left;top: 50%;margin-top: -265px;background: #fff;padding: 0 55px;border-radius: 10px;box-shadow: 0 0 87px 9px rgba(0,0,0,0.1);}
.loginbox .el-input__inner{border:1px solid #fff;border-bottom: 1px solid #3b6abf;border-radius: 0;padding-left: 45px;}
.loginbox .el-form-item.is-success .el-input__inner,
.loginbox .el-form-item.is-success .el-input__inner:focus,
.loginbox .el-form-item.is-success .el-textarea__inner,
.loginbox .el-form-item.is-success .el-textarea__inner:focus,
.loginbox .el-form-item.is-error .el-input__inner,
.loginbox .el-form-item.is-error .el-input__inner:focus,
.loginbox .el-form-item.is-error .el-textarea__inner,
.loginbox .el-form-item.is-error .el-textarea__inner:focus,
.loginbox .el-message-box__input input.invalid,
.loginbox .el-message-box__input input.invalid:focus{
    border-color: #fff;
    border-bottom: 1px solid #3b6abf
}

.loginbox .iconImg{position: absolute;left: 13px;bottom: 10px;display: block;z-index: 1;width: 17px;height: 18px;}
.loginbox .iconImg img{display: block;}
.loginbox .iconRight{right:13px;left: auto; }

.loginform ,.reform{ z-index: 200; display:block;height: 500px; width:100%; background:rgba(255,255,255,0.15); position:relative; top:0; left:0;border-radius:15px;}
.loginbox .control-group{ margin-bottom:15px;}

.loginbox .normal_text{padding: 70px 0 30px;text-align: center;line-height: 20px;color: #3b6abf;font-size: 20px;margin-bottom: 0;}

.loginbox .codeBtn{float: right;width: 129px;background-color: #fff;color: #3b6abf;border-color: #3b6abf;border-radius: 20px;padding: 0;height: 40px;}
.loginbox .msgBtn{background: none;border: none;height: 12px;line-height: 12px;padding: 0;margin: 0;font-size: 12px;margin-left: 3px;text-decoration: underline;color: #3b6abf;margin-top: -4px;}
.loginbox .msgBtn:hover{color: #56a5e8;background: none;}

.loginbox .codeTip{font-size: 14px;color: #999;font-weight: bold;}
.loginbox .codeTip .link{color: #56a5e8;text-decoration: underline;font-size: 12px;cursor: pointer;}
.loginbox .codeTip .link a{color: #56a5e8;}
.loginbox .codeTip .link a:hover{color: #56a5e8;}
.loginbox .loginBtn{width: 100%;height: 50px;background: #6073fe;color: #fff;border-radius: 25px;display: block;text-align: center;line-height: 40px;font-size: 20px;padding: 0;border: none;box-shadow: 0 0 24px 9px rgba(13,39,121,0.12);}
.loginbox .resetBtn{width: 100%;background: #6073fe;color: #fff;border-radius: 25px;display: block;text-align: center;line-height: 40px;font-size: 16px;padding: 0;border: none;box-shadow: 0 0 50px 9px rgba(13,39,121,0.12);}
.loginbox .cancelBtn{width: 100%;background: #fff;color: #3b6abf;border-radius: 25px;display: block;text-align: center;line-height: 40px;font-size: 16px;padding: 0;border: 1px solid #3b6abf;box-shadow: 0 0 50px 9px rgba(13,39,121,0.08);}

.loginbox .tipCntBox{padding: 10px 0;font-size: 14px;color: #ff0909;margin-top: -5px;/*height: 20px;*/height: auto;font-weight: bold;}
.loginbox .pswForgetBtn{color: #3b6abf;font-size: 14px;float: right;cursor: pointer;}

.loginbox .bindTelBox{padding:0 60px 13px;color: #fff;font-size:16px; }

.whiteIptBox{background:#fff;border-radius:5px;}
.whiteIptBox input{background:#fff;border:none;margin:0 auto;}
.blueSubmitBtn{height:30px;line-height:30px;background:#6373f8;font-size: 16px;color: #fff;text-align: center;border:none;border-radius: 5px;}
.passwordForgetBox{width: 370px;height: 248px;position: absolute;left: 30px;top: 244px;background: #fff;z-index: 300;border-radius: 15px;text-align: center;box-shadow: 0 0 20px 10px rgba(0,0,0,0.1);}
.passwordForgetBox .title{padding-top: 30px;font-size: 16px;margin-bottom: 15px;}
.passwordForgetBox .whiteIptBox{margin:0 auto 10px;}
.passwordForgetBox .whiteIptBox input{width: 254px;box-shadow: none;height: 40px;line-height: 40px;border: 1px solid #dcdcdc;margin: 0 auto;border-radius: 5px;padding-left: 15px;}
.passwordForgetBox .tip{color: #ff0909;margin:0 auto 10px;font-size: 14px;width: 257px;text-align: left;}
.passwordForgetBox .blueSubmitBtn{width: 257px;height: 40px;line-height: 40px;padding: 0;}
.passwordForgetBox .codeImgBox{width: 113px;margin:0 auto 10px;height: 40px;text-align: center;}
.passwordForgetBox .codeImgBox img{height: 100%;}
.passwordForgetBox .closeBtn{position: absolute;right: -10px;top: -10px;z-index: 5;color: #fff;cursor: pointer;position: absolute;right: -2px;top: -65px;z-index: 5;color: #fff;cursor: pointer;font-size: 42px;}

.passwordForgetBox .el-form-item.is-success .el-input__inner,
.passwordForgetBox .el-form-item.is-success .el-input__inner:focus,
.passwordForgetBox .el-form-item.is-success .el-textarea__inner,
.passwordForgetBox .el-form-item.is-success .el-textarea__inner:focus,
.passwordForgetBox .el-form-item.is-error .el-input__inner,
.passwordForgetBox .el-form-item.is-error .el-input__inner:focus,
.passwordForgetBox .el-form-item.is-error .el-textarea__inner,
.passwordForgetBox .el-form-item.is-error .el-textarea__inner:focus,
.passwordForgetBox .el-message-box__input input.invalid,
.passwordForgetBox .el-message-box__input input.invalid:focus{
    border: 1px solid #dcdcdc!important;
}

.passwordForgetBox .el-form-item__error{left: 57px;}


.hideBox{display: none!important;}

.logoutBox{height: 208px;position: absolute;top: 281px;background: #fff;z-index: 300;border-radius: 15px;box-shadow: 0 0 20px 10px rgba(0,0,0,0.1);color: #666;left: 30px;padding: 0 25px;right: 30px;}
.logoutBox .box{padding: 15px;}
.logoutBox .title{text-align: center;font-size: 20px;margin-bottom: 15px;}
.logoutBox .cnt{font-size: 17px;margin-bottom: 15px;line-height: 1.3;}
.logoutBox .cnt a{font-size: 14px;color: #56a5e8;text-decoration: underline;}
.logoutBox .blueSubmitBtn{width: 120px;height: 40px;padding: 0;}
.logoutBox .floatLeft{float: left;}
.logoutBox .floatRight{float: right;}
.mark {display: none;position: fixed;top: 0;right: 0;bottom: 0;left: 0;margin: auto;height: 25px;line-height: 25px;width: 120px;text-align: center;font-size: 14px;  color: #fff;background: rgba(0, 0, 0, 0.6);border-radius: 3px;z-index: 500;  text-align: center;}
/*去除chrome浏览器记住用户名密码的input黄色底色*/
input:-webkit-autofill , textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}



@media (max-width:1366px){
    .loginbox{margin-right: 10%}
}
@media (max-width:800px){
}
@media (max-width: 480px){
}
