/*全站页面样式重置开始*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, input, button, select, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, table, tbody, tfoot, thead, tr, th, td,
article,aside,dialog,footer,header,section,footer,nav,figure,menu,time { padding:0; margin:0; font-family:Microsoft YaHei,PingFangSC-Regular,SimSun, Lucida Grande, Tahoma, sans-serif; }
address, caption, cite, code, dfn, em, th, var { font-style:normal; font-weight:normal; }
/*h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal; }*/
caption, th, td { font-weight:normal; text-align:left; }
table { border-collapse:collapse; border-spacing:0; }
input, button, select { vertical-align:middle; }
fieldset, img, abbr, acronym { border:0; }
textarea { resize:none; overflow:auto; }
ul, ol { list-style:none;}
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
html, body { width:100%; color:#555; font:12px Microsoft YaHei,PingFangSC-Regular,SimSun, Lucida Grande, Tahoma, sans-serif; line-height:normal; -webkit-text-size-adjust:none; }
/*html { overflow-y:auto; *overflow-y:scroll; }*/
:focus { outline:0; }
a,a:visited,a:active { text-decoration:none; color:#555; -webkit-transition:color 0.2s linear; -moz-transition:color 0.2s linear;-o-transition:color 0.2s linear; -ms-transition:color 0.2s linear; transition:color 0.2s linear; }
a:hover { /*color:#ed145b!important;*/ text-decoration:none; }
article,aside,dialog,footer,header,section,footer,nav,figure,menu{ display:block; }
.clearFix { *zoom:1; }
.clearFix:after { display:block; overflow:hidden; content:"."; visibility:hidden; clear:both; height:0; line-height:0; }
/*input,textarea,select,input[type="button"],input[type="submit"],input[type="reset"] {-webkit-appearance:none; } *//*IOS默认样式*/
*{-webkit-touch-callout:none;} /*移动端元素点击遮罩*/
/**{-webkit-user-select:none;}*/ /*网站禁止选中内容*/
/*全站页面样式重置结束*/

/* function */
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}
.f-ib{display:inline-block;*display:inline;*zoom:1;}
.f-dn{display:none!important;;}
.f-db{display:block!important;;}
.f-fl{float:left!important;;}
.f-fr{float:right!important;;}
.f-pr{position:relative;}
.f-prz{position:relative;zoom:1;}
.f-oh{overflow:hidden;}
.f-ff0{font-family:arial,\5b8b\4f53;}
.f-ff1{font-family:"Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;}
.f-fs1{font-size:12px;}
.f-fs2{font-size:14px;}
.f-fwn{font-weight:normal;}
.f-fwb{font-weight:bold;}
.f-tal{text-align:left!important;}
.f-tac{text-align:center!important;}
.f-tar{text-align:right!important;}
.f-vat {vertical-align:top!important;}
.f-vam {vertical-align:middle!important;}
.f-vab {vertical-align:bottom!important;}
.f-taj{text-align:justify;text-justify:inter-ideograph;}
.f-vam,.f-vama *{vertical-align:middle;}
.f-wsn{word-wrap:normal;white-space:nowrap;}
.f-pre{overflow:hidden;text-align:left;white-space:pre-wrap;word-wrap:break-word;word-break:break-all;}
.f-wwb{white-space:normal;word-wrap:break-word;word-break:break-all;}
.f-ti{overflow:hidden;text-indent:-30000px;}
.f-ti2{text-indent:2em;}
.f-lhn{line-height:normal;}
.f-tdu,.f-tdu:hover{text-decoration:underline;}
.f-tdn,.f-tdn:hover{text-decoration:none;}
.f-toe{overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;}
.f-csp{cursor:pointer;}
.f-csd{cursor:default;}
.f-csh{cursor:help;}
.f-csm{cursor:move;}
.f-usn{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
.trst { -webkit-transition:all 0.2s linear; -moz-transition:all 0.2s linear;-o-transition:all 0.2s linear; -ms-transition:all 0.2s linear; transition:all 0.2s linear; }
.block { display:block!important; }
.hide { display:none!important; }
.editor { line-height:22px; }
.mrgBtmNone { margin-bottom:0!important; }
.mrgTopNone { margin-top:0!important; }
.mrgLeftNone { margin-left:0!important; }
.mrgRightNone { margin-right:0!important; }
.fs12 { font-size:12px; }
.fs14 { font-size:14px; }
.fs16 { font-size:16px; }
.fs18 { font-size:18px; }
.fs20 { font-size:20px; }
.fs22 { font-size:22px; }
.fs24 { font-size:24px; }
.padding10{padding:10px;}
.paddingT10{padding-top:10px;}
.paddingT8{padding-top:8px;}
.paddingB10{padding-bottom:10px;}
.padding20{padding:15px;}
.paddingT20{padding-top:10px;}
.paddingL20{padding-left:20px;}
.paddingR20{padding-right:20px;}
.paddingB20{padding-bottom:20px;}
.paddingB100{padding-bottom:100px;}
.mainPadding{padding:10px 15px 0;padding-left:28px;}
.marginB10{margin-bottom:10px;}
.marginB20{margin-bottom:10px;}
.marginL20{margin-left:20px;}
.marginR10{margin-right:10px;}
.redcolor{color: red;}
.bluecolor{color: #5c6be8;}
.yellowcolor{color: #e6a23c;}
/*.greybg{background:#e9f4ff;}*/
.greybg{background:#ecedf2;}
.greyTip{background: #edf2fc;padding: 10px;margin-bottom: 10px;}
.cursorP{cursor: pointer;}
.titleBorderL{border-left: 5px solid #ebeef5;padding-left: 12px;}
.blueColorBtn,.blueColorBtn:visited,.blueColorBtn:active{color:#5c6be8; cursor:pointer}
.inlineText{padding: 9px 15px;vertical-align: middle;}
.blueBtnText:hover{color: #7b87f5;}
.requiredRed{position: absolute;top: 0;color: #f56c6c;}
.marginBottom15 {margin-bottom: 15px!important;}
img{max-width: 100%;}
/*.borderbox{border:1px solid #dcdfe6;}*/
.mainWhiteBg{background: #fff;}
.mainWhitePadding{padding:30px;}
.borderbox{border:1px solid #eaecf3;background: #fff;border-radius: 4px;}
.width500{width: 500px;}
.width200{width: 200px;}
/*.mainSearchBg{background: #fff;padding:30px 17px 25px;}*/
.mainSearchBg{background: #fff;padding:10px 17px 9px;}
.mainSearchBg .el-form-item__label{width: 84px;}
/*.mainSearchBtnBox{width: auto;text-align: center;margin-bottom: 30px;padding-top: 5px;}*/
.mainSearchBtnBox{width: auto;text-align: center;margin-bottom: 15px;padding-top: 5px;}
.mainSearchFormBox{max-width: 1110px;overflow-x: auto;margin:0 auto;}
.mainSearchForm{width: 1110px;}
.widthauto .el-form-item__label{width: auto!important;color: #dcdde2;}
/*.searchBtn{width: 150px;}*/
.searchBtn{width: 120px;}
.greycolor{color: #c0c4cc;}
.paddingL6{padding-left: 6px;}
.mainSearchForm .el-input{width: 140px;}
.mainSearchForm .el-select{width: 140px;}
.mainSearchForm .el-date-editor{width: 150px!important;}
.width140{width: 140px!important}
.breakWord{word-wrap: break-word;word-break: break-all;white-space: pre-wrap !important;}
/*表格高度*/
/*.el-table__body-wrapper{max-height: 300px;overflow-y: auto}*/
.el-table__body-wrapper{max-height: 400px;overflow-y: auto}
/*elCheckboxGroup第一个左距离30px*/
.elCheckboxGroup .el-checkbox{
    margin-left: 30px!important;
}
/*维护客户按钮fixed底部*/
.btnBoxFixed{position: fixed;left: 0;bottom: 0;width: 100%;background: #fff;z-index: 9;border-top: 1px solid #ecedf2;}
/*苹果电脑去掉小钥匙*/
input::-webkit-credentials-auto-fill-button {
    display: none !important;
    visibility: hidden;
    pointer-events: none;
    position: absolute; 
    right: 0;
}
/*不显示input的number样式*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}
/*默认定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar{width: 8px;height: 10px;background-color: #eff3f7;} 
/*默认定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track{background-color: #ededf3;} 
/*默认定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb{border-radius: 10px;background-color: #d1d7e5;}
/*表格滚动条颜色*/
.el-table__body-wrapper::-webkit-scrollbar{width: 8px;height: 10px;background-color: #ededf3;} 
.el-table__body-wrapper::-webkit-scrollbar-track{background-color: #ededf3;}
.el-table__body-wrapper::-webkit-scrollbar-thumb{background-color: #bccad8;}
/*高度自动的表格*/
.elTableHeightAuto .el-table__body-wrapper{max-height: none!important;}

/*面包屑*/
.elBreadcrumb{/*height: 30px;*/height: auto;}
/*loading*/
#Loading{width: 100%;height: 100%;position: fixed;left: 0;top: 0;z-index: 1000;background:#fff;}
.loader-inner {
top:50%;
left:50%;
position: absolute;
-webkit-transform: translateY(-50%)  translateX(-50%);
transform: translateY(-50%)  translateX(-50%);
z-index:100;
}
@-webkit-keyframes ball-beat {
50% {
opacity: 0.2;
-webkit-transform: scale(0.75);
transform: scale(0.75); }

100% {
opacity: 1;
-webkit-transform: scale(1);
transform: scale(1); } }

@keyframes ball-beat {
50% {
opacity: 0.2;
-webkit-transform: scale(0.75);
transform: scale(0.75); }

100% {
opacity: 1;
-webkit-transform: scale(1);
transform: scale(1); } }

.ball-beat > div {
background-color: #5c6be8;
width: 15px;
height: 15px;
border-radius: 100% !important;
margin: 2px;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
display: inline-block;
-webkit-animation: ball-beat 0.7s 0s infinite linear;
animation: ball-beat 0.7s 0s infinite linear; }
.ball-beat > div:nth-child(2n-1) {
-webkit-animation-delay: 0.35s !important;
animation-delay: 0.35s !important; }
/*error页面*/
.errorBox{width:860px;margin:0 auto;padding-top:180px; }
.errorBox img{display: block;}
.errorBox .rightBox{width: 450px;}
.errorBox .rightBox .imgbox{padding-top:30px;margin-bottom:50px; }
.errorBox .tip{font-size: 16px;color: #999;margin-bottom: 20px;} 
.errorBox .btnBox{width: 340px;overflow: hidden;}
.errorBox .btnBox .btn{width: 145px;height: 40px;text-align: center;line-height: 40px;display: block;border-radius: 25px;border:2px solid #c6d3dd;color: #999;font-size: 16px;background: #fff;}
.errorBox .btnBox .btn:hover{background:#eee;}
.errorBox .btnBox .backHome{background:#5c6be8;border-color: #5c6be8;color: #fff;}
.errorBox .btnBox .backHome:hover{background:#6373f8;border-color: #6373f8;color: #fff;}
/*内页*/
.inforTitle{background: #5c6be8;font-size: 14px;height: 40px;line-height: 40px;text-indent: 20px;color: #fff;border-top-left-radius: 4px;border-top-right-radius: 4px;margin-bottom: -4px;z-index: 1;position: relative;}
.inforTitle1{background: #ecedf2;height: 40px;line-height: 40px;text-indent: 20px;border-top-left-radius: 4px;border-top-right-radius: 4px;margin-bottom: -4px;z-index: 1;position: relative;}
/*通话记录*/
.callLogBox{position: relative;}
/*.callLogBox audio{position: absolute;right: 0;top: 20px;height: 32px;}*/
.callLogBox audio{position: absolute;right: 0;top: 4px;height: 54px;}
.callLogBox audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel{background:#ecedf2;}
/*红色字label*/
.redLabel .el-form-item__label{color: red;}
/*媒体查询修改搜索区域label宽度和组件宽度*/
/*在线聊天记录*/
.onlineRecordDialog .onlineService{display: none;}
.onlineRecordDialog .maxWidth500{max-width: 500px;}
.onlineRecordDialog .listBox{max-height: 500px;overflow: auto;}
.onlineRecordDialog .listBox ul li p span{word-wrap: break-word;word-break: break-all;white-space: pre-wrap !important;}
.onlineRecordDialog .listBox.listScroll{overflow-y: scroll;}
/*知识库弹窗*/
.dataBasedialog .el-dialog__header:before{width: 102px;height: 59px;background: url(../../../images/img_zsk.png) no-repeat;right: 125px;background-size: 100%;}
.dataBasedialog .searchIpt{overflow: hidden;text-align: center;width: 400px;margin: 10px 0 30px;}
.dataBasedialog .searchConditions{overflow: hidden;margin-bottom: 40px;}
.dataBasedialog .searchConditions .clearFix{overflow: hidden;height: 37px;line-height: 30px;margin-bottom: 10px;}
.dataBasedialog .searchConditions ul{overflow: hidden;}
.dataBasedialog .searchConditions ul li{float: left;margin-right: 10px;width: 100px;height: 30px;line-height: 30px;text-align: center;color: #fff;background: #C8C9D5;}
.dataBasedialog .searchConditions ul li.unlimited{background: #5C6BE8;width: 50px;}
.dataBasedialog .searchResult{overflow: hidden;min-height: 100px;color: ##969696}
.dataBasedialog .searchResult .searchResultList{width: 680px;}
.dataBasedialog .searchResult .searchResultList .searchResultItem{float: left;margin-right: 20px;margin-bottom: 20px;width: 150px;overflow: hidden;height: 20px;}
.dataBasedialog .searchResult .numbg{width: 19px;height: 19px;line-height: 19px;background: #A2A6CA;text-align: center;color: #fff;border-radius:3px;margin-right: 5px;}
.dataBasedialog .el-radio-button__inner{ background: #C8C9D5;border-radius: 0!important;padding: 8px 20px;margin-right: 10px;color: #fff;border:none!important;}
.dataBasedialog .el-radio-button__orig-radio:checked+.el-radio-button__inner{border:none;background: #5c6be8;border: none;border-radius: 0;margin-right: 10px;}
/*我的客户首页tab切换*/
.menuTab{height: 67px;background:rgba(255,255,255,1);box-shadow:0px 0px 8px 1px rgba(160,181,234,1);padding-left: 44px;display: -webkit-flex; /* Safari */display: flex;align-items:flex-end;position: relative;z-index: 4;margin-left: -28px;margin-right: -15px;margin-top: -10px;margin-bottom: 10px;}
.menuTab li{padding:0 30px;color:#868687;height: 68px;line-height: 68px;font-size: 16px;position: relative;cursor: pointer;}
.menuTab li:hover,.menuTab li.active{background:linear-gradient(0deg,rgba(124,187,255,0.23) 0%,rgba(255,255,255,0) 52%);}
.menuTab li:hover:before,.menuTab li.active:before{content:"";position: absolute;bottom: 0;left: 0;width: 100%;height: 3px;background: #0057B6;}
@media screen and (max-width: 1367px) {
    /*.el-table__body-wrapper{max-height: 500px;overflow-y: auto}*/
    .el-table__body-wrapper{max-height: 640px;overflow-y: auto}
} 
@media screen and (min-width: 1659px) { 
    .mainSearchFormBox{max-width: 1660px;overflow-x: auto;margin:0 auto;}
    .mainSearchForm{width: 1660px;}
    .mainSearchBg .el-form-item__label{width: 130px;}
    .mainSearchForm .el-input{width: 180px;}
    .mainSearchForm .el-select{width: 180px;}
    .mainSearchForm .el-date-editor{width: 200px!important;}
    .width140{width: 180px!important;}
    /*表格高度*/
    /*.el-table__body-wrapper{max-height: 500px;overflow-y: auto}*/
    .el-table__body-wrapper{max-height: 640px;overflow-y: auto}
} 
@media screen and (min-width: 2000px) {
    /*表格高度*/
    .el-table__body-wrapper{max-height: auto;overflow-y: auto}
}

