body,html{margin:0;padding:0;height: 100%;}
.el-header {  
  color: #333;
  line-height: 60px;
  border-bottom: 1px solid #d8dce5;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.04);
}
.el-menu-vertical-demo{
  height: 100%;
}
.el-aside {
  color: #333;
}
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
  height: 100%;
}
.el-submenu__title:hover{background:rgb(38,52,69)!important;}
.el-menu-item-group,.el-menu-item{background-color: #1f2d3d!important;}
/*右侧悬浮*/
.el-menu--popup{padding:0;}
#app{height: 100%;}
.icon-open:before{font-size: 35px;cursor: pointer;}
.menuAside .iconfont{margin-right: 5px;color: rgb(191, 203, 217)!important;font-size: 22px;}
