.dialogForm .el-form-item {
    margin-bottom: 5px;
}

.invite-area {
    width: 94px;
}

.invite-margin {
    margin: 0 10px;
}

.xreuired .el-form-item__label:before {
    content: '* ';
    color: red;
}

.input-width {
    width: 310px;
}

.el-date-editor.el-input,
.el-date-editor.el-input__inner {
    width: 310px;
}

.el-table .cell {
    display: flex;
    justify-content: center;
}

.invite-top {
    margin-top: 14px;
}

.el-dialog__header {
  background:linear-gradient(90deg,rgba(51,85,232,1),rgba(94,133,255,1));
}

.el-dialog__header:before {
    width: 122px;
    height: 86px;
    background-size: 122px 86px;
    right: 103px;
    bottom: 6px;
}

.fontColor2 {
    color: #3A84F4;
    margin-right: 10px;
    cursor: pointer;
}

.el-dialog__headerbtn .el-dialog__close {
    background: #fff!important;
    border-radius: 50%;
    color: #fff;
}

.merchant-submit {
    cursor: pointer;
}


.el-dialog__title {
    color: #fff;
}
.r-dailog .el-button{
    width: 190px;
}
.r-dailog .el-button--primary {
    height: 43px;
    line-height: 43px;
    background:linear-gradient(-90deg,rgba(51,85,232,1),rgba(94,133,255,1));
box-shadow:0px 9px 27px 2px rgba(75,128,255,0.46);
    border-radius: 4px;
}
.r-dailog .el-button--primary  span{
    height: 26px;
    line-height: 26px;
    display: block;
}
.r-dailog  .el-button--default {
    height: 43px;
    line-height: 43px;
    background: linear-gradient(90deg, rgba(198, 205, 222, 1), rgba(188, 196, 214, 1));
    box-shadow: 0px 10px 28px 4px rgba(146, 162, 203, 0.47);
    border-radius: 4px;
}
.r-dailog .el-button--default span{
    height: 26px;
    line-height: 26px;
    display: block;
}
.invite-box{width: 470px; margin: 0 auto;}
.xreuired .el-form-item__label:before{content: ''}
.form-margin{margin-top:14px;}

#optimizeClueManagement {
    background: #f3f7fe;
  }

  .dialogForm .el-form-item {
    margin-bottom: 5px;
  }

  .invite-area {
    width: 94px;
  }

  .invite-margin {
    margin: 0 10px;
  }

  .xreuired .el-form-item__label:before {
    content: '* ';
    color: red;
  }

  .input-width {
    width: 310px;
  }

  .el-date-editor.el-input,
  .el-date-editor.el-input__inner {
    width: 310px;
  }

  .invite-top {
    margin-top: 14px;
  }

  .el-input__inner {
    border-radius: 6px;
  }

  .el-pagination {
    margin-top: 30px;
    padding-bottom: 30px;
  }
  .el-select .el-input.is-focus .el-input__inner{
    border-color:#3A5CEC !important;
  }
  .main-search-box .el-input__inner:focus{
    border-color:#3A5CEC !important;
  }
  .el-select-dropdown__item.selected{
    border-color:#3A5CEC !important;
  }
  .time-style.selectActive{border-color:#3A5CEC !important}
  
  .el-pagination input{background: #fff;}
  .el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li{background: #fff;}
  /* .el-pagination .btn-next{background: #fff;}
  .el-pagination .btn-prev{background: #fff;} */
  .mainSearchFormBox {
    margin: 0;
    max-width: 100%;
    padding: 10px 17px 20px;
    flex-direction: row;
    background: #fff;
    margin-bottom: 15px;
    box-shadow: 9px 11px 33px 7px rgba(73, 126, 250, 0.1);
    border-radius: 8px;

  }

  .main-search-box {
    width: calc(100% - 180px);
    min-width: 760px;
  }

  .mainSearchForm {
    display: flex;
    max-width: auto;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    width: auto;
    margin: 0 auto;
  }

  .mainSearchBtnBox {
    margin-bottom: 0;
    padding: 10px 0 0;
    display: flex;
    width: 180px;
    justify-content: flex-end;
  }

  .mainSearchBtnBox .el-button {
    height: 34px;
    border-radius: 6px;
    padding: 0 15px;
  }

  .mainSearchBtnBox .el-button--default {
    border: none;
    background: none;
    border-radius: 6px;
    color: #3A5CEC
  }
  .mainSearchBtnBox .searchBtn {
    width: 100px;
    background:linear-gradient(-90deg,rgba(51,85,232,1),rgba(94,133,255,1));
    /* box-shadow: 13px 21px 0.25 rgba(0,0,0,0.4); */
    box-shadow:0px 10px 28px 4px rgba(72,125,247,0.47);
  }
  .mainSearchBtnBox .searchBtn:hover {
    opacity: 0.9;
    background:linear-gradient(-90deg,rgba(51,85,232,1),rgba(94,133,255,1));
    /* box-shadow: 13px 21px 0.25 rgba(0,0,0,0.4); */
    box-shadow:0px 10px 28px 4px rgba(72,125,247,0.47);
  }
  
  .el-input--suffix .el-input__inner {
    height: 36px;
    line-height: 36px;
    background:#fff;
    border: 1px solid #dee1e6;
  }

  .el-form--inline .el-form-item {
    margin-bottom: 0;
    margin-top: 10px;
    margin-right: 3px;
  }

  .el-icon-arrow-up:before {
    content: "\E60C";
    color: #294366;
  }

  .el-form--inline .el-form-item.search-box-margin {
    margin-right: 0;
  }

  .mainSearchBg {
    padding: 0;
    background: none;
  }

  .mainSearchBg .el-form-item__label {
    min-width: 87px;
    width: 87px;
  }
  .widthauto .el-form-item__label{min-width: 10px!important;}
  .el-table--border,
  .el-table--group {
    border-radius: 8px;
    box-shadow: 0px 0px 41px 14px rgba(73, 127, 250, 0.1);
  }

  .el-table thead tr th {
    background: #fff;
    height: 58px;
    line-height: 58px;
    border: none;
  }

  .el-table td,
  .el-table th.is-leaf {
    border: none;
  }

  .el-table--enable-row-transition .el-table__body td {
    height: 46px;
    line-height: 46px;
    border: none;
  }

  .el-table--enable-row-transition .el-table__body tr:nth-child(odd) td {
    background-color: #f2f4f8;
  }
  .el-pagination.is-background .el-pager li:not(.disabled).active{
    background: #3A5CEC;
  }

  .el-table--border,
  .el-table--group {
    box-shadow: 0px 0px 41px 14px rgba(73, 127, 250, 0.1);
    border-radius: 8px;
  }
  .mainSearchBtnBox .el-form-item{margin-top: 0;}
  .el-form--inline .el-form-item.call-time{margin-right: 0;}
  .el-pagination button, .el-pagination span:not([class*=suffix]){
    vertical-align:baseline;
  }
 .el-pagination  .el-input--suffix .el-input__inner{height: 28px;line-height: 28px;}
 .el-button--success{
  background:linear-gradient(-90deg,rgba(40,183,117,1),rgba(35,214,115,1));
box-shadow:0px 5px 15px 3px rgba(59,186,110,0.48);
border-radius:4px;
padding: 7px 20px;
 }
 .el-button--success:hover{opacity:0.9;
  background:linear-gradient(-90deg,rgba(40,183,117,1),rgba(35,214,115,1));
box-shadow:0px 5px 15px 3px rgba(59,186,110,0.48);
border-radius:4px;
}
 .el-button--primary{
  background:linear-gradient(-90deg,rgba(51,85,232,1),rgba(94,133,255,1));
  box-shadow:0px 10px 28px 4px rgba(72,125,247,0.47);
  border-radius:4px;
 }
 .el-button--primary:hover{opacity:0.9;
  background:linear-gradient(-90deg,rgba(51,85,232,1),rgba(94,133,255,1));
  box-shadow:0px 10px 28px 4px rgba(72,125,247,0.47);
  border-radius:4px}
  .borderbox{min-height: 586px;}
  .el-table__body-wrapper{min-height: calc(100% - 500px);}
  .el-table__body-wrapper::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
    background: #d1d7e5;

}

 .el-button--danger{
    background: linear-gradient(-48deg,rgba(251,48,67,1),rgba(253,103,131,1));
    box-shadow: 0px 5px 11px 2px rgba(252,86,111,0.56);
 }
.greyTip{margin:-9px 0 0; background: none;}
.el-picker-panel__footer .el-button--default{background:#4D81FF ;}
.el-picker-panel__footer .el-button--default:hover{background:#4D81FF!important; opacity: 0.9;}
.el-date-table td.today span{ color: #4D81FF;}
.el-button--text{ color: #4D81FF;}
.r-dailog .el-button--default:hover{ opacity: 0.9;}
/*单选按钮选中颜色*/
.el-radio__input.is-checked .el-radio__inner {
    border-color: #3a84f4;
    background: #3a84f4;
}
.el-radio__input.is-checked+.el-radio__label {
    /* color: #409EFF; */
    color: #3a84f4;
}
/*多选按钮选中颜色*/
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{
    border-color: #3a84f4;
    background: #3a84f4;
}
.bluecolorM{color: #4D81FF}
.el-form-item{margin-bottom: 15px;}
.call-menu .el-button+.el-button{margin-left:-4px;}
.main-search-box .el-input__inner{
  height: 34px;
  line-height: 34px;
  background:#fff;
  border: 1px solid #dee1e6;
}
.mainSearchForm .el-date-editor{width: 140px!important;}
.el-breadcrumb{ font-size: 12px;}
.el-pagination .el-select .el-input .el-input__inner{ border:none;}
.el-pagination__jump .el-input__inner{border:none;border-radius: 3px;}
.el-menu--collapse{width: 50px;}
.iconopenBox.active{left:50px;}
.elAside .el-submenu__title{pad: 0!important;}
.get-search-time{display:inline-block;}
.time-style{display:inline-block;border: 1px solid #dee1e6; border-radius: 6px; height: 34px;line-height: 34px; overflow: hidden;zoom:1;width: 372px;}
.time-style:hover{border: 1px solid #c0c4cc;}
.time-style .search-box-margin{ margin-top: 0;}
.time-style .widthauto{ margin-top: 0; margin-right: 0; }
.get-search-time .get-time{display:inline-block; height: 36px; line-height: 36px; float: left; text-align: right; width: 84px; margin-right: 3px;}
.time-style .el-form-item__label{ height: 34px; line-height: 34px; background:#fff ; margin: 0 36px;}
.time-style .el-input__inner{border:none;}
.time-style .el-form-item{ margin-top: 0px; margin-right: 0;}
.get-search-time{ margin-top: 10px; }
.el-date-table td.current:not(.disabled) span{ background:#3A5CEC;}
/* 通话记录 */
.call-menu .el-button:hover {
  background: #FFFFFF;
  color: #3A5CEC;
}
.el-button.call-button-active {
  background: #FFFFFF;
  color: #3A5CEC;
}
.call-time-long {
  color: #3A5CEC;
}
.call-money span {
  color: #3A5CEC;
}
.el-radio__input.is-checked+.el-radio__label {
  color: #3A5CEC;
}

.el-radio__input.is-checked .el-radio__inner {
  background: #3A5CEC;
  border-color: #3A5CEC;
}
.mainSearchBtnBox.rowMore {
  width: calc(100% - 16px);
}

.main-search-box.rowMore {
  width: 100%;
}

.mainSearchForm.rowMore {
  display: block;
  width: 1430px;
}

.mainSearchForm.minMore {
  width: 1195px;

}
/*弹窗头部icon*/
.el-dialog__title:before{
  background: url(../../images/icon_arrow2.png) no-repeat;
  background-size: 100%;
}
.el-icon-close:before{
  color:#3355E8;
}
@media screen and (max-width: 1920px) { 
/* .mainSearchForm { min-width: 1500px; } */
.mainSearchForm .el-input{width: 140px;}
.mainSearchForm .el-select{width: 140px;}
}
@media screen and (max-width: 1400px) { 
/* .mainSearchForm { min-width: 1120px; } */
}