/*公共样式*/
.merchantMainBox{margin: 0;
    max-width: 100%;
    padding: 10px 17px 20px;
    flex-direction: row;
    background: #fff;
    margin-bottom: 15px;
    box-shadow: 9px 11px 33px 7px rgba(73, 126, 250, 0.1);
    border-radius: 8px;}
/*表格*/
.dialogForm .el-form-item {
  margin-bottom: 5px;
}

.invite-area {
  width: 94px;
}

.invite-margin {
  margin: 0 10px;
}

.xreuired .el-form-item__label:before {
  content: '* ';
  color: red;
}

.input-width {
  width: 310px;
}

.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 310px;
}

.invite-top {
  margin-top: 14px;
}

.el-input__inner {
  background: #F2F4F8;
  border: none;
  border-radius: 6px;
}

.el-pagination {
  margin-top: 30px;
}

.mainSearchFormBox {
  margin: 0;
  max-width: 100%;
  padding: 10px 17px 20px;
  flex-direction: row;
  background: #fff;
  margin-bottom: 15px;
  box-shadow: 9px 11px 33px 7px rgba(73, 126, 250, 0.1);
  border-radius: 8px;

}

.main-search-box {
  width: calc(100% - 200px);
}

.mainSearchForm {
  display: flex;
  max-width: auto;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  width: auto;
  max-width: 1110px;
  margin: 0 auto;
}

.mainSearchBtnBox {
  margin-bottom: 0;
  padding: 10px 0 0;
  display: flex;
  width: 200px;
  justify-content: flex-end;
}

.mainSearchBtnBox .el-button {
  height: 36px;
  border-radius: 6px;
  padding: 0 15px;
}

.mainSearchBtnBox .el-button--default {
  border: none;
  background: none;
  border-radius: 6px;
  color: #4B80FF
}

.mainSearchBtnBox .searchBtn {
  width: 100px;
  background: linear-gradient(to left, #4B80FF, #769DF8);
  box-shadow: 0px 13px 21px 0px rgba(76, 129, 255, 0.53);
}

.el-input--suffix .el-input__inner {
  height: 36px;
  line-height: 36px;
}

.el-form--inline .el-form-item {
  margin-bottom: 0;
  margin-top: 10px;
  margin-right: 35px;
}

.el-icon-arrow-up:before {
  content: "\E60C";
  color: #294366;
}

.el-form--inline .el-form-item.search-box-margin {
  margin-right: 0;
}

.mainSearchBg {
  padding: 0;
  background: none;
}

.mainSearchBg .el-form-item__label {
  width: auto;
}

.el-table--border,
.el-table--group {
  border-radius: 8px;
  box-shadow: 0px 0px 41px 14px rgba(73, 127, 250, 0.1);
}

.el-table thead tr th {
  background: #fff;
  height: 58px;
  line-height: 58px;
  border: none;
}

.el-table td,
.el-table th.is-leaf {
  border: none;
}

.el-table--enable-row-transition .el-table__body td {
  height: 46px;
  line-height: 46px;
  border: none;
}

.el-table--enable-row-transition .el-table__body tr:nth-child(odd) td {
  background-color: #f2f4f8;
}
.el-pagination.is-background .el-pager li:not(.disabled).active{
  background: #4b80ff;
}

.el-table--border,
.el-table--group {
  box-shadow: 0px 0px 41px 14px rgba(73, 127, 250, 0.1);
  border-radius: 8px;
}
/*用户信息*/
.title18{font-size: 18px;color: #000;}
.merchantInfo .headerBox{width: 110px;height: 110px;border-radius: 50%;overflow: hidden;margin: 0 0 20px 97px;}
.merchantInfo .headerBox img{width: 110px;height: 110px;border-radius: 50%;overflow: hidden;}
.merchantInfo .changeHeaderImg{width: 310px;font-size: 16px;}
.merchantInfo .labelWidth{width: 125px;text-align: right;color: #757d88;font-size: 16px;margin-right: 55px;display: block;float: left;}
.merchantInfo .rightContent{color: #2d2e3e;font-size: 16px;}
.merchantInfo .marginB50{margin-bottom: 50px;}
/*支付页面*/
.paymentOnline ul{overflow: hidden;width: 1110px;background: #fafafa;}
.paymentOnline ul li{float: left;width: 50%;}
.paymentOnline ul li p{border-right: 1px solid #ecedf2;border-bottom: 1px solid #ecedf2;padding:10px;}
.paymentOnline ul li:nth-of-type(even) p{border-right: none;}
.paymentOnline ul li span{width: 30%;display: inline-block;}
.paymentOnline ul li span em{padding-left: 10px;}   
.paymentBtnType span{display:inline-block;width: 100px;height: 35px;line-height: 35px;text-align: center;background: #c3c5d4;color: #fff;}  
.paymentBtnType span a{color: #fff;}
.paymentBtnType span.current{background: #5c6be8;}
.paymentImg .f-fl{margin-right: 50px;}
.paymentImg img{width: 250px;}
.rechargeMoney .el-form-item__error{padding-left: 72px;}
.h73{max-height: 73px;}