<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:fragment="frag(title,links,styles)" th:with="baseUrl=${#httpServletRequest.getContextPath()}">   
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">    
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title th:replace="${title}">后台管理系统</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
     <!-- elementui css  -->
    <link rel="stylesheet" th:href="@{/css/common/element-ui.css}">
    <!-- iconfont样式引入 -->
    <link rel="stylesheet" th:href="@{/css/common/iconfont/iconfont.css}"> 
    <!-- font-awesome字体样式引入 -->
    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}"> 
    <!-- 公共样式引入 -->
    <link rel="stylesheet" th:href="@{/css/common/base.css}"> 
    
     <!-- 此处引进 页面自定义的style 和 引进的 js  -->
    <th:block th:replace="${links}" /> 
    <th:block th:replace="${styles}" />
    
	<script th:inline="javascript">
	        <!--项目根路径-->
	        var path = /*[[@{/}]]*/;
	</script>

</head>