<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="_header_include::frag(~{::title},~{::link},~{})">
    <title>后台管理系统</title>
    <link rel="stylesheet" th:href="@{/css/custom/homepage/index.css}">
</head>
<body>
<div id="Loading">
    <div class="loader-inner ball-beat">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<div id="app">
    <el-container style="height: 100%;">
        <!-- 头部 -->
        <el-header class="elHeader">        
            <div class="logoimg f-fl">
                <!-- <img src="../static/images/logoimg.png" alt=""> -->
                <img th:href="@{/images/logoimg.png}" alt="">
            </div>   
            <div class="f-fr">
                <el-button type="primary" class="messageBtn f-fl" @click="gotoMsgCenterPage">消息中心<em class="redcolor">&nbsp;(&nbsp;2&nbsp;)</em></el-button>
                <i class="iconfont icon-touxiang headerImg f-fl"></i>
                <!-- 下拉 -->
                <el-dropdown trigger="click"  @command="handleCommand">
                    <div class="elDropdownBtn">
                        <span>{{user.name}}— 在线</span> 
                        <i class="el-icon-caret-bottom"></i>
                    </div>            
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item command="modifyPwd">修改密码</el-dropdown-item>
                        <el-dropdown-item command="logout">退出登录</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </div>
        </el-header>
        <el-container>
            <span  @click="toogleClick" :class="{'iconopenBox':isActive,'iconopenBox active':!isActive}">
                <i  :class="{'iconfont el-icon-arrow-left':isActive,'iconfont el-icon-arrow-right':!isActive}"></i>
            </span>
            <!-- 左侧菜单 -->
            <el-aside width="" class="elAside">
                <el-menu 
                    class="el-menu-vertical-demo" 
                    @open="handleOpen" 
                    @close="handleClose" 
                    :collapse="isCollapse" 
                    :default-openeds="defaultOpeneds"
                    background-color="rgb(48, 65, 86)" 
                    text-color="#fff">   
                    
                    <!-- foreach menuList start -->
                      <el-submenu :index="index+''" :key="index"  v-for="(item,index) in items">
                        <template slot="title">
                            <i class="iconfont icon-menu1"></i>
                            <span slot="title">{{item.name}}</span>
                        </template>
                        
                        
                        <el-menu-item class="menu" :key="index+subIndex" :data-url="subItem.url" :index="index+'-'+subIndex" @click="menuClick(subItem.url)" 
                                v-for="(subItem,subIndex) in item.subList">
                                         {{subItem.name}}
                        </el-menu-item>
                    </el-submenu> 
                    
                    <!-- foreach menuList end -->
                                      
                </el-menu>
            </el-aside>
            <!-- 右侧内容区 -->
            <el-main class="elMain">
                <iframe src ="a.html" id="iframeBox" ref="iframeBox" name='iframe' frameborder="0" width="100%" height="100%">
                    <p>Your browser does not support iframes.</p>
                </iframe>
            </el-main>
        </el-container>
    </el-container>
    
     <!-- 修改密码 dialog start -->
     <el-dialog title="修改密码" :visible.sync="dialogModifyPwdVisible">
        <el-form :model="modifyForm" ref="modifyForm" :rules="modifyFormRules">
            <el-form-item label="当前密码：" :label-width="formLabelWidth" prop="oldPassword">
                <el-input v-model="modifyForm.oldPassword" autocomplete="off" minlength="6" maxlength="30"></el-input>
            </el-form-item>
            <el-form-item label="新密码：" :label-width="formLabelWidth" prop="newPassword">
                <el-input v-model="modifyForm.newPassword" autocomplete="off"  maxlength="30"></el-input>
            </el-form-item>
            <el-form-item label="确认密码：" :label-width="formLabelWidth" prop="confirmPwd">
                <el-input v-model="modifyForm.confirmPwd" autocomplete="off"  maxlength="30"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer" center="true">
            <el-button type="primary" @click="saveModifyForm('modifyForm')">保存</el-button>
            <el-button @click="cancelModifyForm('modifyForm')">取 消</el-button>
        </div>
    </el-dialog>
 <!-- 修改密码 dialog end -->
 <!-- 退出登录 dialog start -->
	 <el-dialog title="提示" :visible.sync="dialogLogoutVisible" width="30%">
	  <span>确认退出系统吗？</span>
	  <span slot="footer" class="dialog-footer">
	    <el-button type="primary" @click="confirmLogout">确认</el-button>
	  </span>
</el-dialog>
 <!-- 退出登录 dialog start -->
 
</div>  

</body>
<!-- import common js-->
<div th:include="_footer_include :: #jsLib"></div>
<script th:inline="javascript">
    var menuList=[[${menuList}]];
    var user=[[${user}]];
</script>

<script th:src="@{/js/custom/homepage/index.js}"></script>

</html>