body,html{margin:0;padding:0;height: 100%;}
#app{height: 100%;}
/*收起按钮*/
.iconopenBox{position: absolute;width: 14px;left: 240px;height: 57px;top: 50%;margin-top: -23px;text-align: center;line-height: 57px;color: #fff;cursor: pointer;z-index: 5;
	/*background: #5ea2e7;*/
	background:url(../../../images/menuBtnBg.png) no-repeat;
	transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out; 	/* IE 9 */
	-moz-transition:all 0.3s ease-in-out; 	/* Firefox */
	-webkit-transition:all 0.3s ease-in-out; /* Safari 和 Chrome */
	-o-transition:all 0.3s ease-in-out; }
.iconopenBox .el-icon-arrow-left{font-size: 14px;}
.iconopenBox .el-icon-arrow-right{font-size: 14px;}
.iconopenBox:after{content:'';position: absolute;top: -}
.iconopenBox.active{left: 64px;
	transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out; 	/* IE 9 */
	-moz-transition:all 0.3s ease-in-out; 	/* Firefox */
	-webkit-transition:all 0.3s ease-in-out; /* Safari 和 Chrome */
	-o-transition:all 0.3s ease-in-out; }
/*头部*/
.elHeader {line-height: 67px;background:#fff;height: 67px!important;box-shadow:0px 0px 8px 1px rgba(160,181,234,1);z-index: 5;}
/*logo*/
.elHeader .logoimg{width:240px;height:67px;background:linear-gradient(69deg,rgba(0,87,182,1) 0%,rgba(40,110,241,1) 100%);color:#fff;font-size: 15px;margin-right: 80px;}
.elHeader .logoimg img{width:58px;height:26px;margin: 22px 31px 0 41px;}
/*消息按钮*/
.elHeader .messageCenterBtn{position: relative;cursor: pointer;margin: 15px 15px 0 20px;width: 36px;height: 36px;display: inline-block;}
.elHeader .messageCenterBtn img{display: block;}
.elHeader .messageCenterBtn .messageCount{color: #fff;position: absolute;left: 20px;background: #fd5621;width: auto;height: 20px;line-height: 20px;text-align: center;border-radius: 20px;top: -8px;cursor: pointer;padding: 0 7px;font-size: 12px;}
.elHeader .messageBtn{margin: 23px 28px 0 0;background: none;border: none;border-radius: 0;padding: 0;}
.elHeader .headIco{margin: 10px 15px 0 0;width: 36px;}
.elHeader .el-dropdown{cursor: pointer;}
.elHeader .headerBtn{
	font-size:14px;
	background:linear-gradient(-90deg,rgba(24,105,253,1) 0%, rgba(98,168,236,1) 100%);
	-webkit-background-clip:text;
	border-radius:21px;
	height: 41px;
    line-height: 41px;
    padding: 0 35px;
	margin: 13px 0 0 5px;
	color: #1869FD;
}
.elHeader .headerBtn img{width: 22px;margin-top: 10px;}
.elHeader .headerBtn span:before{
	content: "";
    width: 22px;
    background: url(../../../images/unionSkin/home.png);
    background-size: 100%;
    height: 22px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    float: left;
}
.elHeader .headerBtn2 span:before{background: url(../../../images/unionSkin/icon_head.png);background-size: 100%;}
.elHeader .headerBtn3 span:before{background: url(../../../images/unionSkin/icon_phone.png);background-size: 100%;}
.elHeader .headerBtn4 span:before{background: url(../../../images/unionSkin/icon_book.png);background-size: 100%;}
.elHeader .headerBtn:hover,.elHeader .headerBtn.current{background:linear-gradient(143deg,rgba(40,110,241,1) 0%,rgba(93,141,247,1) 100%)!important;box-shadow:0px 0px 12px 1px rgba(0,87,182,0.44)!important;color: #fff;}
.elHeader .headerBtn:hover span:before,.elHeader .headerBtn.current span:before{background: url(../../../images/unionSkin/home1.png);background-size: 100%;}
.elHeader .headerBtn2:hover span:before,.elHeader .headerBtn2.current span:before{background: url(../../../images/unionSkin/icon_head1.png);background-size: 100%;}
.elHeader .headerBtn3:hover span:before,.elHeader .headerBtn3.current span:before{background: url(../../../images/unionSkin/icon_phone1.png);background-size: 100%;}
.elHeader .headerBtn4:hover span:before,.elHeader .headerBtn4.current span:before{background: url(../../../images/unionSkin/icon_book1.png);background-size: 100%;}

/*头部点击在线状态悬浮*/
.elHeader .el-menu--popup{padding:0;}
/*头部下拉*/
.elDropdown{color: #7E7D7D;}
.elDropdown .el-icon-caret-bottom{color: #0057B6;}
/*左侧*/
.elAside{position: relative;z-index: 6;}
.elAside .iconfont{margin-right: 5px;color: rgb(191, 203, 217)!important;font-size: 22px;}
.elAside .menu .dot{width: 4px;height: 4px;background: none;float: left;position: absolute;left: 30px;top: 12px;border-radius: 50%;border:1px solid #9ea8ff;}
.elAside .el-menu-item:hover .dot,.elAside .el-menu-item.is-active .dot{background: #fff;border:1px solid #fff;}
/*.elAside .el-menu {border-right: solid 1px #334156;}*/
.elAside .el-menu-vertical-demo{
  height: 100%;
}
.elAside .el-aside {
  color: #333;
}
.elAside .el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 240px;
  height: 100%;
}

.elAside .el-submenu .el-menu-item{min-width: 240px;height: 50px;line-height: 50px;padding-left: 40px!important;font-size: 14px;color: #777!important;}
.elAside .el-submenu .el-menu-item:before{content: "";width: 20px;height:20px;display: inline-block;float: left;margin-top: 15px;margin-right: 18px;background: url(../../../images/unionSkin/icon_menu1_1.png);background-size: 100%;}
.elAside .el-submenu .el-menu-item.menu2:before{background: url(../../../images/unionSkin/icon_menu1_2.png);background-size: 100%;}
.elAside .el-submenu .el-menu-item.menu3:before{background: url(../../../images/unionSkin/icon_menu1_3.png);background-size: 100%;}
.elAside .el-submenu .el-menu-item.menu4:before{background: url(../../../images/unionSkin/icon_menu2_1.png);background-size: 100%;}
.elAside .el-submenu .el-menu-item.menu5:before{background: url(../../../images/unionSkin/icon_menu2_2.png);background-size: 100%;}
.elAside .el-submenu .el-menu-item.menu6:before{background: url(../../../images/unionSkin/icon_menu2_3.png);background-size: 100%;}
.elAside .el-submenu .el-menu-item:hover,.elAside .el-menu-item.is-active{color: #0057B6!important;background: linear-gradient(90deg,rgba(117,182,253,1) 0%,rgba(156,203,255,0) 100%)!important;}
.elAside .el-submenu .el-menu-item:hover:after,.elAside .el-menu-item.is-active:after{content: "";width: 5px;height: 100%;background:#0057B6;position:absolute; left:0;top: 0;}
.elAside .el-submenu .el-menu-item:hover:before,.elAside .el-menu-item.is-active:before{background: url(../../../images/unionSkin/icon_menu1_1c.png);background-size: 100%;}
.elAside .el-submenu .el-menu-item.menu2:hover:before,.elAside .el-menu-item.is-active.menu2:before{background: url(../../../images/unionSkin/icon_menu1_2c.png);background-size: 100%;}
.elAside .el-submenu .el-menu-item.menu3:hover:before,.elAside .el-menu-item.is-active.menu3:before{background: url(../../../images/unionSkin/icon_menu1_3c.png);background-size: 100%;}
.elAside .el-submenu .el-menu-item.menu4:hover:before,.elAside .el-menu-item.is-active.menu4:before{background: url(../../../images/unionSkin/icon_menu2_1c.png);background-size: 100%;}
.elAside .el-submenu .el-menu-item.menu5:hover:before,.elAside .el-menu-item.is-active.menu5:before{background: url(../../../images/unionSkin/icon_menu2_2c.png);background-size: 100%;}
.elAside .el-submenu .el-menu-item.menu6:hover:before,.elAside .el-menu-item.is-active.menu6:before{background: url(../../../images/unionSkin/icon_menu2_3c.png);background-size: 100%;}

.elAside .el-submenu .el-menu-item img{width: 20px;display: inline-block;float: left;margin-top: 15px;margin-right: 18px;}
.elAside .el-submenu__title{background:#fff!important;font-size: 14px;height: 45px;line-height: 45px;padding:0 40px 0 40px!important;}
.elAside .el-submenu__title img{width: 20px;display: inline-block;float: left;margin-top: 15px;margin-right: 18px;}
.elAside .el-submenu__title .fa{font-size: 16px;top: 23px;color: #A0B5EA}
.elAside .el-submenu__title:before{content: "";width: 20px;height:20px;display: inline-block;float: left;margin-top: 15px;margin-right: 18px;background: url(../../../images/unionSkin/icon_menu1.png);background-size: 100%;}
.elAside .title .el-submenu__title:before{background: url(../../../images/unionSkin/icon_menu2.png);background-size: 100%;}
.elAside .el-submenu__title:hover{background: linear-gradient(90deg,rgba(117,182,253,1) 0%,rgba(156,203,255,0) 100%)!important;color: #0057B6!important;}
.elAside .el-submenu__title:hover:before{content: "";width: 20px;height:20px;display: inline-block;float: left;margin-top: 15px;margin-right: 18px;background: url(../../../images/unionSkin/icon_menu1c.png);background-size: 100%;}
.elAside .title .el-submenu__title:hover:before{background: url(../../../images/unionSkin/icon_menu2c.png);background-size: 100%;}
.elAside .el-submenu__title:hover:after,.elAside .title .el-submenu__title:hover:after{content: "";width: 5px;height: 100%;background:#0057B6;position:absolute; left:0;top: 0;}

.elAside .el-submenu__title i{color: #0057B6;}
.elAside .el-submenu__icon-arrow{font-size: 15px;right: 59px;}
/*.elAside .el-menu-item-group,.el-menu-item{background-color: #fff!important;padding-left: 40px!important;}*/
.elAside .el-menu-item-group .fa,.el-menu-item .fa{color: #A0B5EA!important;position: absolute;left:10px!important;top: 24px;font-size: 14px;}
.elAside .fa{position: absolute;left: 15px;top: 21px;color: #93aed3;}
.elAside .el-menu{border-right: none;}
/*左侧悬浮菜单*/
.el-menu--vertical{top: 60px;max-height: 500px;overflow-y: auto;background: #fff!important;}
.el-menu--vertical .el-menu--popup-right-start{margin-left:0;margin-right:0;}
.el-menu--vertical .el-menu--popup{padding:0;}
/*右侧内容区*/
.elMain{padding:0; }
/*呼叫中心*/
.callCenterDialog .el-dialog__header:before{width: 115px;height: 77px;background: url(../../../images/img_callcenter.png) no-repeat;right: 125px;background-size: cover;}
.callCenterDialog1 .el-dialog__header:before{width: 102px;height: 59px;background: url(../../../images/img_zdwh.png) no-repeat;right: 125px;background-size: 100%;}
.callCenterDialog .el-dialog__body{padding-bottom: 0;}
.callCenterDialog .el-dialog__footer{padding-bottom: 40px;}
/*主动外呼*/
.callCenterDialog1 .callCenterBtn{width: 31px;height: 31px;background: #5c6be8;padding: 0;border-radius: 50%;}
.callCenterDialog1 .callCenterBtn:hover{opacity: 0.8}
.callCenterDialog1 .callCenterBtn img{width: 17px;height: 17px;margin:0 auto;}
/*通话时长*/
.outboundCallTimeDiv{padding-left: 180px;}
.outboundCallTimeDiv img{margin:2px 10px 0 0;float: left;}
/*退出弹窗*/
.logoutDialog {top: 50%;margin-top: -110px;}
.logoutDialog .el-dialog{margin: 21px auto 0!important;}
.logoutDialog .el-dialog__body{padding: 20px 20px 20px;}
.logoutDialog .el-dialog__footer{padding: 0 20px 20px;}
/*餐盟首次登陆提示*/
.unionTipdialog .el-dialog{border-radius: 0;background: none;box-shadow: none;}
.unionTipdialog .el-dialog__header:before,.unionTipdialog .el-dialog__title:before{display: none;}
.unionTipdialog .el-dialog__header{background: none;padding: 0;height: 0;}
.unionTipdialog .el-dialog__body{padding:0;}
.unionTipdialog .el-dialog__headerbtn {position: absolute;top: auto;right: 50%;padding: 0;background: 0 0;border: none;outline: 0;cursor: pointer;/* font-size: 16px; */bottom: -750px;margin-right: -15px;display: none;}
.unionTipdialog .el-dialog__headerbtn .el-dialog__close{width: 60px;height: 60px;background: url(../../../images/unionSkin/tip_close_btn.png);}
.unionTipdialog .el-dialog__headerbtn .el-icon-close:before{display: none;}
