<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="_header_include::frag(~{::title},~{::link},~{})">
    <title>后台管理系统</title>
    <link rel="stylesheet" th:href="@{/css/custom/login/login.css}">
</head>
<body>
    <div id="Loading">
        <div class="loader-inner ball-beat">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div id="loginbox" class="loginbox">
            <div class="control-group normal_text">
                <img src="images/loginLogo.png" alt="Logo">
            </div>
            <el-form :model="loginForm" :rules="rules" ref="loginForm" class="demo-loginForm" >
                <el-row>
                    <el-form-item  prop="nameInput">
                        <el-input v-model="loginForm.nameInput" placeholder="用户名"></el-input>
                    </el-form-item>
                </el-row>
                <el-row>
                    <el-form-item  prop="pswInput">
                        <el-input v-model="loginForm.pswInput" placeholder="密码"></el-input>
                    </el-form-item>
                </el-row>
                <el-row>
                    <el-col :span="14">
                        <el-form-item  prop="codeInput">
                            <el-input v-model="loginForm.codeInput" placeholder="输入验证码"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="10">
                    	<el-button type="primary" class="codeBtn" style="float: right;    padding: 12px 5px;" @click="sendCode('loginForm','2');">获取语音验证码</el-button>
                    </el-col>
                </el-row>
                <div id="codeTipDiv" class="codeTip">
                    未收到验证码，使用<span class="link"><a id="msgHref" type="submit" @click="sendCode('loginForm','1');">短信验证码</a></span>                    
               		<a type="submit"  @click="toResetPwd();" class="pswForgetBtn">忘记密码</a>
                </div>  
                <!-- //登录后是否显示修改密码  2-不显示 1-显示 -->
                <input type="hidden" id="isUpdatePassword" name="isUpdatePassword" value="2">

                <div class="control-group">
                    <!-- 提示语 -->
                    <div class="tipCntBox"><span id="errorSpan"  style="display: none;"></span></div>
                    <el-form-item>
                        <el-button type="primary" class="loginBtn" @click="submitForm('loginForm')">登&nbsp;&nbsp;录</el-button>
                    <el-form-item>
                </div>
                <!-- 图形验证码弹窗 移除hideBox则显示-->
                <div id="passwordForgetBoxDiv" class="passwordForgetBox f-dn">
                    <div class="closeBtn">×</div> 
                    <div class="title">请输入下面的图形验证码</div>
                    <div class="codeImgBox"><img id="codeImg" src="images/code.jpg"></div>
                    <div class="whiteIptBox">
                        <el-input v-model="loginForm.imgcodeInput" placeholder=""></el-input>
                    </div>
                    <div class="tip" id="codeImgMsg" style="display: none">请输入正确的验证码</div>
                    <el-button type="primary" class="blueSubmitBtn" @click="sendCode('loginForm');">提&nbsp;&nbsp;交</el-button>
                </div>
            </el-form>
            <!-- 下线通知 移除hideBox则显示-->   
            <div id="logoutBoxDiv" class="logoutBox f-dn">
                <div class="box">
                    <div class="title">下线通知</div>
                    <div class="cnt">您的账户在另一设备登录，您被迫下线。如不是本人操作，您的密码可能已经泄漏，建议您<a href="">修改密码</a></div>
                    <el-button type="primary" class="blueSubmitBtn floatLeft">重新登录</el-button>
                    <el-button type="primary" class="blueSubmitBtn floatRight">确定</el-button>
                </div>                  
            </div>
        </div>
</body>
<!-- import common js-->
<div th:include="_footer_include :: #jsLib"></div>
<script th:inline="javascript">
var error=[[${error}]];
var disType="";
var vm =  new Vue({
        el: '#loginbox',
        data: {
            loginForm: {
            	nameInput: '',
                pswInput:'',
                codeInput:'',
                imgcodeInput:''
            },
            rules: {
            	nameInput: [
                  { required: true, message: '用户名不能为空', trigger: 'blur' },
                  {  max: 30, message: '最大30个字符', trigger: 'blur' }
                ],
                pswInput: [
                  { required: true, message: '密码不能为空', trigger: 'change' },
                  {  max: 30, message: '最大30个字符', trigger: 'blur' }
                ],
                codeInput: [
                  { required: true, message: '验证码不能为空', trigger: 'change' },
                  {  max: 6, message: '最大6个字符', trigger: 'blur' }
                ],
              },         
        },
        
        methods: {
        	submitForm(formName) {
       	        this.$refs[formName].validate((valid) => {
       	          if (valid) {
    	             var formData = vm.loginForm;
    	             var param={};
    	             param.username= formData.nameInput;
    	             param.password = formData.pswInput;
    	             param.code = formData.codeInput;
    	             console.info(param);
    	             
    	            axios.post("/login/index", param)
    	            .then(function (response) {
    	            	console.info(response);
    	            	var data =response.data;
    	            	if(data.code!="0"){
    	            		$("#errorSpan").text(data.msg);
    	            		$("#errorSpan").show();
    	            	}else{
    	                	vm.$message('登录成功');
    	                	document.location.href='/homePage/index';
    	            	}
    	            })
    	            .catch(function (error) {
    	                 console.log(error);
    	            });
    	             
       	          } else {
       	        	console.log('数据未通过校验！');
       	            return false;
       	          }
       	        });
       	      },
       	   	  sendCode(formName,type) {
       	    	  var valid=true;
	       	  	this.$refs[formName].validateField(["nameInput","pswInput"],(error) => {
	    	      if (error) {
	    	    	  valid=false;
	       	      }
   	            });
	       	 	if (valid) {
	 	            if(type){
	    				disType=type;
	    			}
	    		    var code = $("#imgcodeInput").val();
	    		    var formData = vm.loginForm;
		            var param={};
		            param.username= formData.nameInput;
		            param.password = formData.pswInput;
		            param.type = disType;
		            param.code = formData.imgcodeInput;
		            console.info(param);
		            axios.post("/login/sendmsg", param)
		 	           .then(function (response) {
		 	           		console.info(response);
		 	            	var data =response.data;
		 	            	var msg="";
	 	            		if(data.code=="21604"){
	    						$("#passwordForgetBoxDiv").removeClass("f-dn");
	    						document.getElementById("codeImg").src = "/login/getCaptcha?"+Math.random();
	    						$("#code").val("");
	    					}else if(data.code=="21601"||data.code=="21602"){
	    						$("#passwordForgetBoxDiv").removeClass("f-dn");
	    						document.getElementById("codeImg").src = "/login/getCaptcha?"+Math.random();
	    						$("#codeImgMsg").show();
	    						$("#code").val("");
	    					}else if(data.code=="0"){
		 	            		if(disType=="1"){
		 	            			msg="发送短信验证成功";
		 	            		}else{
		 	            			msg="请注意接听语音来电获取验证码！";
		 	            		}
	    						$("#passwordForgetBoxDiv").addClass("f-dn");
	    						$("#codeImgMsg").hide();
	    						$("#code").val("");
		 	            	}else {
	    						$("#passwordForgetBoxDiv").addClass("f-dn");
	    						$("#codeImgMsg").hide();
	    						$("#code").val("");
	    						msg=data.msg;
	    					}
	 	            		$("#errorSpan").text(msg);
	 	            		$("#errorSpan").show();
		 	            })
		 	            .catch(function (error) {
		 	                 console.log(error);
		 	            });
	       	     }else {
	   	        	console.log('数据未通过校验！');
	   	            return false;
	   	          }
       	      },
       	   	  toResetPwd() {
       	    	document.location.href='/login/resetPwd';
       	      }
        },
        created() {  
            document.body.removeChild(document.getElementById('Loading'));
            
        }
    })
</script>
</html>