<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="css/element-ui.css">  
    <link rel="stylesheet" href="css/iconfont/iconfont.css">  
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div id="Loading">
        <div class="loader-inner ball-beat">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div id="loginbox" class="loginbox">
        <div class="reform">
            <div class="control-group normal_text">忘记密码</div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box whiteBg">
                        <el-row>
                            <el-col :span="4">
                                <span class="ico"><img src="images/loginIco01.jpg" alt=""></span>
                            </el-col>
                            <el-col :span="20">
                                <el-input v-model="pswInput" placeholder="输入已注册手机号"></el-input>
                            </el-col>
                        </el-row>
                    </div>
                </div>
            </div>
            <div class="control-group">                
                <div class="controls">
                    <div class="main_input_box">
                        <div class="codeIptBox">
                            <el-row>
                                <el-col :span="7">
                                    <span class="ico"><img src="images/loginIco03.jpg" alt=""></span>
                                </el-col>
                                <el-col :span="17">
                                    <el-input v-model="codeInput" placeholder="输入验证码"></el-input>
                                </el-col>
                            </el-row>
                        </div>
                        <el-button type="primary" class="codeBtn">获取语音验证码</el-button>
                    </div>                  
                </div>
            </div>          
            <div class="control-group">
                <div class="codeTip">
                    未收到验证码，使用<span class="link"><a id="msgHref" type="submit" href="javascript:settime(1);">短信验证码</a><a></a></span><a>
                </a></div><a>               
            </a></div><a>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box whiteBg">
                        <el-row>
                            <el-col :span="4">
                                <span class="ico"><img src="images/loginIco02.jpg" alt=""></span>
                            </el-col>
                            <el-col :span="20">
                                <el-input v-model="pswInput" placeholder="新密码（8-20位，数字和字母组合）"></el-input>
                            </el-col>
                        </el-row>
                    </div>
                </div>
            </div>      
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box whiteBg">
                        <el-row>
                            <el-col :span="4">
                                <span class="ico"><img src="images/loginIco02.jpg" alt=""></span>
                            </el-col>
                            <el-col :span="20">
                                <el-input v-model="pswInput" placeholder="确认新密码"></el-input>
                            </el-col>
                        </el-row>
                    </div>
                </div>
            </div>
            </a>
            <div class="control-group">
                <!-- 提示语 -->
                <div class="tipBox">
                    <div class="tipCntBox" id="errorSpan"></div>
                </div>              
                <!-- 提示语结束 -->
                <div class="loginBtnBox">
                    <el-button type="primary" class="loginBtn">提&nbsp;&nbsp;交</el-button>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- import Vue before Element -->
<script src="js/vue.js"></script>
<script src="js/vue-router.js"></script>
<script src="js/element-ui.js"></script>
<script src="js/jquery-3.2.1.min.js"></script>
<script>
    new Vue({
        el: '#loginbox',
        data: function() {
            return {
                pswInput:'',
                codeInput:''
            }             
        },
        methods: {
            
        },
        created() {  
            document.body.removeChild(document.getElementById('Loading'))   
        }
    })
</script>
</html>