<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="css/element-ui.css">  
    <link rel="stylesheet" href="css/iconfont/iconfont.css">  
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div class="loginbox">
        <div class="reform">
            <div class="control-group normal_text">忘记密码</div>
            <input type="hidden" id="username" name="username" value="yanxing">
            <div class="control-group" id="smsCheckCodeDiv">
                <div class="bindTelBox" id="bindTelSpan">已绑定的手机号：151****1601</div>
                <div class="controls">
                    <div class="main_input_box">
                        <div class="codeIptBox">
                            <span class="ico"><img src="images/loginIco03.jpg" alt=""></span>
                            <input type="text" placeholder="输入验证码" id="smsCheckCode" name="smsCheckCode" value="" required="">
                        </div>
                        <input class="codeBtn" type="button" id="btn" value="获取语音验证码" onclick="settime(2)">
                    </div>                  
                </div>
            </div>          
            <div class="control-group">
                <div class="codeTip">
                    未收到验证码，使用<span class="link"><a id="msgHref" type="submit" href="javascript:settime(1);">短信验证码</a><a></a></span><a>
                </a></div><a>               
            </a></div><a>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box whiteBg">
                        <span class="ico"><img src="images/loginIco02.jpg" alt=""></span>
                        <input type="password" placeholder="新密码（8-20位，数字和字母组合）" id="crmpwd" name="crmpwd" value="" required="">
                    </div>
                </div>
            </div>      
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box whiteBg">
                        <span class="ico"><img src="images/loginIco02.jpg" alt=""></span>
                        <input type="password" placeholder="确认新密码" id="crmrepwd" value="" required="">
                    </div>
                </div>
            </div>
            </a><div class="control-group"><a>
                <!-- 提示语 -->
                <div class="tipBox">
                    <div class="tipCntBox" id="errorSpan"></div>
                </div>              
                <!-- 提示语结束 -->
                </a><div class="loginBtnBox"><a></a><a type="submit" href="javascript:resetpwd(username.value,smsCheckCode.value,crmpwd.value,crmrepwd.value)" class="loginBtn">提&nbsp;&nbsp;交</a></div>                
                <!--<span class="pull-left" style="width: 33%"><a href="#"
                    class="flip-link btn btn-info" id="to-recover">忘记密码？</a></span> -->
                    <!-- <span class="pull-left" style="width: 33%"><a href="install.shtml"
                    class="flip-link btn btn-danger" id="to-recover">一键初始化系统</a></span> -->
            </div>
        </div>
    </div>
</body>
<!-- import Vue before Element -->
<script src="js/vue.js"></script>
<script src="js/vue-router.js"></script>
<script src="js/element-ui.js"></script>
<script src="js/jquery-3.2.1.min.js"></script>
</html>