<!DOCTYPE html>
<html>
<head th:replace="_header_include::frag(~{::title},~{::style},~{})">
	<title>后台管理系统</title>
    <meta charset="UTF-8">
    <style>
        .dayTimeEnd .el-form-item__label:before{display: none;}
        .days .el-form-item__error{padding-left: 165px;}
        .timeToLine{display: block;float: left;margin-right: 2px;height: 34px;line-height: 34px;}
        .el-form-item{margin-bottom: 15px;}
    </style>
</head>
<body>
<div id="addOptimizeRule" class="addOptimizeRule mainPadding" style="display: none;">  
    <el-breadcrumb separator="/" class="elBreadcrumb marginB20">
        <el-breadcrumb-item>Home</el-breadcrumb-item>
        <el-breadcrumb-item>资源管理</el-breadcrumb-item>
        <el-breadcrumb-item>顾问得分规则明细</el-breadcrumb-item>
    </el-breadcrumb>
    <div class="inforTitle">顾问得分规则明细</div> 
    <el-form :model="form" ref="form">
        <div class="borderbox padding20">
            <el-row>
                <el-col :span="12">
                    <el-form-item label="规则名称：" prop="ruleName" :label-width="formLabelWidth">
                        <span></span>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="业务线：" prop="industryCategory" :label-width="formLabelWidth">
                        <span></span>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>                
                <el-col :span="12">
                    <el-form-item label="规则有效开始时间：" prop="startTime" :label-width="formLabelWidth">
                        <span></span>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="规则有效结束时间：" prop="endTime" :label-width="formLabelWidth">
                        <span></span>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-table :data="form.teleRuleTeamList" style="width: 100%;margin-bottom: 20px" border>
                <el-table-column type="index" align="center" prop="rank" label="序号" width="55"></el-table-column>
                <el-table-column align="center" prop="orgId" label="指标名称">
                    
                </el-table-column>
                <el-table-column align="center" prop="resourceMaxNum" label="指标范围" width="160">
                    
                </el-table-column>
                <el-table-column align="center" prop="isPrior" label="得分" width="130">
                    
                </el-table-column>
                <el-table-column align="center" label="指标值时间范围">
                    
                </el-table-column>
        </div>        
    </el-form>  
</div>
</body>
<!-- import Vue before Element -->
<div th:include="_footer_include :: #jsLib"></div>
<script th:inline="javascript">
var noSingProjectList =[[${noSingProjectList}]];
var clueCategoryList=[[${clueCategoryList}]];//资源类别集合
var industryCategoryList=[[${industryCategoryList}]];//行业类别集合
var mediumList=[[${mediumList}]];//媒介集合
var trafficList=[[${trafficList}]];//话务组集合
var businessLineList=[[${businessLineList}]];//业务线集合
    var aorVM = new Vue({
        el: '#addOptimizeRule',
        data: function() {
            return {                
                form: {
                    ruleName:'',
                    startTime:'',
                    endTime:'',
                    industryCategory:[],
                    source:[],
                    category:[],
                    searchWord:'',
                    notSearchWord:'',
                    province:'',
                    notProvince:'',
                    status:1,
                    teleRuleTeamList: [
                        // {
                        //      orgId:'',
                        //      proportion:'',
                        //      resourceMaxNum:'',
                        //      isPrior:'',
                        //      unlimited:'',//不限文字
                        //      unlimitedVal:'',//不限-1取值
                        //      unlimitedShow:false,//是否显示不限input
                        // }
                    ],
            		trafficRuleTeamList: [
                        // {
                        //      orgId:'',
                        //      proportion:'',
                        //      resourceMaxNum:'',
                        //      isPrior:'',
                        //      unlimited:'',//不限文字
                        //      unlimitedVal:'',//不限-1取值
                        //      unlimitedShow:false,//是否显示不限input
                        // }
                    ],                                      
                    radio:"0",//默认选每天
                    days:[],
                    dayTimeStart:"00:00:00",
                    dayTimeEnd:"23:59:59",
                },
                weeksOptions:[{
                    value: "2",
                    name: '星期一'
                },{
                    value: "3",
                    name: '星期二'
                },{
                    value: "4",
                    name: '星期三'
                },{
                    value: "5",
                    name: '星期四'
                },{
                    value: "6",
                    name: '星期五'
                },{
                    value: "7",
                    name: '星期六'
                },{
                    value: "1",
                    name: '星期日'
                }],
                showDays:false,//默认不显示星期  
                formLabelWidth: '180px',
                rules:{
                    ruleName: [
                        { required: true, message: '请输入规则名称', trigger: 'blur' }
                    ],
                    startTime: [
                        { required: true, message: '请选择规则有效开始时间', trigger: 'blur' }
                    ],
                    endTime: [
                        { required: true, message: '请选择规则有效结束时间', trigger: 'blur' }
                    ],
                    industryCategory: [
                        {  required: true, message: '请至少选择一个行业类别', trigger: 'change' }
                    ],
                    source: [
                        { required: true, message: '请至少选择一个媒介', trigger: 'change' }
                    ],
                    category: [
                        { required: true, message: '请至少选择一个资源类别', trigger: 'change' }
                    ],
                    status: [
                        { required: true, required: true, message: '请选择是否启用', trigger: 'change' }
                    ],                    
                    chooseTeam: [
                                 { validator:function(rule,value,callback){
                                     if(aorVM.form.teleRuleTeamList.length==0&&aorVM.form.trafficRuleTeamList.length==0){
                                         callback(new Error("请添加电销组或话务组"));
                                         return;
                                     }
                                     callback();
                                 }, trigger: 'change'}
                             ],                    
                    orgId: [
                        { required: true, required: true, message: '请选择电销组', trigger: 'change' }
                    ],
                    businessLine: [
                                   { required: true, required: true, message: '请选择业务线', trigger: 'change' }
                               ],
                    proportion: [
                        { required: true, required: true, message: '请输入比例', trigger: 'change'},
                        { validator:function(rule,value,callback){               
                            if(/^[0-9]*$/.test(value) == false){
                               callback(new Error("请输入整数数字"));
                            }else{
                               callback();
                            } 
                            callback();
                        }, trigger: 'change'}
                    ],
                    resourceMaxNum: [
                        { required: true, required: true, message: '请添加资源条数', trigger: 'change' },
                        { validator:function(rule,value,callback){               
                            if(/^[0-9]*$/.test(value) == false){
                               callback(new Error("请输入整数数字"));
                            }else{
                               callback();
                            } 
                            callback();
                        }, trigger: 'change'}
                    ],
                    days: [
                        { validator:function(rule,value,callback){
                            if(aorVM.form.radio!=="0"&&aorVM.form.days.length==0){
                               callback(new Error("请选择星期"));
                            }else{
                               callback();
                            } 
                        }, trigger: 'change'}
                    ],
                    dayTimeStart: [
                        { required: true, message: '请选择有效日内时间范围', trigger: 'blur' }
                    ],
                    dayTimeEnd: [
                        { required: true, message: '请选择有效日内时间范围', trigger: 'blur' }
                    ],
                },
                noSingProjectList:noSingProjectList,
                submitDisabled:false,
                trafficOptions:trafficList,
                businessLineOptions:businessLineList,
                sourceOptions:mediumList,
                categoryOptions:clueCategoryList,
                industryOptions:industryCategoryList ,
                statusOptions: [{
                    value: 1,
                    name: '启用'
                }, {
                    value: 0,
                    name: '禁用'
                }],
                priorOptions: [{
                    value: 1,
                    name: '优先'
                }, {
                    value: 0,
                    name: '非优先'
                }],
                tags1: [],//包含搜索词
                tags2: [],//不包含搜索词
                tags3: [],//包含省
                tags4: [],//不包含省
            }        	  
        },
        methods: {
            changeSource(val){
                console.log(val)
            },
            changeDays(val){
                console.log(val)
                if(val=="0"){
                    this.showDays=false;
                }else{
                    this.showDays=true;
                }
            },
            unlimitedBtn(index, rows){                
                rows[index].unlimitedShow=true; 
                rows[index].unlimited="不限";
                rows[index].unlimitedVal="-1"; 
                rows[index].resourceMaxNum="0"; //为了不让校验而赋的无用的值  
                console.log(rows[index].unlimited);
                console.log(rows[index].unlimitedVal);                            
                console.log(rows[index].resourceMaxNum);                          
            },
            unlimitedIpt(index, rows){//点击不限input
                rows[index].unlimitedShow=false 
                rows[index].unlimited="";
                rows[index].unlimitedVal="";
                rows[index].resourceMaxNum="";                    
                console.log(rows[index].unlimited);
                console.log(rows[index].unlimitedVal);                            
                console.log(rows[index].resourceMaxNum);
            },
            submitForm(form) {
                this.$refs[form].validate((valid) => {
                    // 开始时间不能大于结束时间
                    var startTime=this.form.startTime;
                    var endTime=this.form.endTime;
                    if(endTime && startTime>endTime){
                        this.$message({
                            message: '结束时间不允许选择早于开始时间',
                            type: 'warning'
                        });
                        return;
                    }
                    // 开始时间不能大于结束时间
                    var dayTimeStart=this.form.dayTimeStart;
                    var dayTimeEnd=this.form.dayTimeEnd;
                    if(dayTimeEnd && dayTimeStart>dayTimeEnd){
                        this.$message({
                            message: '开始时间不能大于结束时间',
                            type: 'warning'
                        });
                        return;
                    }
                    if (valid) {
                    	var form = JSON.parse(JSON.stringify(this.form)); 
                        
                        // 不能选择重复电销组
                        var orgIdChoose=form.teleRuleTeamList; 
                        var ary=[];                   
                        for(var i=0;i<orgIdChoose.length;i++){
                        	var split=orgIdChoose[i].orgId.split(",");
                        	orgIdChoose[i].orgId=split[0];
                        	orgIdChoose[i].orgType=split[1];
                            ary.push(orgIdChoose[i].orgId);//把选择的值放入一个数组
                            var s = ary.join(",")+","; 
                            for(var j=0;j<ary.length;j++) {
                                if(ary[j]!=""){
                                    if(s.replace(ary[j]+",","").indexOf(ary[j]+",")>-1) {
                                        this.$message({
                                            message: '请不要选择相同的电销组',
                                            type: 'warning'
                                        });
                                        return;
                                    }
                                }                                
                            }
                        }
                        // 不能选择重复话务组
                        orgIdChoose=form.trafficRuleTeamList; 
                        var ary=[];
                        for(var i=0;i<orgIdChoose.length;i++){
                        	var split=orgIdChoose[i].orgId.split(",");
                        	orgIdChoose[i].orgId=split[0];
                        	orgIdChoose[i].orgType=split[1];
                            ary.push(orgIdChoose[i].orgId);//把选择的值放入一个数组
                            var s = ary.join(",")+","; 
                            for(var j=0;j<ary.length;j++) {
                                if(ary[j]!=""){
                                    if(s.replace(ary[j]+",","").indexOf(ary[j]+",")>-1) {
                                        this.$message({
                                            message: '请不要选择相同的话务组',
                                            type: 'warning'
                                        });
                                        return;
                                    }
                                }                                
                            }
                        }
                        var param=form;
                        param.ruleName=form.ruleName;
                        param.startTime=form.startTime;
                        param.endTime=form.endTime;
                        if(form.radio=="0"){
                            param.days="0"
                        }else{
                            param.days=this.form.days.join(',');
                        }
                        param.dayTimeStart=form.dayTimeStart;
                        param.dayTimeEnd=form.dayTimeEnd;
                        param.status=form.status;
                        param.teleList=form.teleRuleTeamList;
                        param.trafficList=form.trafficRuleTeamList;
                        param.source=form.source.join(',');
                        param.industryCategory=form.industryCategory.join(',');
                        param.category=this.form.category.join(',');
                        param.searchWord=this.tags1.join(',');
                        param.notSearchWord=this.tags2.join(',');
                        param.province=this.tags3.join(',');
                        param.notProvince=this.tags4.join(',');                        
                        aorVM.submitDisabled=true;
                        axios.post('/clueAssignRule/optRule/save', param)
	       	            .then(function (response) {
                               console.info(response);
	       	            	var data =response.data;
	       	            	if(data.code!="0"){
                                aorVM.$message(data.msg);
                                aorVM.submitDisabled=false;
	       	            	}else{
	       	            		aorVM.$message({message:'提交成功',type:'success',duration:1000,onClose:function(){
                                    aorVM.submitDisabled=false;
		       	                	document.location.href='/clueAssignRule/optRule/initRuleList';
	                      	    }});
	       	            	}
	       	            })
	       	            .catch(function (error) {
	       	            	aorVM.submitDisabled=false;
                            console.log(error);
	       	            });
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            deleteRow(index, rows) {//删除一行表格
                rows.splice(index, 1);
            },
            addFun1() {//添加包含搜索词
                let searchWord = this.form.searchWord;
                if (searchWord) {
                    this.tags1.push(searchWord);
                }
                this.form.searchWord = '';
            },
            deleteFun1(tag) {//删除包含搜索词
                this.tags1.splice(this.tags1.indexOf(tag), 1);
            },
            addFun2() {//添加不包含搜索词
                let notSearchWord = this.form.notSearchWord;
                if (notSearchWord) {
                    this.tags2.push(notSearchWord);
                }
                this.form.notSearchWord = '';
            },
            deleteFun2(tag) {//删除不包含搜索词
                this.tags2.splice(this.tags2.indexOf(tag), 1);
            },
            addFun3() {//添加包含省
                let province = this.form.province;
                if (province) {
                    this.tags3.push(province);
                }
                this.form.province = '';
            },
            deleteFun3(tag) {//删除包含省
                this.tags3.splice(this.tags3.indexOf(tag), 1);
            },
            addFun4() {//添加不包含省
                let notProvince = this.form.notProvince;
                if (notProvince) {
                    this.tags4.push(notProvince);
                }
                this.form.notProvince = '';
            },
            deleteFun4(tag) {//删除不包含省
                this.tags4.splice(this.tags4.indexOf(tag), 1);
            },
            addDomain() {
                console.log(businessLineList)
                // 取第一条
                var first=null;
                for(var i=0;i<businessLineList.length;i++){
                    first=businessLineList[0].businessLine;
                }
                var param ={};
            	  param.systemCode = "HUIJU";
            	  param.orgType = 1;
            	  param.businessLine = first;
                  console.info(param);
                  axios.post('/organization/organization/queryOrgByBusinessline', param)
                  .then(function (response) {
                        var result =  response.data;
                        console.info(result);
                        var table=result.data;
                        aorVM.form.teleRuleTeamList.push({
                            orgId: '',
                            businessLine: first,//业务线取第一条                 
                            teleOptions:table,                    
                            orgType: '',                    
                            proportion:'',
                            resourceMaxNum:'',
                            isPrior: 0,//默认非优先
                            orgDayTimeStart:'00:00:00',//新增时间段
                            orgDayTimeEnd:'23:59:59',//新增时间段
                            unlimited:'',//不限层
                            unlimitedVal:'',//不限层取值
                            unlimitedShow:false,//默认不显示
                        });
                  })
                  .catch(function (error) {
                       console.log(error);
                  });
                
            },
            addDomainTraffic() {
                console.log(trafficList)
                // 取第一条
                var first="";
                for(var i=0;i<trafficList.length;i++){
                    first=trafficList[0].id+","+trafficList[0].orgType;
                }
                this.form.trafficRuleTeamList.push({
                    orgId: first,                    
                    orgType: '',                    
                    proportion:'',
                    resourceMaxNum:'',
                    isPrior: 0,//默认非优先
                    unlimited:'',//不限层
                    unlimitedVal:'',//不限层取值
                    unlimitedShow:false,//默认不显示
                });
            },
            resourceMaxNumber(index, rows){
                for(var i=0;i<rows.length;i++){                    
        　　      	  			rows[i].proportion=rows[i].proportion.replace(/[^\.\d]/g,'');
                    rows[i].proportion=rows[i].proportion.replace('.','');                    
                }
        　　		},
            resourceMaxNumber1(index, rows){
                for(var i=0;i<rows.length;i++){                    
        　　        				rows[i].resourceMaxNum=rows[i].resourceMaxNum.replace(/[^\.\d]/g,'');
                    rows[i].resourceMaxNum=rows[i].resourceMaxNum.replace('.','');                    
                }
        　　		}, 
        　　		cancelForm(){
            	document.location.href='/clueAssignRule/optRule/initRuleList';
            },
          //根据电销组查询电销总监
            getTeleGroupList(index,rows) {
              rows[index].orgId= '';
          	  var param ={};
          	  param.systemCode = "HUIJU";
          	  param.orgType = 1;
          	  param.businessLine = rows[index].businessLine;
                console.info(param);
                axios.post('/organization/organization/queryOrgByBusinessline', param)
                .then(function (response) {
                      var result =  response.data;
                      console.info(result);
                      var table=result.data;
                      rows[index].teleOptions= table;
                })
                .catch(function (error) {
                     console.log(error);
                });
            },
        },
        mounted(){
            document.getElementById('addOptimizeRule').style.display = 'block';
        }
    })
</script>
</html>