<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="_header_include::frag(~{::title},~{::style},~{})">
    <title>后台管理系统</title>
    <style>
    .el-input-number.is-controls-right .el-input-number__decrease, .el-input-number.is-controls-right .el-input-number__increase{    line-height: 14px;}
    .el-input-number__decrease, .el-input-number__increase{top:4px;}
    .distpicker .form-group{width: 157px;}
    .distpicker{width:350px;}
    </style>
</head>
<body>
<div id="maindiv" class="maindiv mainPadding" style="display: none;">    
    <el-breadcrumb separator="/" class="elBreadcrumb marginB20">
        <el-breadcrumb-item>Home</el-breadcrumb-item>
        <el-breadcrumb-item>业务设置</el-breadcrumb-item>
        <el-breadcrumb-item>顾问状态得分设置</el-breadcrumb-item>
    </el-breadcrumb>  
    <el-row class="marginB20">
        <!-- <shiro:hasPermission name="sys:scheduleManager:add"> -->
            <el-button type="primary" @click="toSetTime">添加资源范围得分</el-button>
        <!-- </shiro:hasPermission> -->
        <el-button type="primary" @click="toSetTime">编辑</el-button>
        <el-button type="primary" @click="toSetTime">删除</el-button>
    </el-row>
    <div class="mainSearchBg">        
        <div class="mainSearchFormBox">
           <el-form :inline="true" :model="form" class="demo-form-inline mainSearchForm" ref="form">
                <el-form-item label="业务线:">  
                    <el-select v-model="form.teleSaleId" placeholder="选择业务线" style="width: 100%;" clearable filterable>
                        <el-option
                            v-for="item in teleSaleArr"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>  
                <el-form-item label="状态等级:">  
                    <el-select v-model="form.projectIds" placeholder="选择状态等级" style="width: 100%;" clearable filterable>
                        <el-option
                            v-for="item in projectOptions"
                            :key="item.id"
                            :label="item.projectName"
                            :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="" label-width="0">
                    <el-button icon="el-icon-search" type="primary" @click="searchTable" class="searchBtn" style="margin-left: 15px;">搜索</el-button>
                </el-form-item>  
            </el-form>
        </div>
        <el-row>
            <el-table 
                ref="tableData"
                tooltip-effect="dark"
                style="width: 100%"
                border
                :data="tableData"
                v-loading="loading"
                @selection-change="handleSelectionChange">
                <el-table-column type="selection" width="55" prop="id" align="center"> </el-table-column>
                <el-table-column type="index" label="序号" align="center" width="55"></el-table-column>                
                <el-table-column prop="teleSaleName" align="center" label="业务线">
                </el-table-column>                
                <el-table-column prop="projectNames" align="center" label="状态等级">
                </el-table-column>
                <el-table-column prop="districts" align="center" label="得分">
                </el-table-column>
            </el-table>
            <table-pagination :pager="pager" @change="searchTable"></table-pagination>
        </el-row>
    </div>
    <!-- 设置顾问偏好弹窗 -->
    <el-dialog title="设置顾问偏好" :visible.sync="cardVisible" width="600px" @close="cardCancel">
        <template>
            <el-form :inline="true" :model="cardForm" ref="cardForm" :rules="cardFormRules">
                <el-form-item label="业务线：" prop="projectIds" :label-width="formLabelWidth" style="width: 100%;">
                    <el-select v-model="cardForm.projectIds" :reserve-keyword=true multiple clearable filterable placeholder="请选择" style="width: 333px;">
                        <el-option
                            v-for="item in projectOptions"
                            :key="item.id"
                            :label="item.projectName"
                            :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="状态等级：" prop="projectCategory" :label-width="formLabelWidth" style="width: 100%;">
                    <el-select v-model="cardForm.projectCategory" :reserve-keyword=true placeholder="请选择顾问状态等级" filterable multiple  style="width: 333px;">
                        <el-option
                            v-for="item in projectCategoryArr"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item> 
                <el-form-item label="得分：" :label-width="formLabelWidth" style="position: relative;width: 100%;">
                    <span style="color: red;position: absolute;left: -75px;top: 0;">*</span>                    
                    <span>{{cardTeleSale?cardTeleSale:""}}</span>
                </el-form-item> 
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" @click="cardSubmit('cardForm')">提 交</el-button>
                <el-button  @click="cardCancel">取 消</el-button>
            </div>
        </template>
    </el-dialog>
</div>

<!-- import common js-->
<div th:include="_footer_include :: #jsLib"></div>
</body>
<script th:inline="javascript">
    var queryOrg=[[${dxzList}]]; // 电销组
    var projectList=[[${projectList}]];//项目集合
    var projectCategory=[[${projectCategory}]];//项目品类集合
    var mediumList=[[${mediumList}]];//媒介集合
    console.log(projectCategory)

    var mainDivVM = new Vue({
        el: '#maindiv',
        data: function() {
            return {                
                formLabelWidth: '100px',
                projectOptions:projectList ,//项目
                projectCategoryArr:projectCategory,//品类
                sourceOptions:mediumList ,//媒介
                loading: false,
                isDisabled: false,
                pager:{ 
                    total: 0,
                    currentPage: 1,
                    pageSize: 20
                },
                form: {
                    teleGroupId:'',
                    teleSaleId:'',
                    projectIds:'',
                    startTime:'',
                    endTime:'',
                },
                tableData: [],
                orgTeleArr: queryOrg, // 电销组
                teleSaleArr: [], // 顾问
                projectList:projectList,
                cardVisible:false,//设置顾问偏好
                cardForm: {
                    projectIds:[],
                    projectCategory:[],
                    sources:[],
                    teleSaleStatus:'',
                    province:'',
                    city:'',
                    rootWords: [],//词根
                    districts: [],//地域
                },
                cardFormRules:{},
                cardTeleSale:'',
                multipleSelection:[],
                provinceArr:[],
                cityArr:[],
            }             
        },
        methods: { 
            addFun1() {//添加包含搜索词
                let searchWord = this.cardForm.searchWord;
                if (searchWord) {
                    this.cardForm.rootWords.push(searchWord);
                }
                this.cardForm.searchWord = '';
            },
            deleteFun1(tag) {//删除包含搜索词
                this.cardForm.rootWords.splice(this.cardForm.rootWords.indexOf(tag), 1);
            },
            addFun2() {//添加包含搜索词
                let dataProvince = this.cardForm.province;
                let dataCity = this.cardForm.city;

                if (dataProvince&&!dataCity) {
                    this.cardForm.districts.push(dataProvince);
                }
                if(dataCity){
                    this.cardForm.districts.push(dataProvince+'-'+dataCity);
                }
                console.log(this.cardForm.districts);
            },
            deleteFun2(tag) {//删除包含搜索词
                this.cardForm.districts.splice(this.cardForm.districts.indexOf(tag), 1);
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            openCard(id,name){// 打开名片
                this.cardVisible=true;
                this.cardTeleSale=name;
                this.cardForm.teleSaleId=id;
                var param = {};
                param.teleSaleId = id;
                this.loading = true; 
                axios.post('/saleCard/getSaleCard',param).then(function (response) { 
                    mainDivVM.loading = false;
                    console.log(response)
                    var result=response.data;
                    if(result.code==0){
                        var table=result.data;
                        if(table.id){
                            mainDivVM.cardForm.dictionaryRankId=table.dictionaryRankId;
                            mainDivVM.cardForm.dictionaryEvaluationId=table.dictionaryEvaluationId.split(',');
                            mainDivVM.cardForm.workYear=table.workYear;
                            mainDivVM.cardForm.serviceScore=table.serviceScore;
                            mainDivVM.cardForm.serviceNum=table.serviceNum;
                        }else{
                            mainDivVM.cardForm.dictionaryRankId='';
                            mainDivVM.cardForm.dictionaryEvaluationId=[];
                            mainDivVM.cardForm.workYear=3;
                            mainDivVM.cardForm.serviceScore=4.5;
                            mainDivVM.cardForm.serviceNum='3523';
                        }                        
                    }else{
                        mainDivVM.isDisabled=false;
                        mainDivVM.$message.error(result.msg);
                    }
                }).catch(function (error) {
                    mainDivVM.loading = false;
                    mainDivVM.$message({
                        message: "请求失败，请稍后重试",
                        type: "error"
                    });
                });
            },
            cardCancel(){// 关闭名片
                this.cardVisible=false;
                this.cardForm.startTime='';
                this.cardForm.endTime='';
                this.cardForm.projectIds=[];
                this.cardForm.projectCategory=[];
                this.cardForm.sources=[];
                this.cardForm.districts=[];
                this.cardForm.rootWords=[];
                this.cardForm.teleSaleStatus='';
                this.cardForm.province='';
                this.cardForm.city='';
            },
            cardSubmit(){
                var startTime = this.cardForm.startTime;
                var endTime = this.cardForm.endTime;
                if(endTime && startTime) {
                    beginTimes = new Date(this.cardForm.startTime);
                    endTimes = new Date(this.cardForm.endTime);
                    if (beginTimes > endTimes) {
                        this.$message({
                            message: '开始时间不能大于结束时间',
                            type: 'warning'
                        });
                        return;
                    }
                }
                var param = {};
                param.id = "";
                param.startTime = this.cardForm.startTime;
                param.endTime = this.cardForm.endTime;
                param.projectIds = this.cardForm.projectIds.length==0?"":this.cardForm.projectIds.join(",");//逗号分隔
                param.projectCategory = this.cardForm.projectCategory.length==0?"":this.cardForm.projectCategory.join(",");//逗号分隔
                param.sources = this.cardForm.sources.length==0?"":this.cardForm.sources.join(",");//逗号分隔
                param.districts = this.cardForm.districts.length==0?"":this.cardForm.districts.join(",");//逗号分隔
                param.rootWords = this.cardForm.rootWords.length==0?"":this.cardForm.rootWords.join(",");//逗号分隔
                param.teleSaleStatus = this.cardForm.teleSaleStatus;
                
                console.log(param)
                // this.loading = true; 
                // axios.post('/preference/updateInfo',param).then(function (response) { 
                //     mainDivVM.loading = false;
                    // console.log(response)
                    // mainDivVM.cardVisible=false;
                //     window.location.href="/preference/listPage"
                // }).catch(function (error) {
                //     mainDivVM.loading = false;
                //     mainDivVM.$message({
                //         message: "请求失败，请稍后重试",
                //         type: "error"
                //     });
                // });
            },       
            searchTable() {                
                var param = {};
                param.teleGroupId = this.form.teleGroupId;
                param.teleSaleId = this.form.teleSaleId;
                param.startTime = this.form.startTime;
                param.endTime = this.form.endTime;
                param.projectIds = this.form.projectIds;

                param.pageNum = this.pager.currentPage
                param.pageSize = this.pager.pageSize;                
                this.loading = true; 
                axios.post('/custservice/saleIm/list',param).then(function (response) { 
                // axios.post('/preference/queryByParams',param).then(function (response) { 
                   mainDivVM.loading = false;
                   console.log(response)
                   var result =  response.data;
                    if(result.code==0){
                        var table=result.data;
                        mainDivVM.tableData= table.data;
                        mainDivVM.pager.total =  table.total;
                        mainDivVM.pager.currentPage = table.currentPage;
                    }else{
                        mainDivVM.isDisabled=false;
                        mainDivVM.$message.error(result.msg);
                    }  
                }).catch(function (error) {
                    mainDivVM.loading = false;
                    mainDivVM.$message({
                        message: "请求失败，请稍后重试",
                        type: "error"
                    });
                });
            },
        },
        created(){
            // 取页数存储
            var localVal=localStorage.getItem('allChangePageSize')?parseInt(localStorage.getItem('allChangePageSize')):'';
            if(localVal){this.pager.pageSize = localVal;}
            this.searchTable();
        },
        mounted(){
            document.getElementById('maindiv').style.display = 'block';
        }
    })
    
</script>
</html>