<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="_header_include::frag(~{::title},~{},~{})">
<head>
<title>电销员工分配规则</title>
    <meta charset="UTF-8">
    <!-- import CSS
    <link rel="stylesheet" href="css/element-ui.css">
    <link rel="stylesheet" href="css/base.css"> -->
</head>
<body>
<div id="informationAllot" class="informationAllot mainPadding">  
    <el-breadcrumb separator="/" class="elBreadcrumb marginB20">
        <el-breadcrumb-item>Home</el-breadcrumb-item>
        <el-breadcrumb-item>业务设置</el-breadcrumb-item>
        <el-breadcrumb-item><a href="JavaScript:void(0)">电销员工分配规则</a></el-breadcrumb-item>
    </el-breadcrumb>
    <el-row class="marginB10">
        <el-button type="primary" @click="openAddPage"><i class="el-icon-plus"></i>添加新规则</el-button>
        <el-button type="success"><i class="el-icon-edit"></i>编辑规则</el-button>
        <el-button type="danger" @click="deleteDialog"><i class="el-icon-delete"></i>删除</el-button>
    </el-row>
    <el-row class="marginB10 greybg padding20">
        <el-row :gutter="20">
            <el-form :model="form" ref="form">
                <el-col :span="3">
                    <el-select v-model="form.value2" placeholder="请选择分公司" style="width: 100%;">
                        <el-option
                            v-for="item in options2"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                        </el-option>
                    </el-select>
                </el-col>
                <el-col :span="3">
                    <el-select v-model="form.value1" placeholder="请选择电销事业部" style="width: 100%;">
                        <el-option
                            v-for="item in options1"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                        </el-option>
                    </el-select>
                </el-col>
                <el-col :span="3">
                    <el-select v-model="form.value" placeholder="请选择电销组" style="width: 100%;">
                        <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                        </el-option>
                    </el-select>
                </el-col>
                <el-col :span="5">
                    <el-form-item label="生效开始:">
                        <el-col :span="17">
                            <el-date-picker type="datetime" placeholder="选择日期时间" v-model="form.dateStart" style="width: 100%;"></el-date-picker>
                        </el-col>
                    </el-form-item>
                </el-col>
                <el-col :span="5">
                    <el-form-item label="结束:">
                        <el-col :span="19">
                            <el-date-picker type="datetime" placeholder="选择日期时间" v-model="form.dateEnd" style="width: 100%;"></el-date-picker>
                        </el-col>
                    </el-form-item>
                </el-col>
                <el-col :span="3">
                    <el-input placeholder="规则名称" class="input-with-select"></el-input>
                </el-col>
                <el-col :span="1">
                    <el-button type="primary">搜索</el-button>
                </el-col>
            </el-form>
        </el-row>
    </el-row>
    <el-row>
        <el-table 
            ref="multipleTable"
            tooltip-effect="dark"
            style="width: 100%"
            border
            :data="dataTable" 
            >
            <el-table-column align="center" type="selection" width="55"></el-table-column>
            <el-table-column align="center" prop="ruleName" label="规则名称"></el-table-column>
            <el-table-column align="center" prop="createTime" label="创建时间" width="170"></el-table-column>
            <el-table-column align="center" prop="createPerson" label="创建人"></el-table-column>
            <el-table-column align="center" prop="resourcesCategory" label="资源类别"></el-table-column>
            <el-table-column align="center" prop="resourcesType" label="资源类型"></el-table-column>
            <el-table-column align="center" prop="searchWord" label="搜索词"></el-table-column>
            <el-table-column align="center" prop="dateStart" label="生效时间" width="170"></el-table-column>
            <el-table-column align="center" prop="dateEnd" label="截止时间" width="170"></el-table-column>
            <el-table-column align="center" prop="area" label="地区"></el-table-column>
            <el-table-column align="center" prop="status" label="状态" :formatter="transformStatus"></el-table-column>
            <el-table-column align="center" prop="handle" label="操作">
                <template slot-scope="scope">
                    <div v-if="scope.row.status === 1">
                        <el-button  @click="updateStatus(scope.row.id,2,'停用')" type="danger"  size="small">
                                   停用
                        </el-button>
                    </div>
                
                    <div v-else-if="scope.row.status === 2">
                        <el-button @click="updateStatus(scope.row.id,1,'启用')"  type="success"  size="small">
                                   启用
                        </el-button>
                    </div>
                </template>
            </el-table-column>
        </el-table>
    </el-row>
</div>
</body>
<!-- import Vue before Element -->
<div th:include="_footer_include :: #jsLib"></div>
<script>
    new Vue({
        el: '#informationAllot',
        data: function() {
            return {
                form: {
                    value2:'',
                    value1:'',
                    value:'',
                    dateStart:'',
                    dateEnd:''
                },
                dataTable: [
                    {
                        ruleName:'规则名称1',
                        createTime:'2019-01-23 16:58:49',
                        createPerson:'创建人1',
                        resourcesCategory:'资源类别1',
                        resourcesType:'资源类型1',
                        searchWord:'搜索词1',
                        dateStart:'2019-01-23 16:58:49',
                        dateEnd:'2019-01-23 16:58:49',
                        area:'地区1',
                        status:1//启用
                    },{
                        ruleName:'规则名称2',
                        createTime:'2019-01-23 16:58:49',
                        createPerson:'创建人2',
                        resourcesCategory:'资源类别2',
                        resourcesType:'资源类型2',
                        searchWord:'搜索词2',
                        dateStart:'2019-01-23 16:58:49',
                        dateEnd:'2019-01-23 16:58:49',
                        area:'地区3',
                        status:2//停用
                    }
                ],
                options: [{
                    value: '选项1',
                    label: '电销1组'
                }, {
                    value: '选项2',
                    label: '双皮奶'
                }, {
                    value: '选项3',
                    label: '蚵仔煎'
                }, {
                    value: '选项4',
                    label: '龙须面'
                }, {
                    value: '选项5',
                    label: '北京烤鸭'
                }],
                options1: [{
                    value: '选项1',
                    label: '项目'
                }, {
                    value: '选项2',
                    label: '双皮奶'
                }, {
                    value: '选项3',
                    label: '蚵仔煎'
                }, {
                    value: '选项4',
                    label: '龙须面'
                }, {
                    value: '选项5',
                    label: '北京烤鸭'
                }],
                options2: [{
                    value: '选项1',
                    label: '分公司1'
                }, {
                    value: '选项2',
                    label: '双皮奶'
                }, {
                    value: '选项3',
                    label: '蚵仔煎'
                }, {
                    value: '选项4',
                    label: '龙须面'
                }, {
                    value: '选项5',
                    label: '北京烤鸭'
                }],
                value: '',//下拉选项默认值
                value1: '',//下拉选项默认值
                value2: ''//下拉选项默认值 
            }        	  
        },
        methods: {
            searchTable() {//查询表格方法

            },
            deleteDialog(){
                this.$confirm('确定要删除【规则名称】【规则名称】规则？', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.$message({
                        type: 'success',
                        message: '删除成功!'
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });          
                });
            },
            //状态转换方法
            transformStatus(row, column, cellValue, index) {
                var text="";
                if(cellValue=="1"){
                  text="启用"
                }else if(cellValue=="2"){
                  text="停用"
                }
                return text;
            },
            updateStatus(id,status,msg) {
                // var param = {};
                // param.id=id;
                // param.status=status;
                // axios.post('/user/userManager/updateUser', param)
                // .then(function (response) {
                //     var result =  response.data;
                //     if(result.code=="0"){
                //         userVM.$message.success(msg+"成功");
                //         userVM.searchTable();
                //     }else{
                //         userVM.$message.error(msg+"失败");
                //     }
                // })
                // .catch(function (error) {
                //     console.log(error);
                // });  
            },
            openAddPage(){
            	window.location.href='/assignrule/teleAssignRule/preSaveTeleAssignRule';
            }
        }
    })
</script>
</html>