<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head  th:include="_header_include::frag(~{::title},~{},~{})">
<title>添加线索</title>
    <meta charset="UTF-8">
</head>
<body>
<div id="addCustomer" class="addCustomer mainPadding" style="display: none;"> 
    <el-breadcrumb separator="/" class="elBreadcrumb marginB20">
        <el-breadcrumb-item>Home</el-breadcrumb-item>
        <el-breadcrumb-item>电销管理</el-breadcrumb-item>
        <el-breadcrumb-item>新建客户资源</el-breadcrumb-item>
    </el-breadcrumb> 
    
    <el-row class="borderbox">
        <div class="inforTitle">新建客户资源</div> 
        <el-form :model="form" :rules="rules" ref="form" class="padding20">
            <div class="marginB20 fs16 paddingT20">资源信息</div>
            <div class="borderbox padding20">
                <el-row>
                    <el-col :span="8">
                        <el-form-item label="资源类型：" :label-width="formLabelWidth">
                            <el-select v-model="form.resource" placeholder="请选择" style="width: 100%;">
                                <el-option
                                    v-for="item in typeArr"
                                    :key="item.value"
                                    :label="item.name"
                                    :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="资源类别：" :label-width="formLabelWidth">
                            <el-select v-model="form.resourceType" placeholder="请选择" style="width: 100%;">
                                <el-option
                                    v-for="item in categoryArr"
                                    :key="item.value"
                                    :label="item.name"
                                    :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="8">
                        <el-form-item label="广告位：" :label-width="formLabelWidth">
                            <el-select v-model="form.adPosition" placeholder="请选择" style="width: 100%;">
                                <el-option
                                    v-for="item in adsenseArr"
                                    :key="item.value"
                                    :label="item.name"
                                    :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="媒介：" :label-width="formLabelWidth">
                            <el-select v-model="form.media" placeholder="请选择" style="width: 100%;">
                                <el-option
                                    v-for="item in mediumArry"
                                    :key="item.value"
                                    :label="item.name"
                                    :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="8">
                        <el-form-item label="搜索词：" :label-width="formLabelWidth">
                           <el-input v-model="form.searchWord" autocomplete="off" maxlength="50"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="资源项目：" :label-width="formLabelWidth">
                            <el-select v-model="form.project" placeholder="请选择" style="width: 100%;">
                                <el-option
                                    v-for="item in projectSelect"
                                    :key="item.id"
                                    :label="item.projectName"
                                    :value="item.id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="8">
                        <el-form-item label="留言时间：" :label-width="formLabelWidth">
                         <el-date-picker
                                style="width: 100%;"
                                v-model="form.feedbackTime"
                                type="datetime"
                                placeholder="选择日期时间">
                            </el-date-picker>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="留言重点：" :label-width="formLabelWidth">
                            <el-input v-model="form.feedbackPoint" autocomplete="off"  maxLength="100" ></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
            </div>
            <div class="marginB20 fs16 paddingT20">客户基本信息</div>
            <div class="borderbox padding20">
                <el-row>
                    <el-col :span="8">
                        <el-form-item label="客户姓名：" prop="customerName" :label-width="formLabelWidth">
                           <el-input v-model="form.customerName" autocomplete="off" maxLength="10"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="手机号：" prop="customerPhone" :label-width="formLabelWidth">
                           <el-input v-model="form.customerPhone" autocomplete="off" style="width: 60%;" @keyup.native="number" maxlength="11"></el-input>
                           <!-- <span style="padding-left: 5px;color: rgb(0, 114, 255);cursor: pointer;" @click="dialogFormVisible = true">+手机号</span> -->
                           <el-button type="primary" disabled @click="dialogFormVisible = true"><i class="el-icon-plus"></i>手机号<!-- 查看多个手机号 --></el-button>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="8">
                        <el-form-item label="性别：" :label-width="formLabelWidth">
                           <el-select v-model="form.customerSex" placeholder="请选择" style="width: 100%;">
                                <el-option
                                    v-for="item in optsex"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="微信：" :label-width="formLabelWidth">
                           <el-input v-model="form.ishasWx" autocomplete="off" style="width: 60%;"></el-input>
                           <!-- <span style="padding-left: 5px;color: rgb(0, 114, 255);cursor: pointer;" @click="dialogFormImg = true">查看二维码</span> -->
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="8">
                        <el-form-item label="餐饮经验：" :label-width="formLabelWidth">
                           <el-select v-model="form.experience" placeholder="请选择" style="width: 100%;">
                                <el-option
                                    v-for="item in CateringExperienceArr"
                                    :key="item.value"
                                    :label="item.name"
                                    :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="年龄：" :label-width="formLabelWidth">
                           <el-input v-model="form.customerAge" autocomplete="off"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="8">
                        <el-form-item label="职业：" :label-width="formLabelWidth">
                           <el-select v-model="form.customerJob" placeholder="请选择" style="width: 100%;">
                                <el-option
                                    v-for="item in occupationArr"
                                    :key="item.value"
                                    :label="item.name"
                                    :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="合伙人：" :label-width="formLabelWidth">
                           <el-select v-model="form.customerPartner" placeholder="请选择" style="width: 100%;">
                                <el-option
                                    v-for="item in partnerArr"
                                    :key="item.value"
                                    :label="item.name"
                                    :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="8">
                        <el-form-item label="选址情况：" :label-width="formLabelWidth">
                           <el-select v-model="form.address" placeholder="请选择" style="width: 100%;">
                                <el-option
                                    v-for="item in optionAddressArr"
                                    :key="item.value"
                                    :label="item.name"
                                    :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="开店紧迫性：" :label-width="formLabelWidth">
                          <span>   
                           <el-date-picker
                                style='width: 60%;'
                                v-model="form.urgency"
                                type="month"
                                placeholder="选择月">
                            </el-date-picker>
                                                                                          之前启动</span>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="8">
                        <el-form-item label="客户级别：" :label-width="formLabelWidth">
                           <el-select v-model="form.customerLevel" placeholder="请选择" style="width: 100%;">
                                <el-option
                                    v-for="item in customerLevelArr"
                                    :key="item.value"
                                    :label="item.name"
                                    :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="QQ：" :label-width="formLabelWidth">
                           <el-input v-model="form.qq" autocomplete="off"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
            </div>
            <div class="marginB20 fs16 paddingT20">投资意向信息</div>
            <div class="borderbox padding20">
                <el-row>
                    <el-col :span="8">
                        <el-form-item label="投资金额：" :label-width="formLabelWidth">
                           <el-select v-model="form.money" placeholder="请选择" style="width: 100%;">
                                <el-option
                                    v-for="item in ussmArr"
                                    :key="item.value"
                                    :label="item.name"
                                    :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="店面大小：" :label-width="formLabelWidth">
                           <el-select v-model="form.area" placeholder="请选择" style="width: 100%;">
                                <el-option
                                    v-for="item in StorefrontAreaArr"
                                    :key="item.value"
                                    :label="item.name"
                                    :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="8">
                        <el-form-item label="意向品类：" :label-width="formLabelWidth">
                           <el-select v-model="form.intentionCategory" placeholder="请选择" style="width: 100%;">
                                <el-option
                                    v-for="item in IntentionalCategoryArr"
                                    :key="item.value"
                                    :label="item.name"
                                    :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="16">
                        <el-form-item label="意向项目：" :label-width="formLabelWidth">
                            <el-radio v-model="form.radioProject" label="1">内部项目</el-radio>
                            <el-select v-model="form.insideProject" placeholder="请选择">
                                <el-option
                                    v-for="item in projectSelect"
                                    :key="item.id"
                                    :label="item.projectName"
                                    :value="item.id">
                                </el-option>
                            </el-select>
                            <el-radio v-model="form.radioProject" label="2">外部项目</el-radio>
                            <el-input v-model="form.outsideProject" autocomplete="off" style="width: 25%;"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="24">
                        <el-form-item label="省：" :label-width="formLabelWidth" style="width: 33.3%;float: left;">
                           <el-select v-model="form.province" placeholder="请选择" style="width: 100%;"  @change="currentProvince">
                                <el-option
                                    v-for="item in provinceArr"
                                    :key="item.name"
                                    :label="item.name"
                                    :value="item.name">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="市：" :label-width="formLabelWidth" style="width: 33.3%;float: left;">
                           <el-select v-model="form.city" placeholder="请选择" style="width: 100%;" @change="currentCity" >
                                <el-option
                                    v-for="item in cityArr"
                                    :key="item.name"
                                    :label="item.name"
                                    :value="item.name">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="区县：" :label-width="formLabelWidth" style="width: 33.3%;float: left;">
                           <el-select v-model="form.district" placeholder="请选择" style="width: 100%;">
                                <el-option
                                    v-for="item in districtArr"
                                    :key="item.name"
                                    :label="item.name"
                                    :value="item.name">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
            </div>
            <div class="padding20 f-tac">            
                <el-button type="primary" @click="submitForm('form')">提交客户资源</el-button>
                <el-button>取 消</el-button>
            </div> 
        </el-form> 
    </el-row>

    <!-- dialog -->
    <el-dialog title="添加手机号" :visible.sync="dialogFormVisible">
        <el-form :model="dialogForm" :rules="dialogRules" ref="dialogForm">
            <el-form-item label="手机号2：" :label-width="formLabelWidth">
                <span>15111111111</span>
                <span><i class="el-icon-phone-outline" style="font-size: 20px;color: rgb(0, 114, 255);cursor: pointer;"></i></span>
            </el-form-item>
            <el-form-item label="手机号3：" prop="phoneNum" :label-width="formLabelWidth">
                <el-input v-model="dialogForm.phoneNum" autocomplete="off" style="width: 60%;"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="f-tac">            
            <el-button type="primary" @click="submitDialogForm('dialogForm')">提 交</el-button>
            <el-button @click="dialogFormVisible = false">取 消</el-button>
        </div>
    </el-dialog> 
    <!-- dialog -->
    <el-dialog title="二维码" :visible.sync="dialogFormImg">
        <div class="padding20" style="text-align: center;">
            <img src="images/errorIcon.jpg" alt="" style="width: 250px;height: 250px;">
        </div>
    </el-dialog>    
</div>
</body>
<!-- import Vue before Element -->
<div th:include="_footer_include :: #jsLib"></div>
<script th:inline="javascript" >
  //下拉项目数据
  var proSelect=[[${proSelect}]];
  var addCustomerVM=   new Vue({
        el: '#addCustomer',
        data: function() {
            return {                
                radioProject:'',
                dialogFormVisible: false,
                dialogFormImg:false,
                form: {                    
                    resource:'',
                    resourceType:'',
                    adPosition:'',
                    media:'',
                    searchWord:'',
                    project:'',
                    feedbackTime:'',
                    feedbackPoint:'',
                    customerName:'',
                    customerPhone:'',
                    customerSex:'',
                    ishasWx:'',
                    experience:'',
                    customerAge:'',
                    customerJob:'',
                    customerPartner:'',
                    address:'',
                    urgency:'',
                    customerLevel:'',
                    qq:'',
                    money:'',
                    area:'',
                    intentionCategory:'',
                    insideProject:'',
                    outsideProject:'',
                    province:'',
                    city:'',
                    district:''
                },
                categoryArr:[],
                typeArr:[],
                mediumArry:[],
                adsenseArr:[],
                CateringExperienceArr:[],
                occupationArr:[],
                partnerArr:[],
                optionAddressArr:[],
                customerLevelArr:[],
                IntentionalCategoryArr:[],
                ussmArr:[],
                StorefrontAreaArr:[],
                provinceArr:[],
                cityArr:[],
                districtArr:[],
                projectSelect:proSelect,
                formLabelWidth: '120px',
                rules:{
                    customerName: [
                        { required: true, message: '客户姓名不能为空', trigger: 'blur' }
                    ],
                    customerPhone: [
                        { required: true, message: '手机号不能为空', trigger: 'blur' },
                        { validator:function(rule,value,callback){                 
                            if(/^[0-9]*$/.test(value) == false){
                               callback(new Error("请输入数字"));
                            }else{
                               callback();
                            } 
                            callback();
                        }, trigger: 'blur'}
                    ]
                },
                statusOptions: [{
                    value: '0',
                    label: '推广列表'
                }, {
                    value: '1',
                    label: '电销列表'
                }],
                options1: [{
                    value: '0',
                    label: '电销组'
                }, {
                    value: '1',
                    label: '媒介'
                }],
                optsex: [{
                    value: '1',
                    label: '男'
                }, {
                    value: '2',
                    label: '女'
                }],
                dialogForm: {
                    phoneNum:''
                },
                dialogRules:{
                    phoneNum: [
                        { required: true, message: '请输入手机号码', trigger: 'blur' }
                    ]
                },
            }        	  
        },
        methods: {
            submitForm(form) {
                this.$refs[form].validate((valid) => {
                    if (valid) {
                        //----线索基本信息---//
                    	 var clueBasic={};
                    	 var clueProject={};
                     	//资源类型
                    	var resource=this.form.resource;
                    	clueBasic.type=resource;
                     	//资源类别
                    	var resourceType=this.form.resourceType;
                    	clueBasic.category=resourceType;
                         //广告位
                    	var adPosition=this.form.adPosition;
                    	clueBasic.sourceType=adPosition;
                         //媒介
                    	var media=this.form.media;
                    	clueBasic.source=media;
                         //搜索词
                    	var searchWord=this.form.searchWord;
                    	clueBasic.searchWord=searchWord;
                         //资源项目
                    	var project=this.form.project;
                    	clueProject.projectId=project; 
                         //留言时间
                    	var  feedbackTime=this.form.feedbackTime;
                    	clueBasic.messageTime=feedbackTime;
                    	 //留言重点
                    	var  feedbackPoint=this.form.feedbackPoint;
                    	clueBasic.messagePoint=feedbackPoint;
                    	 
                 	    //----客户基本信息---//
                 	    var  clueCustomer={};
                      	 //客户姓名
                    	var  customerName=this.form.customerName;
                    	clueCustomer.cusName=customerName;
                   	    //手机号
                    	var  customerPhone=this.form.customerPhone;
                    	clueCustomer.phone=customerPhone;
                   	    //性别
                    	var customerSex=this.form.customerSex;
                    	clueCustomer.sex=customerSex;
                	    //微信
                    	var  ishasWx=this.form.ishasWx;
                    	clueCustomer.wechat=ishasWx;
                	    //餐饮经验
                    	var experience=this.form.experience;
                    	clueCustomer.hasExperience=experience;
                	    //年龄
                    	var customerAge=this.form.customerAge;
                    	clueCustomer.age=customerAge;
                	    //职业
                    	var customerJob=this.form.customerJob;
                    	clueCustomer.profession=customerJob;
                	    //合伙人
                    	var customerPartner=this.form.customerPartner;
                    	clueCustomer.partnerType=customerPartner;
                	    //选址情况
                    	var address=this.form.address;
                    	clueCustomer.hasAddress=address;
                	    //开店紧迫性
                	    var urgency =this.form.urgency;
                	    clueCustomer.urgentDate=urgency;
                	    //客户级别
                	    var customerLevel=this.form.customerLevel;
                	    clueCustomer.cusLevel=customerLevel;
                	    //QQ
                	    var qq=this.form.qq;
                	    clueCustomer.qq=qq;
                	    //----投资意向---//
                	    var  clueIntention={};
                	    //投资金额
                	    var  money=this.form.money; 
                	    clueIntention.advanceAmount=money;
                	    //店面大小
                	   var  area= this.form.area;
                	   clueIntention.area=area;
                	    //意向品类
                	   var intentionCategory=this.form.intentionCategory;
                	   clueIntention.purType=intentionCategory;
                	    //意向项目
                	    var radioProject= this.form.radioProject;
                	    clueIntention.purProjectType=radioProject;
                	    //意向内部项目
                	    var  insideProject=this.form.insideProject;
                	    clueIntention.purInProject=insideProject;
                	    //意向外部项目
                	    var  outsideProject= this.form.outsideProject;
                	    clueIntention.purOutProject=outsideProject;
                	    //省
                	    var province= this.form.province;
                	    clueIntention.province=province;
                	    //市
                	    var city=this.form.city;
                	    clueIntention.city=city
               	         //区县
                	    var district= this.form.district;
                	    clueIntention.district=district;
               	     
               	       var clue={};
               	      clue.clueCustomer=clueCustomer;
               	      clue.clueIntention=clueIntention; 
               	      clue.clueBasic=clueBasic;
               	      clue.clueProject=clueProject;
                      axios.post('/teleClueMyCustomerInfo/saveCreateClue',clue)
                      .then(function (response) {
                    	  addCustomerVM.$message({message:'操作成功',type:'success',duration:2000,onClose:function(){
                   		//swindow.location.href="/teleClueMyCustomerInfo/saveCreateClue"; 
   		        	}});
                     });
                	   
                        alert('submit!');
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            submitDialogForm(dialogForm) {
                this.$refs[dialogForm].validate((valid) => {
                    if (valid) {
                        console.log('submit!!');
                        // 关闭弹窗
                        this.dialogFormVisible = false; 
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            currentProvince(selVal){
               param={};
               param.type="1";
               param.name=selVal;
               axios.post('/area/sysregion/querySysRegionByParam',param).then(function (response) {  
                 addCustomerVM.cityArr=response.data.data.data;
               });  	
            },
            currentCity(selVal){
                param={};
                param.type="2";
                param.name=selVal;
                axios.post('/area/sysregion/querySysRegionByParam',param).then(function (response) {  
                  addCustomerVM.districtArr=response.data.data.data;
                });  	
             },
            number(){
    　　　                           this.form.customerPhone=this.form.customerPhone.replace(/[^\.\d]/g,'');
             this.form.customerPhone=this.form.customerPhone.replace('.','');
        　                       }
        },
        mounted(){
            document.getElementById('addCustomer').style.display = 'block';
         },
        created(){
             //初始资源类别数据
           	var  param={};
           	param.groupCode="clueCategory";
             axios.post('/dictionary/DictionaryItem/dicItemsByGroupCode',param).then(function (response) {  
            	 addCustomerVM.categoryArr=response.data.data;
             });
           	 //初始化资源类型数据
        	 param={};
        	 param.groupCode="clueType";
            axios.post('/dictionary/DictionaryItem/dicItemsByGroupCode',param).then(function (response) {  
              addCustomerVM.typeArr=response.data.data;
             });
            
           //初始化资源类型数据
       	   param={};
       	   param.groupCode="clueType";
           axios.post('/dictionary/DictionaryItem/dicItemsByGroupCode',param).then(function (response) {  
             addCustomerVM.typeArr=response.data.data;
            });
           //初始化媒介
     	   param={};
     	   param.groupCode="medium";
           axios.post('/dictionary/DictionaryItem/dicItemsByGroupCode',param).then(function (response) {  
            addCustomerVM.mediumArry=response.data.data;
          });
           //广告位
           param={};
           param.groupCode="adsense"; 
           axios.post('/dictionary/DictionaryItem/dicItemsByGroupCode',param).then(function (response) {  
               addCustomerVM.adsenseArr=response.data.data;
            });
           
           //餐饮经验
           param={};
           param.groupCode="CateringExperience"; 
           axios.post('/dictionary/DictionaryItem/dicItemsByGroupCode',param).then(function (response) {  
               addCustomerVM.CateringExperienceArr=response.data.data;
            });
           //职业
           param={};
           param.groupCode="occupation"; 
           axios.post('/dictionary/DictionaryItem/dicItemsByGroupCode',param).then(function (response) {  
               addCustomerVM.occupationArr=response.data.data;
            });
           
           //合伙人
           param={};
           param.groupCode="partner"; 
           axios.post('/dictionary/DictionaryItem/dicItemsByGroupCode',param).then(function (response) {  
               addCustomerVM.partnerArr=response.data.data;
            });
           
           //选址情况
           param={};
           param.groupCode="optionAddress"; 
           axios.post('/dictionary/DictionaryItem/dicItemsByGroupCode',param).then(function (response) {  
               addCustomerVM.optionAddressArr=response.data.data;
            });
           //客户级别
           param={};
           param.groupCode="customerLevel"; 
           axios.post('/dictionary/DictionaryItem/dicItemsByGroupCode',param).then(function (response) {  
               addCustomerVM.customerLevelArr=response.data.data;
            });
           //意向品类
           param={};
           param.groupCode="IntentionalCategory"; 
           axios.post('/dictionary/DictionaryItem/dicItemsByGroupCode',param).then(function (response) {  
               addCustomerVM.IntentionalCategoryArr=response.data.data;
            });
         //投资金额
           param={};
           param.groupCode="ussm"; 
           axios.post('/dictionary/DictionaryItem/dicItemsByGroupCode',param).then(function (response) {  
               addCustomerVM.ussmArr=response.data.data;
            });
           //店面大小
           param={};
           param.groupCode="StorefrontArea"; 
           axios.post('/dictionary/DictionaryItem/dicItemsByGroupCode',param).then(function (response) {  
               addCustomerVM.StorefrontAreaArr=response.data.data;
            });
           param={};
           param.type="0";
           axios.post('/area/sysregion/querySysRegionByParam',param).then(function (response) {  
        	   addCustomerVM.provinceArr=response.data.data.data;
           });
           
           
         }
    })
</script>
</html>