<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="_header_include::frag(~{::title},~{},~{})">
    <title>后台管理系统</title>
    <style>
        button a{color:#fff!important;}
    </style>
</head>
<body>
<div id="appiontmentManage" class="appiontmentManage mainPadding" style="display: none;">  
    <el-breadcrumb separator="/" class="elBreadcrumb marginB20">
        <el-breadcrumb-item>Home</el-breadcrumb-item>
        <el-breadcrumb-item>电销管理</el-breadcrumb-item>
        <el-breadcrumb-item><a >邀约来访</a></el-breadcrumb-item>
    </el-breadcrumb>
    
    <el-row class="marginB10">
    		<el-button type="text" @click="dialogFormVisible = true">选择列</el-button>
    		<shiro:hasPermission name="aggregation:appiontmentManager:edit">
		        <el-button type="primary" @click="toUpdateAppiontment">编辑</el-button>
		    </shiro:hasPermission>
    		<shiro:hasPermission name="aggregation:appiontmentManager:view">
		        <el-button type="primary" @click="viewCustomerInfo">预览客户信息</el-button>
		    </shiro:hasPermission>
    		<shiro:hasPermission name="aggregation:appiontmentManager:delete">
		        <el-button type="primary" @click="deleteAppiontment">删除</el-button>
		    </shiro:hasPermission>
		    <shiro:hasPermission name="aggregation:appiontmentManager:cancel">
		        <el-button type="primary" @click="openCancelForm">标记取消</el-button>
		    </shiro:hasPermission>
	</el-row>
	<el-form :inline="true" :model="appiontmentSearchForm" class="demo-form-inline" ref="appiontmentSearchForm"> 
	    <el-row class="marginB10 greybg padding20" style="padding-bottom: 0;">
	        <el-row>
                <el-form-item label="提交时间：">
					<el-date-picker v-model="appiontmentSearchForm.startTime" format="yyyy-MM-dd HH:mm:ss" type="datetime" placeholder="选择日期">
					</el-date-picker>
                </el-form-item>
                <el-form-item label="——">
					<el-date-picker v-model="appiontmentSearchForm.endTime" format="yyyy-MM-dd HH:mm:ss" type="datetime" placeholder="选择日期">
					</el-date-picker>
				</el-form-item>
				<el-form-item class="formItem"  prop="teleGorupId">
				    <el-select v-model="appiontmentSearchForm.teleGorupId" clearable @change="getSaleList" placeholder="电销组">
				      <el-option
					      v-for="item in teleGorupOptions"
					      :key="item.id"
					      :label="item.name"
					      :value="item.id">
					  </el-option>
				    </el-select>
				</el-form-item>
				<el-form-item class="formItem"  prop="teleSaleId">
				    <el-select v-model="appiontmentSearchForm.teleSaleId" clearable placeholder="创业顾问">
				      <el-option
					      v-for="item in teleSaleOptions"
					      :key="item.id"
					      :label="item.name"
					      :value="item.id">
					  </el-option>
				    </el-select>
				</el-form-item>
				<el-form-item class="formItem"  prop="projectId">
				    <el-select v-model="appiontmentSearchForm.projectId" clearable placeholder="品尝项目">
				        <el-option
					        v-for="item in projectOptions"
					        :key="item.id"
					        :label="item.projectName"
					        :value="item.id">
					    </el-option>
				    </el-select>
				</el-form-item>
				<el-form-item class="formItem" prop="cusName">
				    <el-input v-model="appiontmentSearchForm.cusName" placeholder="请输入客户姓名" class="input-with-select"></el-input>
				</el-form-item>
				<el-button type="primary" @click="searchTable()">搜索</el-button>			
	        </el-row>
	    </el-row>
  	</el-form>
    <el-row>
        <el-table  ref="multipleTable" tooltip-effect="dark" border @selection-change="handleSelectionChange"
            style="width: 100%"  :data="dataTable" >
            <el-table-column align="center" type="selection" label="全选" width="55"></el-table-column>
            <el-table-column align="center" type="index" width="55" label="序号"></el-table-column>
            <el-table-column align="center" :key="index" :prop="item.fieldCode" :label="item.displayName" :width="item.width"
	         v-for="(item,key,index) in tableColums" v-if="item.fieldCode == 'isRepeatPhone'">
	               <template slot-scope="scope">
		               <div v-if="scope.row.isRepeatPhone === 1">
		                   <el-button @click="repeatPhonesClick(scope.row)" type="text" size="small">点击查看</el-button>
	                    </div>
	                    <div v-else>无</div>
                	</template>
	        </el-table-column>
            <el-table-column align="center" :key="index" :prop="item.fieldCode" :label="item.displayName" :width="item.width"
	         v-else-if="item.fieldCode == 'isTrack'">
	               <template slot-scope="scope">
		                <div v-if="scope.row.isTrack === 1">
		                    <el-button @click="recordClick(scope.row)" type="text" size="small">点击查看</el-button>
	                    </div>
	                    <div v-else>无</div>
	                </template>
	        </el-table-column>
            <el-table-column align="center" :key="index" :prop="item.fieldCode" :label="item.displayName" :width="item.width"
	         v-else>
	        </el-table-column>
	        
        </el-table>
        <table-pagination :pager="pager" @change="searchTable"></table-pagination>
    </el-row>
      <!-- dialog -->
    <el-dialog title="编辑邀约来访" :visible.sync="appiontmentFormVisible" >
        <el-form :model="appiontmentForm" ref="appiontmentForm" :rules="appiontmentFormRule">
            <el-form-item label="地区：" :label-width="formLabelWidth" prop="area">
                <el-select v-model="appiontmentForm.area" disabled placeholder="请选择" style="width: 70%;" @change="currentBusGroup" >
                    <el-option
                        v-for="item in areaOptions"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="分公司：" :label-width="formLabelWidth" prop="busCompay">
                <el-select v-model="appiontmentForm.busCompay" disabled placeholder="请选择" style="width: 70%;" @change="currentBusSale">
                    <el-option
                        v-for="item in busCompayOptions"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="商务总监：" :label-width="formLabelWidth" prop="busDirectorId">
                <el-select v-model="appiontmentForm.busDirectorId" disabled placeholder="请选择" style="width: 70%;">
                    <el-option
                        v-for="item in busDirectorOptions"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="品尝项目：" :label-width="formLabelWidth" >
             	<el-form-item label="" prop="tasteProjectId">
                    <el-select 
                        v-model="appiontmentForm.tasteProjectId" 
                        placeholder="品尝项目" 
                        style="width: 70%;" 
                        multiple 
                        >
                        <el-option
                            v-for="item in  projectOptions"
                            :key="item.id"
                            :label="item.projectName"
                            :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-form-item>
            <el-form-item label="预约时间：" :label-width="formLabelWidth" prop="reserveTime">
                <el-date-picker
                    style="width: 70%;"
                    v-model="appiontmentForm.reserveTime"
                    type="datetime"
                    placeholder="选择日期时间">
                </el-date-picker>
            </el-form-item>
            <el-form-item label="备注：" :label-width="formLabelWidth" prop="remark">
                <el-input type="textarea" :rows="2" v-model="appiontmentForm.remark" maxlength="500" style="width: 70%;"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="saveAppiontment('appiontmentForm')">确 定</el-button>
            <el-button @click="appiontmentFormVisible = false">取 消</el-button>
        </div>
    </el-dialog>
    <!-- dialog -->
    <!-- 跟进记录 -->
    <el-dialog title="跟进记录" :visible.sync="recordDialog">
        <el-table
            ref="singleTable" 
            tooltip-effect="dark"
            style="width: 100%"
            border
            :data="recordTable" 
            >
            <el-table-column align="center" type="index" width="55" label="序号"></el-table-column>
            <el-table-column align="center" prop="callTime" label="拨打时间"></el-table-column>
            <el-table-column align="center" prop="customerStatusName" label="客户状态"></el-table-column>
            <el-table-column align="center" prop="isCall" label="是否接通" :formatter="transformIsCall"></el-table-column>
            <el-table-column align="center" prop="focusPoint" label="客户关注点"></el-table-column>  
            <el-table-column align="center" prop="visitStatus" label="是否继续回访" :formatter="transform"></el-table-column>  
            <el-table-column align="center" prop="nextVisitTime" label="下次回访时间"></el-table-column>  
            <el-table-column align="center" prop="createUserName" label="创建人"></el-table-column>  
        </el-table>
    </el-dialog>
    <!-- 重复手机号资源信息 -->
    <el-dialog title="手机号1233133332重复资源信息" :visible.sync="repeatPhonesDialog">
        <el-table
            ref="singleTable" 
            tooltip-effect="dark"
            style="width: 100%"
            border
            :data="repeatPhonesTable" 
            >
            <el-table-column align="center" type="index" width="55" label="序号"></el-table-column>
            <el-table-column align="center" prop="createTime" label="资源创建时间"></el-table-column>
            <el-table-column align="center" prop="phone" label="联系方式"></el-table-column>
            <el-table-column align="center" prop="teleDirectorName" label="电销总监"></el-table-column>
            <el-table-column align="center" prop="teleSaleName" label="创业顾问"></el-table-column>
            <el-table-column align="center" prop="teleGorupName" label="电销组"></el-table-column>
            <el-table-column align="center" prop="createUserRoleName" label="资源创建人角色"></el-table-column>  
            <el-table-column align="center" prop="createUserName" label="资源创建人"></el-table-column> 
        </el-table>
        
    </el-dialog>
    
	<el-dialog title="自定义列" :visible.sync="dialogFormVisible">
	  <el-form :model="form">
	    
		  <el-form-item label="列名" prop="type">
		    <el-checkbox-group v-model="form.type">
		      <el-checkbox :label="item.sortNum+'_'+item.fieldCode+'_'+item.displayName+'_'+item.id"  name="type" :key="item.fieldCode"  v-for="(item,index) in  allTableColums ">
		          {{item.displayName}}
		      </el-checkbox>
		  
		     </el-checkbox-group>
		  </el-form-item>
	    
	  </el-form>
	  
	  <div slot="footer" class="dialog-footer">
	    <el-button @click="dialogFormVisible = false">取 消</el-button>
	    <el-button type="primary" @click="confirmColumn">确 定</el-button>
	  </div>
	</el-dialog>
	    <!-- 释放资源 -->
    <el-dialog title="取消原因"    :visible.sync="cancelFormVisible">
        <el-form :model="cancelDigForm" ref="cancelDigForm" :rules="cancelRules">
            <el-row>
                <el-form-item label="取消原因：" :label-width="formLabelWidth" prop="cancelReason">
                  <el-input type="textarea" :rows="3" v-model="cancelForm.cancelReason" autocomplete="off" maxlength="100"></el-input>
                </el-form-item>
            </el-row>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="submitCancelForm('cancelDigForm')">提 交</el-button>
            <el-button @click="cancelFormVisible= false" >取 消</el-button>
        </div>
    </el-dialog>
	
	
</div>
<!-- import common js-->
<div th:include="_footer_include :: #jsLib"></div>
</body>
<script th:inline="javascript">
var orgList=[[${orgList}]];//电销组
var userList=[[${userList}]];//电销创业顾问
var projectList=[[${projectList}]];//品尝项目
var fieldList=[[${fieldList}]];//自定义字段
var userFieldList=[[${userFieldList}]];//用户自定义字段
var clueCategoryList=[[${clueCategoryList}]];//资源类别
var appiontmentVM = new Vue({
        el: '#appiontmentManage',
        data: {
        		appiontmentSearchForm: {
	        		startTime: '',
	        		endTime: '',
	        		teleGorupId: '',
	        		teleSaleId: '',
	        		projectId: '',
	        		cusName: ''
	            },
	            appiontmentForm: {
	            	id:'',
	            	area:'',
	            	busCompay:'',
	            	busDirectorId:'',
	            	tasteProjectId:'',
	            	reserveTime:'',
	            	remark:''
                },
                cancelDigForm:{
                  cancelReason:'',	
                },
	            dataTable:[],
	            recordTable:[],
	            loading: true,
	             allTableColums:[],
	             tableColums:[],
	             dialogFormVisible: false,
	             cancelFormVisible:false,
	             form: {
	               type: [],
	             },
	            repeatPhonesTable:[],
	            teleGorupOptions:orgList,
	            teleSaleOptions:userList,
	            projectOptions:projectList,
	            areaOptions:[],
	            busCompayOptions:[],
	            busDirectorOptions:[],
	            appiontmentFormVisible: false,
	            recordDialog:false,
                repeatPhonesDialog:false,
	            pager:{
	                total: 0,
	                currentPage: 1,
	                pageSize: 20,
	            },
	            multipleSelection:[],
                formLabelWidth: '150px',
                formLabelWidth1: '120px',
                cancelRules:{
                	cancelReason: [
                    //  { required: true, message: '请填写取消原因', trigger: 'blur' }
                    ]
                },
                appiontmentFormRule:{
                	tasteProjectId: [
                      { required: true, message: '品尝项目不能为空', trigger: 'change' }
                    ],
                    reserveTime: [
                      { required: true, message: '预约时间不能为空', trigger: 'change' }
                    ]
                },
        },
        methods: {
        	searchTable() {
                var param ={};
                
                var startTime = this.appiontmentSearchForm.startTime;
                var endTime = this.appiontmentSearchForm.endTime;
                if(startTime&&endTime&&startTime> endTime){
                	this.$message({
                        message: '开始时间不能大于结束时间',
                        type: 'warning'
                      });
                    return;
                }
                param.startTime = startTime;
                param.endTime = endTime;
                param.pageSize = this.pager.pageSize;
                param.pageNum = this.pager.currentPage;
                param.teleGorupId = this.appiontmentSearchForm.teleGorupId;
                param.teleSaleId = this.appiontmentSearchForm.teleSaleId;
                param.tasteProjectId = this.appiontmentSearchForm.projectId;
                param.cusName = this.appiontmentSearchForm.cusName;
                console.info(param);
                axios.post('/clue/appiontment/list', param)
                .then(function (response) {
                      var result =  response.data;
                      console.info(result);
                      var table=result.data;
                      var data= table.data;
                      for(var i=0;i<data.length;i++){
                    	  data[i].isSign=appiontmentVM.transformSign(data[i].isSign);
                    	  data[i].tasteProjectId=appiontmentVM.transformProject(data[i].tasteProjectId);
                    	  data[i].arrivalTime=appiontmentVM.dateFormat(data[i].arrivalTime);
                    	  data[i].departTime=appiontmentVM.dateFormat(data[i].departTime);
                    	  data[i].pickUpTime=appiontmentVM.dateFormat(data[i].pickUpTime);
                    	  data[i].reserveTime=appiontmentVM.dateFormat(data[i].reserveTime);
                    	  data[i].category=appiontmentVM.transformCategory(data[i].category);
                      }
                      appiontmentVM.dataTable= data;
                      
                      appiontmentVM.pager.total =  table.total;
                      appiontmentVM.pager.currentPage = table.currentPage;
                })
                .catch(function (error) {
                     console.log(error);
                });
                
              },
              //选择行
              handleSelectionChange(val) {
                  this.multipleSelection = val;
              },
              //跳转修改邀约来访页
              toUpdateAppiontment() {
            	  var rows = this.multipleSelection;
                  if(rows.length!=1){
                      this.$message({
                         message: '请选择一条数据进行修改',
                         type: 'warning'
                       });
                      return;
                  }
                  var param={id:rows[0].id};
                  appiontmentVM.appiontmentForm.id= rows[0].id;
                  //根据id获取数据
                  axios.post('/clue/appiontment/getAppiontment',param)
                  .then(function (response) {
                      var data =  response.data;
                      if(data.code=='0'){
                    	  if(data.data.isAllocate==1){
                    		  appiontmentVM.$message({
                                  message: '此客户资源商务已经在跟进不可编辑',
                                  type: 'warning'
                                });
                               return;
                    	  }
                    	  appiontmentVM.currentBusGroup(data.data.area);
                    	  appiontmentVM.currentBusSale(data.data.busCompay);
                    	  appiontmentVM.appiontmentForm.area= data.data.area;
                    	  appiontmentVM.appiontmentForm.busCompay= data.data.busCompay;
                    	  appiontmentVM.appiontmentForm.busDirectorId= data.data.busDirectorId;
                    	  appiontmentVM.appiontmentForm.reserveTime= data.data.reserveTime;
                    	  appiontmentVM.appiontmentForm.tasteProjectId= data.data.tasteProjectId.split(",");
                    	  appiontmentVM.appiontmentForm.remark= data.data.remark;
                    	  appiontmentVM.appiontmentFormVisible = true;
                      }else{
                      	console.error(data);
                      }
                  })
                  .catch(function (error) {
                    console.log(error);
                  })
                  .then(function () {
                  }); 
              	
              },
              handleSizeChange(val) {
                  //下拉框  每页 10,20条切换 调用
                     console.log(`每页 ${val} 条`);
                  this.pageSize = val;
                  this.initTableData(1);
               },
               handleCurrentChange(val) {
                   //点击 页码
                 console.log(`当前页: ${val}`);
                 this.initTableData(val);
               },
               cancelForm(formName) {
            	   if (this.$refs[formName]!==undefined) {
               		this.$refs[formName].resetFields();
               		}
               	   this.appiontmentFormVisible = false;
               },
             //日期数据格式化方法
               dateFormat(cellValue) {
                 if (cellValue == undefined) {
                    return "";
                 }
                 return moment(cellValue).format("YYYY-MM-DD HH:mm");
               },
             //类别转换方法
               transformCategory(cellValue) {
             	  var text="";
             	  if(clueCategoryList){
 	                  for(var i=0;i<clueCategoryList.length;i++){
 	                		if(cellValue==clueCategoryList[i].value){
 	                			text=clueCategoryList[i].name;
 	                		}
 	                	}
             	  }
                   return text;
               },
             	//是否签约状态转换方法
               transformSign(cellValue) {
             	  var text="";
                   if(cellValue==0){
                 	  text="否"
                   }else if(cellValue==1){
                 	  text="是"
                   }
                   return text;
               },
             	//是否转换方法
               transform(row, column, cellValue, index) {
             	  var text="";
                   if(cellValue==0){
                 	  text="否"
                   }else if(cellValue==1){
                 	  text="是"
                   }
                   return text;
               },
             	//是否接通(0未接通,1已接通)转换方法
               transformIsCall(row, column, cellValue, index) {
             	  var text="";
                   if(cellValue==0){
                 	  text="未接通"
                   }else if(cellValue==1){
                 	  text="已接通"
                   }
                   return text;
               },
             	//资源有效性(0：无效资源，1有效资源)转换方法
               transformResource(row, column, cellValue, index) {
             	  var text="";
                   if(cellValue==0){
                 	  text="无效资源"
                   }else if(cellValue==1){
                 	  text="有效资源"
                   }
                   return text;
               },
             	//品尝项目转换方法
               transformProject(cellValue) {
            	   var text="";
              	   if(projectList&&cellValue){
	            	   var array=cellValue.split(",");
	                   for(var i=0;i<array.length;i++){
	                	   for(var j=0;j<projectList.length;j++){
	 	                		if(array[i]==projectList[j].id){
	 	                			if(i==0){
		 	                			text=projectList[j].projectName;
	 	                			}else{
		 	                			text=text+","+projectList[j].projectName;
	 	                			}
	 	                		}
	 	                	}
	                	}
              	    }
                    return text;
               },
               //查询地区（商务中心）
               currentBusArea(){
            	   var param={};
                 	param.orgType="11";
                   axios.post('/organization/organization/queryOrgByType',param).then(function (response) {  
                	   appiontmentVM.areaOptions=response.data.data;
                   });
               },
               //查询分公司（商务组）
               currentBusGroup(seleVal){
                   param={};
                 	param.parentId=seleVal;
                 	param.orgType="2";
                   axios.post('/organization/organization/queryOrgByType',param).then(function (response) {  
                	   appiontmentVM.busCompayOptions=response.data.data;
                });
               },
               //查询商务总监
               currentBusSale(seleVal){
               	param={};
                  	param.orgId=seleVal;
                  	param.roleCode="SWZJ";
                   axios.post('/user/userManager/listByOrgAndRole' ,param).then(function (response) {  
                	   appiontmentVM.busDirectorOptions=response.data.data;
                   });
               },
               saveAppiontment(formName){//保存自定义字段
            	   this.$refs[formName].validate((valid) => {
            	        if (valid) {
            	        	var param=appiontmentVM.appiontmentForm;
                            param.tasteProjectId=appiontmentVM.appiontmentForm.tasteProjectId.join(',');
                            var url="/clue/appiontment/updateAppiontment";
                           axios.post(url, param).then(function (response) {
                               var resData = response.data;
                               if(resData.code=='0'){
                               	appiontmentVM.cancelForm(formName);
                               	appiontmentVM.$message({message:'操作成功',type:'success',duration:1000,onClose:function(){
                               		appiontmentVM.searchTable();
                             	    }});
                               }else{
                               	appiontmentVM.$message('操作失败');
                                   console.error(resData);
                               }
                           })
                           .catch(function (error) {
                                console.log(error);
                           });
            	        } else {
            	          console.log('error submit!!');
            	          return false;
            	        }
            	      });
                 }, 
                  //打开取消邀约对话框
                openCancelForm() {
                 var rows = this.multipleSelection;
                    if(rows.length==0){
                       this.$message({
                          message: '请选择邀约数据据进行取消',
                          type: 'warning'
                        });
                       return;
                   }
                   var rowIds = [];
                   for(var i=0;i<rows.length;i++){
                	   var curRow = rows[i];
                       rowIds.push(curRow.id);
                   }
                    if(this.$refs['cancelDigForm']) {
                      this.$refs['cancelDigForm'].resetFields();
                     }
                    this.cancelForm.cancelReason="";
                     var param  = {cancelIdList:rowIds};
                        axios.post('/clue/appiontment/findCancelList',param)
                        .then(function (response) {
                            var data =  response.data;
                            if(data.code=='0'){
                            	if(null!=data.data&&data.data.length>0){
                            		appiontmentVM.$message({
                                        message: "当前选中的邀约来访客户已经填写有效的到访记录或已经提交签约单不可取消邀约",
                                        type: 'error'
                                      }); 
                            		return  ;
                            	 }
                            	 appiontmentVM.cancelFormVisible=true;
                            	
                            }else{
                            	
                            }
                        })
                        .catch(function (error) {
                          console.log(error);
                        }).then(function () {
                        	
                        });
                       
                },
                 //取消邀约数据
                submitCancelForm(formName) {
                this.$refs[formName].validate((valid) => {
                if (valid) {
              	   var rows = this.multipleSelection;
                   if(rows.length==0){
                       this.$message({
                          message: '请选择邀约数据据进行取消',
                          type: 'warning'
                        });
                       return;
                   }
                   var rowIds = [];
                   for(var i=0;i<rows.length;i++){
                	   var curRow = rows[i];
                       rowIds.push(curRow.id);
                   }
                  var reason= this.cancelForm.cancelReason;
                   this.$confirm('确定要取消选中的邀约来访吗？', '提示', {
                       confirmButtonText: '确定',
                       cancelButtonText: '取消',
                       type: 'warning'
                   }).then(() => {
                   	  //删除
                   	var param  = {cancelIdList:rowIds,cancelReason:reason};
                       axios.post('/clue/appiontment/cancelAppiontment',param)
                       .then(function (response) {
                           var data =  response.data;
                           if(data.code=='0'){
                           	appiontmentVM.$message({message:'取消成功',type:'success',duration:1000,onClose:function(){
                           	    appiontmentVM.cancelFormVisible=false;
                           		appiontmentVM.searchTable();
                       	    }});
                           }else{
                           	appiontmentVM.$message({
                                   message: "接口调用失败",
                                   type: 'error'
                                 }); 
                           }
                       })
                       .catch(function (error) {
                         console.log(error);
                       })
                       .then(function () {
                       	
                       });
                   }).catch(() => {
                          
                    });
                } else {
                     console.log('error submit!!');
                    return false;
                 }
               }); 
                   
            },//end
                 deleteAppiontment() {
              	   var rows = this.multipleSelection;
                     if(rows.length==0){
                         this.$message({
                            message: '请选择一条数据进行刪除',
                            type: 'warning'
                          });
                         return;
                     }
                     var rowIds = [];
                     for(var i=0;i<rows.length;i++){
                  	   	var curRow = rows[i];
                  	   	if(curRow.isAllocate==1){
                  	   		appiontmentVM.$message({message: "选择邀约信息已经分配给商务经理，不允许进行删除操作",type: 'warning'}); 
                  	   		return;
                  	   	}
                         rowIds.push(curRow.id);
                     }
                  this.$confirm('确定要删除选中的邀约来访吗？', '提示', {
                      confirmButtonText: '确定',
                      cancelButtonText: '取消',
                      type: 'warning'
                  }).then(() => {
                  	  //删除
                  	var param  = {idList:rowIds};
                      axios.post('/clue/appiontment/deleteAppiontment',param)
                      .then(function (response) {
                          var data =  response.data;
                          if(data.code=='0'){
                          	appiontmentVM.$message({message:'删除成功',type:'success',duration:1000,onClose:function(){
                          		appiontmentVM.searchTable();
                      	    }});
                          }else{
                          	appiontmentVM.$message({
                                  message: "接口调用失败",
                                  type: 'error'
                                }); 
                          }
                      })
                      .catch(function (error) {
                        console.log(error);
                      })
                      .then(function () {
                      	
                      });
                  }).catch(() => {
                         
                  });
              },//end
              //根据电销组查询电销顾问
              getSaleList() {
            	  var param ={};
            	  var orgId=this.appiontmentSearchForm.teleGorupId
                  if(orgId){
                  	param.orgId = orgId;
                  	console.info(param);
                    axios.post('/clue/appiontment/getSaleList', param)
                    .then(function (response) {
                          var result =  response.data;
                          console.info(result);
                          var table=result.data;
                          appiontmentVM.teleSaleOptions= table;
                    })
                    .catch(function (error) {
                         console.log(error);
                    });
                  }else{
                	  this.teleSaleOptions=[];
                  }
                  
              },
              //查看跟进记录
              recordClick(row) {
            	  var param ={};
                  param.clueId = row.clueId;
                  console.info(param);
                  axios.post('/aggregation/tracking/queryList', param)
                  .then(function (response) {
                        var result =  response.data;
                        console.info(result);
                        appiontmentVM.recordTable= result.data;
                        appiontmentVM.recordDialog=true;
                  })
                  .catch(function (error) {
                       console.log(error);
                  });
              },
              //预览客户信息
              viewCustomerInfo() {
            	  var rows = this.multipleSelection;
                  if(rows.length!=1){
                      this.$message({
                         message: '请选择一条数据进行预览',
                         type: 'warning'
                       });
                      return;
                  }
                  window.location.href="/tele/clueMyCustomerInfo/customerInfoReadOnly?clueId="+rows[0].clueId;
              },
              //查看重复手机号资源
              repeatPhonesClick(row) {
                  var param ={};
                  param.id = row.clueId;
                  param.cusPhone = row.cusPhone;
                  console.info(param);
                  axios.post('/clue/appiontment/repeatPhonelist', param)
                  .then(function (response) {
                        var result =  response.data;
                        console.info(result);
                        var table=result.data;
                        appiontmentVM.repeatPhonesTable= table.data;
                        appiontmentVM.repeatPhonesDialog=true;
                  })
                  .catch(function (error) {
                       console.log(error);
                  });
              },
              confirmColumn(){
              	this.dialogFormVisible = false;
              	//处理用户选择的列
              	console.info(this.form.type);
              	var customerShowColun = [];
              	var customerColumn = this.form.type;
              	customerColumn.sort(this.sortNumber);//对选择的列排序
              	var idList=[];
              	for(var i=0;i<customerColumn.length;i++){
              		var curItem = customerColumn[i];
              		var itemArr = curItem.split("_");
              		var obj = {};
              		obj.fieldCode=itemArr[1];
              		obj.displayName=itemArr[2];
              		customerShowColun.push(obj);
              		idList.push(itemArr[3])
              	}
              	this.tableColums = customerShowColun;
              	var param ={};
                param.fieldIdList = idList;
                param.menuCode = "aggregation:appiontmentManager";
                console.info(param);
                if(idList.length!=0){
	                axios.post('/customfield/customField/saveUserField', param)
	                .then(function (response) {
	                	
	                })
	                .catch(function (error) {
	                     console.log(error);
	                });
                }
              },
              initColumn(){
              	//初始化table 列 和 用户自定义列
              	this.allTableColums = fieldList;
              	if(userFieldList.length!=0){
              		var type=[];
                  	for(var i=0;i<userFieldList.length;i++){
                  		type.push(userFieldList[i].sortNum+'_'+userFieldList[i].fieldCode+'_'+userFieldList[i].displayName+'_'+userFieldList[i].fieldId)
                 	}
	              	this.form.type = type;
	              	this.confirmColumn();
              	}else{
	              	this.tableColums = fieldList;
              	}
              	
              },
              sortNumber(a,b) {
                  //对数组中元素，按照数字 从小到大 排序
                  return a.split("_")[0] - b.split("_")[0];
                 }
        },
        created(){
            console.info("create method");
            this.initColumn();
            this.searchTable();
            this.currentBusArea();
           
        },
        mounted(){
           console.info("mounted method");
           document.getElementById('appiontmentManage').style.display = 'block';
        }
    })
    
</script>
</html>