body, html {
    background-color: #f0f5fe;
    /* box-shadow: 0px 0px 21px 5px rgba(58, 132, 244, 0.3) inset; */
    height: 100% !important;
}

.el-icon-arrow-up:before {
    content: "\E60C";
    color: #294366;
}

#merchantHome {
    padding: 33px 40px;
}

#merchantHome .el-date-editor.el-input {
    width: 170px;
    height: 36px;
}

.el-button--primary {
    border-color: rgba(75, 128, 255, 1) !important;
}

#merchantHome .el-input__inner {
    height: 36px;
    /* background: rgba(223, 232, 249, 1); */
    /* border: none; */
}

.el-input.is-active .el-input__inner, .el-input__inner:focus {
    border-color: rgba(75, 128, 255, 1)!important;
}

.el-picker-panel__footer .el-button--default {
    background: linear-gradient(-90deg, rgba(75, 128, 255, 1), rgba(118, 157, 248, 1)) !important;
}

.el-date-table td.current:not(.disabled) span {
    background: linear-gradient(-90deg, rgba(75, 128, 255, 1), rgba(118, 157, 248, 1)) !important;
}

/* 主账户会显示模块 */

/* .blueColorBtn,.blueColorBtn:visited,.blueColorBtn:active{color:#5c6be8; cursor:pointer} */

#merchantHome .fatherShow {
    margin-bottom: 28px;
}

#merchantHome .name {
    height: 140px;
    margin-right: 22px;
    background-color: #fff;
    padding: 30px 0 0 0;
    border-radius: 8px;
    box-shadow: 0px 0px 21px 5px rgba(78, 130, 255, 0.1);
}

#merchantHome .name b {
    font-size: 16px;
    padding-left: 50px;
    line-height: 34px;
    font-weight: normal;
}

#merchantHome .name b span {
    color: #2d2e3e;
}

#merchantHome .name p {
    text-align: center;
    font-size: 16px;
    margin: 10px 0 17px 0;
    color: #2d2e3e;
    line-height: 29px;
}

#merchantHome .name .last {
    display: inline-block;
    max-width: 240px;
    color: #2d2e3e;
    font-weight: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#merchantHome .name .first {
    display: inline-block;
    max-width: 240px;
    color: #3a84f4;
    font-weight: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#merchantHome .name .noMonth {
    /* position: relative; */
    display: flex;
    justify-content: flex-start;
    height: 36px;
}

#merchantHome .name .noMonth .noMonthmoney {
    font-size: 32px;
    line-height: 39px;
}

#merchantHome .name .noMonth b {
    /* position: absolute; */
    left: 2px;
    height: 26px;
    font-size: 20px;
    /* font-weight: 600; */
    color: rgba(45, 46, 62, 1);
    line-height: 42px;
    margin-right: 50px;
}

#merchantHome .name .look {
    text-align: center;
    margin: 0;
}

#merchantHome .name .look span {
    width: 268px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    line-height: 66px;
    padding: 9px 33px;
    border-radius: 4px;
    background:linear-gradient(-90deg,rgba(51,85,232,1),rgba(94,133,255,1));
box-shadow:0px 13px 39px 4px rgba(76,129,255,0.5);
}

#merchantHome .money {
    text-align: center;
    padding-top: 30px;
    height: 194px;
    margin-right: 0;
}

#merchantHome .money .difference {
    font-size: 34px;
}

#merchantHome .money .balance {
    margin-top: 8px;
    margin-bottom: 14px;
}

/* 根据日期筛选模块 */

#merchantHome .homeTime {
    margin-bottom: 28px;
}

#merchantHome .homeTime .time {
    font-size: 14px;
    color: #2d2e3e;
    cursor: pointer;
    line-height: 50px;
    padding: 5px 20px;
}

#merchantHome .homeTime .active {
    border-radius: 4px;
    padding: 5px 20px;
    color: #fff;
    background:linear-gradient(-90deg,rgba(51,85,232,1),rgba(94,133,255,1));
box-shadow:0px 13px 39px 4px rgba(76,129,255,0.5);
}

.active:hover, .active:focus {
    opacity: 0.9;
}

#merchantHome .homeTime .dateTime {
    display: flex;
    font-size: 14px;
    height: 50px;
    color: #2d2e3e;
    align-items: center;
    justify-content: flex-start;
}

#merchantHome .homeTime .dateTime b {
    margin-right: 15px;
    font-weight: normal;
}

#merchantHome .homeTime .grain {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: flex-start;
}

#merchantHome .homeTime .grain b {
    margin-right: 26px;
    font-weight: normal;
    font-size: 14px;
}

#merchantHome .homeTime .query {
    padding: 0;
    margin-top: 10px;
    width: 90px;
    line-height: 30px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    background:linear-gradient(-90deg,rgba(51,85,232,1),rgba(94,133,255,1));
    box-shadow:0px 13px 39px 4px rgba(76,129,255,0.5);
    float: right;
}

#merchantHome .homeTime .query:hover, #merchantHome .homeTime .query:focus {
    opacity: 0.9;
}

/* 获取资源模块 */

#merchantHome .resources {
    margin-bottom: 36px;
}

#merchantHome .resources .content {
    margin-right: 20px;
    padding: 8px 0 16px 37px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 21px 5px rgba(78, 130, 255, 0.1);
}

#merchantHome .resources .other {
    margin-right: 0;
}

#merchantHome .resources .content .top {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 14px;
}

#merchantHome .resources .content .top img {
    margin-top: 5px;
    width: 50px;
    height: 100%;
    margin-right: 14px;
}

#merchantHome .resources .content p {
    font-size: 30px;
    color: #2d2e3e;
    margin-left: 62px;
    line-height: 38px;
}

#merchantHome .textContent {
    height: 50px;
    font-size: 18px;
    font-weight: 400;
    color: rgba(45, 46, 62, 1);
    line-height: 42px;
}

#resourceMap {
    border-radius: 8px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 21px 5px rgba(75, 128, 255, 0.11);
}

.titleButton {
    /* position: absolute; */
    height: 36px;
    left: 310px;
    line-height: 22px;
    margin-top: 3px;
    background:linear-gradient(-90deg,rgba(75,128,255,1),rgba(140,172,245,1));
    box-shadow:0px 13px 39px 4px rgba(76,129,255,0.5)
}

.titleButton:hover, .titleButton:focus {
    background:linear-gradient(-90deg,rgba(75,128,255,1),rgba(140,172,245,1));
    opacity: 0.9;
}

.el-button--text {
    color: rgba(75, 128, 255, 1) !important;
}