<!DOCTYPE html>
<html>
<head th:include="_header_include::frag(~{::title},~{},~{})">
    <title>电销顾问通话记录</title>
     <style>
        .trClientManage .leftBox{/*width: 200px;*/height: auto;border:1px solid #ebeef5;min-height: 480px;}
        .trClientManage .leftTitle{background:#ebeef5;text-indent: 20px;height: 40px;line-height: 40px;}
        .trClientManage .leftTree{padding:10px;}
        .trClientManage .rightTitle{background:#ebeef5;text-indent: 20px;height: 40px;line-height: 40px;}
    </style>
</head>
<body>
<div id="myCallRecordVm" class="trClientManage mainPadding" style="display:none">  
    <el-breadcrumb separator="/" class="elBreadcrumb marginB20">
        <el-breadcrumb-item>Home</el-breadcrumb-item>
        <el-breadcrumb-item>电销中心</el-breadcrumb-item>
        <el-breadcrumb-item><a href="JavaScript:void(0)" data-url="c.html">顾问通话记录</a></el-breadcrumb-item>
    </el-breadcrumb>
    <el-row class="marginB10 greybg padding20">
        
         <el-row :gutter="20">
                 <el-col :span="4">
                         <el-input placeholder="电销姓名"  v-model="searchForm.accountName">
                </el-col> 
               <el-col :span="8">
                       通话时间段  <el-date-picker v-model="searchForm.startTime" type="date" placeholder="选择开始日期"  value-format=" yyyy-MM-dd HH:mm:ss" format="yyyy-MM-dd HH:mm:ss"> </el-date-picker>
                     --
                     <el-date-picker v-model="searchForm.endTime" type="date" placeholder="选择结束日期" value-format=" yyyy-MM-dd HH:mm:ss" format="yyyy-MM-dd HH:mm:ss"> </el-date-picker>
                </el-col>
                
                <el-col :span="3">
                        <a href="javascript:void(0);" @click="searchYesterday" style="color:blue;font-size:15px">【昨天】</a>
                        <a href="javascript:void(0);" @click="searchWeek" style="color:blue;font-size:15px">【近七天】</a>
                        <a href="javascript:void(0);" @click="searchMonth" style="color:blue;font-size:15px">【本月】</a>
                </el-col>
                <el-col :span="3">
                         <el-button   icon="el-icon-search" type="primary" @click="initCallRecordData">搜索</el-button>
                </el-col>
            </el-row>
        
    </el-row>
    <el-row>
    通话总时长：<span style="color:red">{{totalTalkTime | fomatSeconds2}}</span>
        <el-table 
            ref="multipleTable"
            tooltip-effect="dark"
            style="width: 100%"
            border
            :data="callRecordData" 
            >
            <el-table-column type="index" width="50" label="序号"> </el-table-column>
            <el-table-column align="center" prop="accountName" label="电销姓名"></el-table-column>
            <el-table-column align="center" prop="talkTime" label="通话总时长" :formatter="getTalkTimeText"></el-table-column>
            
            
        </el-table>
        <table-pagination :pager="pager" @change="initCallRecordData"></table-pagination>
    </el-row>
    
</div>
</body>
<!-- import common js-->
<div th:include="_footer_include :: #jsLib"></div>
<script th:inline="javascript">
   
</script>

<!-- 当前页面的js -->
<script th:src="@{/js/custom/callrecord/tmTalkTimeCallRecord.js?v=1.0.0}"></script>
</html>