<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="_header_include::frag(~{::title},~{::style},~{})">
    <title>后台管理系统</title>
    <meta charset="UTF-8">
    <style>
        html,body{background: #eff3f6;font-size: 14px;}
        .paymentOffline p{margin-bottom: 10px;line-height:1.7}
    </style>
</head>
<body>
<div id="paymentOffline" class="paymentOffline mainPadding" style="display: none;"> 
    <el-breadcrumb separator="/" class="elBreadcrumb marginB20">
        <el-breadcrumb-item>Home</el-breadcrumb-item>
        <el-breadcrumb-item>线下充值</el-breadcrumb-item>
    </el-breadcrumb>
    <el-row class="borderbox padding20 marginB20"> 
        <div class="marginB20">温馨提示</div>
        <p>1、财务会在3个工作日内审核并查账，如到账将会充值至您的商家帐户，受银行处理时间影响，付款到账时间有可能超出3个工作日，强烈建议采用支付宝/微信实时到账。</p>
        <p>2、如果线下汇款过程中遇到任何问题可随时联系客户顾问</p>
    </el-row>
    <el-row class="borderbox padding20 marginB20"> 
        <p>1.打款至北京快道网络有限公司指定收款账号</p>
        <p>转账途径银行柜台转账、微信支付、网上银行、支付宝；</p>
        <p>收款户名：北京快道网络有限公司</p>
        <p>收款银行：北京招商银行 富力城支行</p>
        <p>收款账号：110918854710802</p>
        <p>2.提交汇款信息</p>
        <p>打款至北京快道网络有限公司账号后，联系客户顾问提交您的汇款信息</p>
        <p>3.汇款结果反馈</p>
        <p>确定打款操作后，可以在订单列表页面查看汇款进度</p>
    </el-row>
</div>
</body>
<!-- import Vue before Element -->
<div th:include="_footer_include :: #jsLib"></div>

<!-- import common js-->
<script th:inline="javascript">  
    var preferentialDTOList=[[${preferentialDTOList}]];//优惠 信息  
    var ocmVM = new Vue({
        el: '#paymentOffline',
        data: function() {
            return { 
               
            }              
        },
        methods: {
            
        },
        created(){
            
        },
        mounted(){
            document.getElementById('paymentOffline').style.display = 'block';
        }
  })
</script>
</html> 