<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="_header_include::frag(~{::title},~{::style},~{::link})">
<title>后台管理系统</title>
<meta charset="UTF-8">
<style>
    
</style>   
<body onload="closeWindow();">  
  
<div >  
    <span id="daojishi"></span>秒之后此页面将自动关闭！
</div> 
</body>
<script>
    var time=10;  
    function closeWindow(){  
        window.setTimeout('closeWindow()',1000);  
        if(time>0){  
            document.getElementById("daojishi").innerHTML=time;  
            time--;  
        }  
        else{  
            window.opener=null; //关闭窗口时不出现提示窗口  
            window.close();  
        }  
    } 
</script>
</html>