<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="_header_include::frag(~{::title},~{},~{})">
    <title>后台管理系统</title>
</head>
<body>
<div id="resourceApply" class="resourceApply mainPadding" style="display: none;">  
    <el-breadcrumb separator="/" class="elBreadcrumb marginB20">
        <el-breadcrumb-item>Home</el-breadcrumb-item>
        <el-breadcrumb-item>资源设置</el-breadcrumb-item>
        <el-breadcrumb-item>资源需求申请</el-breadcrumb-item>
    </el-breadcrumb>
    <el-row class="borderbox">
        <div class="inforTitle">资源需求申请</div> 
        <el-form :model="form" :rules="rules" ref="form" class="padding20" :inline="true">
            <el-row>
                <el-col :span="24">
                    <el-form-item label="商家账号：" :label-width="formLabelWidth">
                        <span>北京快到网络公司</span>
                    </el-form-item>
                </el-col>
                <el-col :span="24">
                    <el-form-item label="申请资源设置：" :label-width="formLabelWidth"></el-form-item>
                </el-col>
                <el-col :span="24">
                    <el-form-item label="周期：" :label-width="formLabelWidth" prop="datetimeStart">
                        <el-date-picker
                            style="width: 200px;"
                            v-model="form.datetimeStart"
                            type="datetime"
                            placeholder="选择日期时间"
                            :disabled="isDisabled">
                        </el-date-picker>
                    </el-form-item>
                    <span style="line-height: 34px;">至</span>
                    <el-form-item label="" prop="datetimeEnd">
                        <el-date-picker
                            style="width: 200px;"
                            v-model="form.datetimeEnd"
                            type="datetime"
                            placeholder="选择日期时间"
                            :disabled="isDisabled">
                        </el-date-picker>
                    </el-form-item>
                </el-col>
                <el-col :span="24">
                    <el-form-item label="资源数量：" :label-width="formLabelWidth" prop="resourceNum">
                       <span style="margin-right: 10px">需要</span><el-input v-model="form.resourceNum" autocomplete="off" maxLength="10" style="width: 100px;" :disabled="isDisabled"></el-input><span style="margin-left: 10px">条资源</span>
                    </el-form-item>
                </el-col>
                <el-col :span="24">
                    <el-form-item label="地域：" :label-width="formLabelWidth" prop="radioProject">
                        <el-radio v-model="form.radioProject" label="1" @change="projectChange" :disabled="isDisabled">不限</el-radio>
                        <el-radio v-model="form.radioProject" label="2" @change="projectChange" :disabled="isDisabled">省</el-radio>
                    </el-form-item>
                    <el-form-item label="" prop="insideProject" v-if="insideProjectShow">
                        <el-select v-model="form.insideProject" prop="radioProject" multiple filterable placeholder="请选择" :disabled="isDisabled" style="width: 292px">
                            <el-option
                                v-for="item in statusOptions"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="24">
                    <el-form-item label="资源需求申请：" :label-width="formLabelWidth" prop="applyStatus">
                        <el-radio v-model="form.applyStatus" label="1" :disabled="isDisabled">开启</el-radio>
                        <el-radio v-model="form.applyStatus" label="2" :disabled="isDisabled">暂停</el-radio>
                    </el-form-item>
                </el-col>
                <el-col :span="24">
                    <el-form-item label="资源需求申请说明：" :label-width="formLabelWidth" prop="content">
                        <el-input type="textarea" v-model="form.content" autocomplete="off" maxLength="50" style="width: 420px" :disabled="isDisabled"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <div class="padding20 f-tac">            
                <el-button type="primary" @click="submitForm('form')" :disabled="isDisabled">提交</el-button>
                <el-button @click="cancel" :disabled="isDisabled">取 消</el-button>
            </div> 
        </el-form>
    </el-row> 
    
</div>
<!-- import common js-->
<div th:include="_footer_include :: #jsLib"></div>
</body>
<script th:inline="javascript">
    var resourceApplyVm= new Vue({
        el: '#resourceApply',
        data: function() {
            return {       
                insideProjectShow:false,//省份下拉默认显示                
                form: {                    
                    datetimeStart:'',
                    datetimeEnd:'',
                    resourceNum:'',
                    radioProject:'1',//单选默认选项
                    applyStatus:'1',//单选默认选项
                    insideProject:[],
                    content:'',
                },
                formLabelWidth: '150px',
                rules:{
                    datetimeStart: [
                        { required: true, message: '规则有效开始时间不能为空', trigger: 'blur' }
                    ],
                    datetimeEnd: [
                        { required: true, message: '规则有效结束时间不能为空', trigger: 'blur' },                        
                    ],
                    resourceNum: [
                        { required: true, message: '资源数量不能为空', trigger: 'blur' }
                    ],
                    insideProject: [
                        { required: true, message: '选择省份不能为空', trigger: 'blur' }
                    ],
                    content: [
                        { required: true, message: '资源需求申请说明不能为空', trigger: 'blur' },                        
                    ]
                },
                statusOptions: [{
                    value: '0',
                    label: '北京'
                }, {
                    value: '1',
                    label: '河北'
                }]
            }           
        },
        methods: {
            submitForm(form) {
                this.$refs[form].validate((valid) => {
                    if (valid) {
                        console.log('submit!');
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            // 单选切换
            projectChange(){
                if(this.form.radioProject=="2"){//省
                    this.insideProjectShow=true;
                }else if(this.form.radioProject=="1"){//不限
                    this.insideProjectShow=false;
                }
            },
            // 取消事件
            cancel(){
                
            }
        },
        created(){
            console.info("create method");
        },
        mounted(){
            document.getElementById('resourceApply').style.display = 'block';
        }
    })
</script>
</html>