<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="_header_include::frag(~{::title},~{},~{})">
<title>添加角色</title>
</head>
<body>
	<div id="roleForm">
		<el-form :model="roleInfoForm" :rules="roleRules" ref="roleForm"
			label-width="100px"> <el-form-item label="角色名称" prop="name">
		<el-input v-model="roleInfoForm.roleName"></el-input> </el-form-item> <el-form-item
			label="访问IP限制" prop="isIpLimit"> <el-radio-group
			v-model="roleInfoForm.isIpLimit"> <el-radio label="0">开放访问</el-radio>
		<el-radio label="1">限制访问</el-radio> </el-radio-group> <el-button  
			type="info">选择访问IP包</el-button> </el-form-item>
		<p>已选访问IP包</p>
		<div>
			<el-table id="PackageTable" ref="PackageInfoTable"
				:data="packagetableData" tooltip-effect="dark"
				style="width: 100%,height:750px"> <el-table-column
				prop="name" label="序号" width="180"> </el-table-column> <el-table-column
				prop="userCount" label="Ip包名"> </el-table-column> <el-table-column
				prop="userCount" label="Ip地址"> </el-table-column> <el-table-column
				prop="userCount" label="操作"> </el-table-column> </el-table>
		</div>
		<p>设置每个模块权限</p>
		<div>
			<el-table id="customerTable" ref="customFieldTable" :data="tableData"
				tooltip-effect="dark" style="width: 100%,height:750px"> <el-table-column
				type="selection" width="55"> </el-table-column> <el-table-column
				prop="name" label="模块菜单" width="180"> </el-table-column> <el-table-column
				prop="userCount" label="操作权限"></el-table-column> <el-table-column
				label="数据权限"></el-table>
		</div>

		<el-form-item> <el-button type="primary"
			@click="submitForm('ruleForm')">立即创建</el-button> <el-button
			@click="resetForm('ruleForm')">重置</el-button> </el-form-item> </el-form>
	</div>

	<div th:include="_footer_include :: #jsLib"></div>

	<script>

 var vm = new Vue({
     el:'#roleForm',
     data:{
    	 roleInfoForm: {
    		 roleName: '',
             isIpLimit: '0',
             
         },
         roleRules: {
             name: [
               { required: true, message: '请输入活动名称', trigger: 'blur' },
               { min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
             ],
             region: [
               { required: true, message: '请选择活动区域', trigger: 'change' }
             ],
             date1: [
            	// 
               { type: 'date',required: true, message: '请选择日期', trigger: 'change' },
               { validator:function(rule,value,callback){
                 
             /*   if(/^1[34578]\d{9}$/.test(value) == false){
                   callback(new Error("请输入正确的手机号"));
               }else{
                   callback();
               } */
                  alert("这是自定义校验");
                  callback();
               }, trigger: 'blur'}
             ],
             date2: [
               { type: 'date', required: true, message: '请选择时间', trigger: 'change' }
             ],
             type: [
               { type: 'array', required: true, message: '请至少选择一个活动性质', trigger: 'change' }
             ],
             resource: [
               { required: true, message: '请选择活动资源', trigger: 'change' }
             ],
             desc: [
               { required: true, message: '请填写活动形式', trigger: 'blur' }
             ]
           },
           pickerOptions1: {
               shortcuts: [{
                 text: '今天',
                 onClick(picker) {
                   picker.$emit('pick', new Date());
                 }
               }, {
                 text: '昨天',
                 onClick(picker) {
                   const date = new Date();
                   date.setTime(date.getTime() - 3600 * 1000 * 24);
                   picker.$emit('pick', date);
                 }
               }, {
                 text: '一周前',
                 onClick(picker) {
                   const date = new Date();
                   date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                   picker.$emit('pick', date);
                 }
               }]
           } 
     },
     methods:{
    	 submitForm(formName) {
   	        this.$refs[formName].validate((valid) => {
   	          if (valid) {
	             var formData = vm.ruleForm;
	             var param={};
	             param.name= formData.name;
	             param.region = formData.region;
	             param.date1 = formData.date1;
	             param.date2 = formData.date2;
	             param.delivery  =formData.delivery;
	             param.resource=formData.resource;
	             param.desc = formData.desc;
	             param.type=formData.type;
	             console.info(param);
	             
	            axios.post(path+'/demo/submitForm', param)
	            .then(function (response) {
	            	console.info(response);
	                vm.$message('提交成功');
	            })
	            .catch(function (error) {
	                 console.log(error);
	            });
	             
   	          } else {
   	        	console.log('数据未通过校验！');
   	            return false;
   	          }
   	        });
   	      },
   	      resetForm(formName) {
   	        this.$refs[formName].resetFields();
   	      },
   	      getFormData:function(){
   	    	axios.get("/demo/getFormData?id=1")
	            .then(function (response) {
	            	if(!response.data){
	            		return;
	            	}
	              vm.ruleForm=response.data;
	              var data =   response.data;
	              //日期类型需要做一步处理
	              vm.ruleForm.date1=new Date(data.date1);
	              
	              vm.ruleForm = data;
	           
	            })
	            .catch(function (error) {
	              console.log(error);
	            })
	            .then(function () {
	               console.info("getTableNum finish");
	            });
   	      }
        
     },
     created(){
         console.info("create method");
         this.getFormData();
         
     },
     mounted(){
        console.info("mounted method");
     }
     
 });
 
</script>
</body>
</html>