<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="_header_include::frag(~{::title},~{},~{})">
<title>角色列表</title>
</head>
<body>
	<div id="roleManagerld">
		<el-form :inline="true" :model="roleListQuery"
			class="demo-form-inline" ref="customFieldQueryForm"> <el-row>
		<el-button v-on:click="addRole" type="info">添加</el-button> <el-button
			type="info">修改</el-button> <el-button type="info">删除</el-button> <el-form-item
			prop="roleName"> <el-input
			v-model="roleListQuery.roleName" placeholder="请输入角色名称"></el-input> </el-form-item> <el-form-item>
		<el-button type="info" @click="queryRoleDataList">搜索</el-button> </el-form-item> </el-row> </el-form>
		<div>
			<el-table id="customerTable" ref="customFieldTable" :data="tableData"
				tooltip-effect="dark" style="width: 100%,height:750px"> <el-table-column
				type="selection" width="55"> </el-table-column> <el-table-column
				prop="name" label="角色名称" width="180"> </el-table-column> <el-table-column
				prop="userCount" label="角色内成员(人)"> </el-table-column> </el-table>
		</div>
	</div>

	<div th:include="_footer_include :: #jsLib"></div>
	<script>

var roleListVM = new Vue({
    el:'#roleManagerld',
    data:{
    	formLabelWidth:'120px',
    	roleListQuery: {
    		roleName: ''
        },
       tableData:[] 
    },
    methods:{ 
    	queryRoleDataList(){//查询按钮
      	  var param = this.roleListQuery; 
            axios.post('/role/roleManager/queryRoleList',param).then(function (response) {
            	//  console.log(response);
                       if(null===response||response.data==null||response.data.code!='0'){
                    	  alert(response.data.message);
                    	  return ;
                       }else{
                    	   roleListVM.tableData =response.data.data; 
                       }
            })
            .catch(function (error) {
              console.log(error);
            })
            .then(function () {
            });  
            
        } ,
        addRole:function (event) {
        	window.location.href="/role/roleManager/addRolePre";
        }
    },
    created(){
    	 //初始化数据列表
    	this.queryRoleDataList();
    },
     mounted(){
    	  
     }
 });
</script>
</body>
</html>